<div class="tab-pane" id="blogs_tab">
  <div class="">
    <div class="row">
      <div class="heading-featured col-md-7">
        <h1>Your Blogs</h1>
      </div>

      <%= render partial: 'users/blogs/filters', locals: { type: 'your-blogs', user: user } %>
    </div>

    <div class="row" id='your-blogs'>
    </div>

    <div class="row">
      <div class="col-md-12 pagination-div flex-sb">
        <div class="">
          <%= link_to '← Previous Page', user_blogs_path(user_id: user.id, your_blogs_page: @your_blogs&.previous_page, type: 'your-blogs'), remote: true, id: 'your-blogs-previous', class: @your_blogs&.previous_page ? '' : 'hidden'  %>
        </div>

        <div class="">
          <%= link_to 'Next Page →', user_blogs_path(user_id: user.id, your_blogs_page: @your_blogs&.next_page, type: 'your-blogs'), remote: true, id: 'your-blogs-next', class: @your_blogs&.next_page ? '' : 'hidden' %>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="heading-featured col-md-7">
      <h1>Liked Blogs</h1>
    </div>

    <%= render partial: 'users/blogs/filters', locals: { type: 'liked-blogs', user: user } %>
  </div>

  <div class="row" id='liked-blogs'>
  </div>

  <div class="row">
    <div class="col-md-12 pagination-div flex-sb">
      <div class="text-left">
        <%= link_to '← Previous Page', user_blogs_path(user_id: user.id, liked_blogs_page: @liked_blogs&.previous_page, type: 'liked-blogs'), remote: true, id: 'liked-blogs-previous', class: @liked_blogs&.previous_page ? '' : 'hidden'  %>
      </div>

      <div class="text-right">
        <%= link_to 'Next Page →', user_blogs_path(user_id: user.id, liked_blogs_page: @liked_blogs&.next_page, type: 'liked-blogs'), remote: true, id: 'liked-blogs-next' %>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="modal fade" id="new-blog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" style="width: 80%">
    <div class="modal-content" style="width: 100%">
      <div class="modal-header">
        <button type="button" class="close" id="remove-modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <span class="">Create New Blog
          </span>
        </h4>
      </div>
      <div id="create-blog">

        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
  function blog_show(id){
    blog_url = $(".dynamic-"+id).attr("id")
    $.ajax({
      url: '/show_blog/'+id,
      type: 'get',
      data: {id: id},
      success: function(data) {
        $('.create-blog-modal').html(data);
        window.history.replaceState({},'','/blogs/'+ blog_url);
      },
      error: function(data) {
        $('.loader').hide()
        alert('Something Wentwrong!')
      }
    })
  }

  function edit_blog(id){
    $(".create-blog-modal").html('');
    $("#myModal").modal('hide')
    $.ajax({
      url: id+"/edit",
      type: 'get',
      data: {edit_blog: 0},
      success: function(data) {
        $('body').addClass('modal-open');
        $('body').removeAttr('style');
        $('#create-blog').html(data);
        history.pushState({}, null, window.location.href + "/edit")
      },
      error: function(data) {
        $('.loader').hide()
        alert('Something Wentwrong!')
      }
    })
  }
  
  $("#remove-modal").click(function(){
    $("#new-blog").modal("hide")
    $("#create-blog").html('');
    $(".modal-backdrop").removeClass();
    window.history.replaceState({},'','/dashboard');
  })
</script>