<%= form_for @page, url: banner_take_snapshots_path, method: :post,  html: { id: "snapshot_banner", multipart: true }    do |f| %>
  <div class="modal-body">
    <div class="modal-holder text-center">
      <%= image_tag snapshot_banner_url(@page), size: "80x80", alt: "Add icon", id: 'blah' %>
      <label for="file_name" id="file-name"><%= snapshot_banner_name(@page) %></label> </br>
      <div class="field form-group" id="image-upload-button-div">
        <div class="fileUpload start blog-imgUpload">
          <%= f.file_field :snapshot_banner, id: 'bannerUpload', class: "filestyle upload", "data-input" => false, accept: "image/png,image/gif,image/jpeg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t(:cancel_label) %></button>
    <%= f.submit t(:save_label), :class=>'btn btn-primary', id: "save-pic-button" %>
  </div>
<% end %>

<script>
  $(":file").filestyle({input: false});
  $('#save-pic-button').attr("disabled", true)
  $("#bannerUpload").change(function () {
    changeFile(this);
  });

  function changeFile(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      var name = input.files[0].name
      var fileType = input.files[0].type
      var ValidImageTypes = ["image/gif", "image/jpeg", "image/png"];

      if ($.inArray(fileType, ValidImageTypes) < 0) {
        return alert("File type not allowed.")
      }

      reader.onload = function (e) {
        var st = e.target.result;
        $('#blah').attr('src', e.target.result);
      };

      $('#file-name').text(name);
      $('#save-pic-button').attr("disabled", false)
      reader.readAsDataURL(input.files[0]);
    }
}
</script>
