<div class="col-md-6 setting-holder account-style">
  <div class="row">
    <div class="col-md-12">
      <div class="main">
        <h2> <i class="fa fa-cog"></i> <%= t('acc_settings.title') %> </h2>
      </div>
      <hr>
    </div>
  </div>

  <div class="row" id="email">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 account-heading-style">
          <h3><%= t('users.email_label') %></h3>
        </div>
      </div>

      <div class="box-shadow">
        <div class="row">
          <div class="col-md-12">
            <%= form_tag update_email_users_path, id: "change-email-form" do |f| %>
              <%= hidden_field_tag :id, current_user.id %>
              <div class="form-group">
                <label><%= t('acc_settings.current_email_label') %></label>
                <%= email_field_tag :current_email, params[:current_email], class: "form-control", placeholder: "Please enter your current email", required: true %>
              </div>
              <div class="form-group">
                <label><%= t('acc_settings.new_email_label') %></label>
                <%= email_field_tag :new_email, params[:new_email], class: "form-control", required: true %>
              </div>
              <%= submit_tag t(:save_label), class: "btn btn-lg btn-block btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-12">
      <div class="row" id="social_icon">
        <div class="col-md-12 account-heading-style">
          <h3><%= t('users.social_icon') %></h3>
        </div>
      </div>

      <div class="box-shadow">
        <div class="row">
          <div class="col-md-12">
            <%= form_for current_user.profile do |f| %>
              <div class="form-group">
                <label><%= t('users.facebook_link') %></label>
                <%= f.text_field :facebook, class: "form-control", placeholder: "facebook link", required: true %>
              </div>
              <div class="form-group">
                <label><%= t('users.instagram_link') %></label>
                <%= f.text_field :instagram, class: "form-control", placeholder: "instagram link" %>
              </div>
              <div class="form-group">
                <label><%= t('users.youtube_link') %></label>
                <%= f.text_field :youtube, class: "form-control", placeholder: "youtube link" %>
              </div>
              <%= f.submit t(:save_label), class: "btn btn-lg btn-block btn-primary" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Change Password Box !-->
    <% unless current_user.social_login %>
      <div class="col-md-12">
        <div class="row" id="password">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h3><%= t('users.password_label') %></h3>
              </div>
            </div>

            <div class="box-shadow">
              <div class="row">
                <div class="col-md-12">
                  <%= form_tag update_password_users_path do |f| %>
                    <%= hidden_field_tag :id, current_user.id %>
                    <div class="form-group">
                      <label><%= t('acc_settings.current_password_label') %></label>
                      <%= password_field_tag :current_password, "", class: "form-control", placeholder: "**********", required: true %>
                    </div>

                    <div class="form-group">
                      <label><%= t('acc_settings.new_password_label') %></label>
                      <%= password_field_tag :password, "", class: "form-control", required: true %>
                    </div>

                    <div class="form-group">
                      <label><%= t('acc_settings.rept_new_passwd_label') %></label>
                      <%= password_field_tag :password_confirmation, "", class: "form-control", required: true %>
                    </div>
                    <%= submit_tag t(:save_label), class: "btn btn-lg btn-block btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Add/update phonenumber Box !-->
    <div class="col-md-12">
      <div class="row" id="phone_number">
        <div class="col-md-12 account-heading-style">
          <h3><%= t('orders.index.table_headers.number_label') %></h3>
        </div>
      </div>

      <div class="box-shadow">
        <div class="row">
          <div class="col-md-12">
            <%= form_for current_user.profile do |f| %>
                <div class="form-group">
                  <%= f.text_field :phone_number, class: "form-control", placeholder: "+--", required: true %>
                </div>
                <%= f.submit t(:save_label), class: "btn btn-lg btn-block btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Add/update personal Details Box !-->
    <div class="col-md-12">
      <div class="row" id="personal_details">
        <div class="col-md-12 account-heading-style">
          <h3><%= t('acc_settings.personal_details_label') %></h3>
        </div>
      </div>

      <div class="box-shadow">
        <%= form_for current_user.profile do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.text_field :first_name, class: "form-control", placeholder: "#{t('users.firstname_label')} *", max_length: 100, required: true %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= f.text_field :surname, class: "form-control", placeholder: "#{t('users.lastname_label')} *", max_length: 100, required: true %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group" >
                <%= f.select(:gender, options_for_select(["Male", "Female"], selected: f.object.gender), {prompt: "#{t('users.select_gender_label')} *"}, {class: "form-control", required: true}) %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group date" data-provide="datepicker">
                <%= f.text_field :date_of_birth, class: "form-control", placeholder: "#{t('users.date_of_birth_label')} *", id: "data-date", required: true %>
                <div class="input-group-addon date-arrow-down">
                  ▾
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <%= f.submit t(:save_label), class: "btn btn-lg btn-block btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row" id="shipping_address">
        <div class="col-md-12 account-heading-style">
          <h3><%= t('acc_settings.shipping_address_label') %></h3>
        </div>
      </div>

      <div class="box-shadow">
        <div class="row">
          <%= form_for current_user.profile do |f| %>
            <div class="col-md-12">
              <div class="form-group">
                <label><%= t('users.address_line1_label') %></label>
                <%= f.text_field :address_line_1, class: "form-control", placeholder: t('users.address_line1_label') %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label><%= t('users.address_line2_label') %></label>
                <%= f.text_field :address_line_2, class: "form-control", placeholder: t('users.address_line2_label') %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" >
                <label><%= "#{t('orders.index.table_headers.province_label')}/ #{t('users.state_label')}" %></label>
                <%= f.select :state, options_for_select(State.pluck(:name, :name), selected: get_province(f.object.state)), {prompt: 'Select Province *'}, { class: "form-control", id: 'select-state' } %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" >
                <label><%= t('orders.index.table_headers.district_label') %></label>
                <%= f.select :city, options_for_select(@cities, selected: get_city(f.object.city)), {prompt: 'Select Disctrict *'}, { class: "form-control" , id: 'cities' } %>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label><%= t('users.zipcode_label') %></label>
                <%= f.text_field :zip_code, class: "form-control", placeholder: "00000" %>
              </div>
            </div>
            <div class="col-md-12">
              <%= f.submit t(:save_label), class: "btn btn-lg btn-block btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row" id="bank_account">
        <div class="col-md-12 account-heading-style">
          <h3><%= t('users.billing_info.bank_account_label') %></h3>
        </div>
      </div>

      <div class="box-shadow" >
        <div class="row">
          <%= form_for current_user.profile do |f| %>
            <div class="col-md-12">
              <div class="form-group">
                <label><%= t('users.billing_info.ncn_number_label') %> *</label>
                <%= f.text_field :security_number, class: "form-control", placeholder: "000 000 000", required: true %>
              </div>
              <div class="form-group">
                <label><%= t('users.billing_info.bank_branch_name_label') %> *</label>
                <%= f.text_field :bank_name, class: "form-control", placeholder: "ex techban", required: true %>
              </div>
              <div class="form-group">
                <label><%= t('users.billing_info.account_name_label') %></label>
                <%= f.text_field :acc_holder_name, class: "form-control", placeholder: "ex John Doe" %>
              </div>
              <div class="form-group">
                <label><%= t('users.billing_info.account_number_label') %> *</label>
                <%= f.text_field :account_number, class: "form-control", placeholder: "000000 0000000 ", required: true %>
              </div>
              <%= f.submit t(:save_label), class: "btn btn-lg btn-block btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="col-md-3 setting-holder account-right-setting">
  <div class="row">
    <div class="col-md-12">
      <ul class="account-list">
        <li class="active"><a class="" href="#email">Email</a></li>
        <li><a href="#social_icon">Social Links</a></li>
        <% unless current_user.social_login %>
          <li><a href="#password">Password</a></li>
        <% end %>
        <li><a href="#phone_number">Phone Number</a></li>
        <li><a href="#personal_details">Personal Details</a></li>
        <li><a href="#shipping_address">Shipping Address</a></li>
        <li><a href="#bank_account">Bank Account</a></li>
      </ul>
    </div>
  </div>
</div>

<script>
  $('.account-list li a').click(function(event){
    event.preventDefault();
    $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top }, 500);
    $('.account-list li').removeClass('active');
    $(this).parent('li').addClass('active');
  })

  $("#change-email-form").validate({
    rules: {
      "new_email": {
        required: true,
        emailExt: true
      },
      "current_email": {
        required: true,
        emailExt: true
      }
    },
    messages: {
      "new_email": {
        required: "Please Enter email"
      },
      "current_email": {
        required: "Please Enter Email"
      }
    }
  });

  jQuery.validator.addMethod("emailExt", function(value, element, param) {
  return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
  },'Please Enter A Valid Email Address.');

  $('#select-state').change(function(){
    val = $(this).val();
    $.ajax({
      url: `/cities?state=${val}`,
      type: 'get'
    });
  })
</script>
