<div class="col-md-6 setting-holder account-style">
  <div class="row">
    <div class="col-md-12">
      <div class="main">
        <h2> <i class="fa fa-cog"></i> Account Settings </h2>
      </div>
      <hr>
    </div>
  </div>

<div class="row" id="email">
   <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 account-heading-style">
            <h3>Email</h3>
          </div>
        </div>

      <div class="box-shadow">
        <div class="row">
          <div class="col-md-12">
            <%= form_tag update_email_users_path, id: "change-email-form" do |f| %>
              <%= hidden_field_tag :id, current_user.id %>
              <div class="form-group">
                <label>Current Email</label>
                <%= email_field_tag :current_email, params[:current_email], class: "form-control", placeholder: "Please enter your current email", required: true %>
              </div>
              <div class="form-group">
                <label>New Email</label>
                <%= email_field_tag :new_email, params[:new_email], class: "form-control", required: true %>
              </div>
              <%= submit_tag "Save", class: "btn btn-lg btn-block btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>

      <% unless current_user.social_login %>
        <div class="row" id="password">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h3>Password</h3>
              </div>
            </div>

            <div class="box-shadow">
              <div class="row">
                <div class="col-md-12">
                  <%= form_tag update_password_users_path do |f| %>
                      <%= hidden_field_tag :id, current_user.id %>
                      <div class="form-group">
                        <label>Current Password</label>
                        <%= password_field_tag :current_password, "", class: "form-control", placeholder: "**********", required: true %>
                      </div>
                      <div class="form-group">
                        <label>New Password</label>
                        <%= password_field_tag :password, "", class: "form-control", required: true %>
                      </div>
                      <div class="form-group">
                        <label>Repeat New Password</label>
                        <%= password_field_tag :password_confirmation, "", class: "form-control", required: true %>
                      </div>
                      <%= submit_tag "Save", class: "btn btn-lg btn-block btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>


      <div class="row" id="phone_number">
          <div class="col-md-12 account-heading-style">
            <h3>Phone Number</h3>
          </div>
        </div>


      <div class="box-shadow">
        <div class="row">
          <div class="col-md-12">
            <%= form_for current_user.profile do |f| %>
                <div class="form-group">
                  <%= f.text_field :phone_number, class: "form-control", placeholder: "+--", required: true %>
                </div>
                <%= f.submit "Save", class: "btn btn-lg btn-block btn-primary" %>
            <% end %>
          </div>
        </div>
       </div>



      <div class="row" id="personal_details">
          <div class="col-md-12 account-heading-style">
            <h3>Personal Details</h3>
          </div>
        </div>
      <div class="box-shadow">
        <div class="row">
          <%= form_for current_user.profile do |f| %>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.text_field :first_name, class: "form-control", placeholder: "First Name *", max_length: 100, required: true %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.text_field :surname, class: "form-control", placeholder: "Last Name *", max_length: 100, required: true %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
              <div class="form-group" >
              <%= f.select(:gender, options_for_select(["Male", "Female"], selected: f.object.gender), {prompt: 'Select Gender *'}, {class: "form-control", required: true}) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group date" data-provide="datepicker">
           <%= f.text_field :date_of_birth, class: "form-control", placeholder: "Date Of Birth*", id: "data-date", required: true %>
              <div class="input-group-addon date-arrow-down">
                ▾
              </div>
          </div>
        </div>
        
          <div class="col-md-12">
            <%= f.submit "Save", class: "btn btn-lg btn-block btn-primary" %>
          <% end %>
            </div>
        </div>
      </div>

      <div class="row" id="shipping_address">
          <div class="col-md-12 account-heading-style">
            <h3>Shipping Address</h3>
          </div>
        </div>
      <div class="box-shadow">
        <div class="row">
          <%= form_for current_user.profile do |f| %>
          <div class="col-md-12">
                <div class="form-group">
                  <label>Address line 1</label>
                  <%= f.text_field :address_line_1, class: "form-control", placeholder: "Address Line 1" %>
                </div>
            </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address line 2</label>
                  <%= f.text_field :address_line_2, class: "form-control", placeholder: "Address Line 2" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" >
                  <label>State</label>
                  <%= f.select(:state, options_for_select(states, selected: f.object.state), {prompt: 'Select State *'}, { class: "form-control", required: true }) %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" >
                  <label>City</label>
                  <%= f.select(:city, options_for_select(cities, selected: f.object.city), {prompt: 'Select City *'}, { class: "form-control", required: true }) %>
                </div>
              </div>
            <div class="col-md-12">
                <div class="form-group">
                  <label>Zip code</label>
                  <%= f.text_field :zip_code, class: "form-control", placeholder: "00000" %>
                </div>
            </div>
              <div class="col-md-12">
                <%= f.submit "Save", class: "btn btn-lg btn-block btn-primary" %>
              </div>
          <% end %>
        </div>
      </div>

        <div class="row" id="bank_account">
          <div class="col-md-12 account-heading-style">
            <h3>Bank  Account</h3>
          </div>
        </div>


      <div class="box-shadow" >
        <div class="row">
          <%= form_for current_user.profile do |f| %>
            <div class="col-md-12">
              <div class="form-group">
                <label>National Security Number *</label>
                <%= f.text_field :security_number, class: "form-control", placeholder: "000 000 000", required: true %>
              </div>
              <div class="form-group">
                <label>Bank Name and Branch *</label>
                <%= f.text_field :bank_name, class: "form-control", placeholder: "ex techban", required: true %>
              </div>
              <div class="form-group">
                <label>Account Holder's Name</label>
                <%= f.text_field :acc_holder_name, class: "form-control", placeholder: "ex John Doe" %>
              </div>
              <div class="form-group">
                <label>Account number *</label>
                <%= f.text_field :account_number, class: "form-control", placeholder: "000000 0000000 ", required: true %>
              </div>
              <%= f.submit "Save", class: "btn btn-lg btn-block btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3 setting-holder account-right-setting">
  <div class="row">
    <div class="col-md-12">
      <ul class="account-list">
        <li class="active"><a class="" href="#email">Email</a></li>
        <% unless current_user.social_login %>
          <li><a href="#password">Password</a></li>
        <% end %>
        <li><a href="#phone_number">Phone Number</a></li>
        <li><a href="#personal_details">Personal Details</a></li>
        <li><a href="#shipping_address">Shipping Address</a></li>
        <li><a href="#bank_account">Bank Account</a></li>
      </ul>
    </div>
  </div>
</div>

<script>
  $('.account-list li a').click(function(){
    $('.account-list li').removeClass('active');
    $(this).parent('li').addClass('active');
  })

  $("#change-email-form").validate({
    rules: {
      "new_email": {
        required: true,
        emailExt: true
      },
      "current_email": {
        required: true,
        emailExt: true
      }
    },
    messages: {
      "new_email": {
        required: "Please Enter email"
      },
      "current_email": {
        required: "Please Enter Email"
      }
    }
  });

  jQuery.validator.addMethod("emailExt", function(value, element, param) {
  return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
  },'Please Enter A Valid Email Address.');
</script>
