<!--<h1>Welcome</h1>-->
<!--<%#= link_to('Logout', destroy_user_session_path, method: :delete) %>-->



<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
    <%= render partial: "shared/side_bar" %>


    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="main">
            <h2> <i class="fa fa-dashboard"></i> Dashboard</h2>
          </div>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Referral Url:</h2>

          <div class="box-shadow">

            <div id="referral-div">https://test-saint.myshopify.com/?referral_url=<%= current_user.referral %></div>
          </div>
        </div>
      </div>
      
      <div class="row">

        <div class="col-md-12">
          <h3>Last Incomes</h3>
          <div class="box-shadow">
            <p>You'll see the list of sold products here. Add your products and design them to the blog posts</p>
            <button class="btn btn-default">Go to the my products page</button>
          </div>
        </div>
      </div>



    </div>
  </div>

</div>


<div id="selectRole" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content select-role-holder">
      <div class="modal-body">
        <div class="modal-holder">
          <h3 class="text-center">Select your role</h3>
          <div class="row">

            <!--<#% Role.all.each do |role| %>-->
            <div class="col-md-6 text-center">
              <div class="role-box"  id="<%= Role.first.id %>" onclick="highlight_div(<%= Role.first.id %>)">
                <!--<i class="far fa-image"></i>-->
                <div class="user-image">

                </div>
                <h3 style="cursor: pointer"  class="role_div"><%= Role.first.name %></h3>
                <p>You'll be able add products to wish list, see shipping status, receive coupons </p>
              </div>
            </div>
            <div class="col-md-6 text-center" >
              <div class="role-box" id="<%= Role.last.id %>" onclick="highlight_div(<%= Role.last.id %>)">
                <div class="user-image">

                </div>
                <h3 style="cursor: pointer"  class="role_div"><%= Role.last.name %></h3>
                <p>You'll be able add your products, post blogs together with products and check statistics </p>
              </div>
            </div>
            <%# end %>
            <div class="col-md-12">
              <%= hidden_field_tag :role_id  %>
              <a href="javascript:void(0);" onclick="add_role();" class="btn btn-bottom btn-primary btn-block btn-lg" id="submit-role" disabled>continue</a>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    </div>

  </div>
</div>

<div id="afterSelectRole" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-holder">
          <div id="current_user_role">
            <h3 class="text-center">Hi <%= current_user.name %>! You're successfully registered as <%= current_user.role.present? ? current_user.role.name : "" %> </h3>
          </div>
          <p>We have sent a confirmation link to your email. Please verify your account.</p>
          <div style="text-align: center">
            <button class="btn btn-default">open catalog</button>
            <button class="btn btn-default">Go to brands</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="add_partner_information" class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <%= form_for :partner_information, url: add_partner_information_path, :remote => true, method: "POST", :html => {:id =>"save_partner_information"}  do |f| %>
          <div class="modal-body">
            <div class="modal-holder">
              <h3 class="text-center"><%= current_user.name %>! Became a Partner of "saintlbeau.com"</h3>


            </div>
            <div class="stepwizard">
              <div class="stepwizard-row row setup-panel">
                <div class="stepwizard-step pd-l-0 pd-r-0 col-md-6 ">
                  <a href="#step-1" type="button" class="btn btn-success btn-circle">1) Partner Information</a>
                </div>
                <div class="stepwizard-step pd-l-0 pd-r-0 col-md-6">
                  <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2) Billing Information</a>

                </div>

              </div>
            </div>

            <div class="panel panel-primary setup-content" id="step-1">

              <div class="panel-body">
                <div id="partner-section">
                  <div class="form-group">
                    <%= f.label :store_name %><br />
                    <%= f.text_field :store_name, autofocus: true, placeholder: "Enter Store Name", class: 'form-control', required: 'true' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :phone_no %><br />
                    <%= f.text_field :phone_no, placeholder: "Enter Phone Number", class: 'form-control' , required: 'true' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :address %><br />
                    <%= f.text_field :address, placeholder: "Enter address", class: 'form-control' , required: 'true' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :id_number %><br />
                    <%= f.text_field :id_number, placeholder: "00000000 000", class: 'form-control' , required: 'true' %>
                  </div>
                </div>
                <button class="btn btn-primary nextBtn btn-lg btn-block pull-right" type="button">Continue</button>
              </div>
            </div>

            <div class="panel panel-primary setup-content" id="step-2">

              <div class="panel-body">
                <div id="billing-section">
                  <div class="form-group">
                    <%= f.label :bank_name %><br />
                    <%= f.text_field :bank_name, placeholder: "Enter Bank Name", class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :account_number %><br />
                    <%= f.text_field :account_number, placeholder: "Enter Account Number", class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :account_name %><br />
                    <%= f.text_field :account_name, placeholder: "Enter Account Name", class: 'form-control' %>
                  </div>
                </div>
                <!--<button class="btn btn-primary btn-lg  pull-right" type="button">Finis!</button>-->
              </div>
            </div>







          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
            <%= f.submit :class=>'btn btn-primary' %>
          </div>
          </div>
      <% end %>
      </div>

</div>

<script>
    $(document).ready(function () {
        $("#save_partner_information").validate({
            rules: {
                "partner_information[store_name]": {
                    required: true
                },
                "partner_information[phone_no]": {
                    required: true
                },
                "partner_information[address]": {
                    required: true
                },
                "partner_information[id_number]": {
                    required: true
                },
                "partner_information[bank_name]": {
                    required: true
                },
                "partner_information[account_number]": {
                    required: true
                },
                "partner_information[account_name]": {
                    required: true
                }

            },
            messages: {
                "partner_information[store_name]": {
                    required: "Enter store name"
                },
                "partner_information[phone_no]": {
                    required: "Enter phone number"
                },
                "partner_information[address]": {
                    required: "Enter store address"
                },
                "partner_information[id_number]": {
                    required: "Enter id number"
                },
                "partner_information[bank_name]": {
                    required: "Enter bank name"
                },
                "partner_information[account_number]": {
                    required: "Enter Account Number"
                },
                "partner_information[account_name]": {
                    required: "Enter Account Name"
                }
            }
        });
    });
    <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
    toastr['<%= type %>']('<%= f[1] %>', '', {"closeButton": true, "debug": false, "positionClass": "toast-top-right", "onclick": null, "showDuration": "300", "hideDuration": "1000", "timeOut": "5000", "extendedTimeOut": "1000", "showEasing": "swing", "hideEasing": "linear", "showMethod": "fadeIn", "hideMethod": "fadeOut" });
    <% end %>
    <% if @role_selection %>
    $('#selectRole').modal('show');
    <% end %>
    //    $('#add_partner_information').modal('show');

    function highlight_div(id){
        $(".role-box").attr("style", "border: 3px solid  #f4f8fb");
        $('#role_id').val(id);
        $('#submit-role').removeAttr('disabled');
        $("#" + id).attr("style", "border:3px solid #337ab7");
    }
    function add_role(){
        var role_id = $('#role_id').val();
        $.ajax({
            url:'/update_user_role?role_id='+role_id,
            type:'get',
            dataType:'json',
            processData:false,
            success:function (data) {
                $('#selectRole').modal('hide');
                $('#current_user_role').load(' #current_user_role');
                if(data.buyer == "true"){
                    $('#afterSelectRole').modal('show');

                }else{
                    $('#add_partner_information').modal('show');
                }
            },
            error:function (data) {
                alert ('Error');
                //    window.location.reload();
            }
        });
    }


    $(document).ready(function () {

        var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                    $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-success').addClass('btn-default');
                $item.addClass('btn-success');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),
                    isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-success').trigger('click');
    });
</script>