<div id="selectRole" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content select-role-holder">
      <div class="modal-body">
        <div class="modal-holder">
          <h3 class="text-center">Select your role</h3>
          <div class="row">
            <div class="col-md-6 text-center">
              <div class="role-box"  id="<%= buyer.id %>" onclick="highlight_div(<%= buyer.id %>)">
                <div class="user-image">
                  <%= image_tag 'user-img-2.png' %>
                </div>
                <h3 style="cursor: pointer"  class="role_div"><%= buyer.name %></h3>
                <p>You will be able to see orders, use wishlist, see shipping status and receive coupons.</p>
              </div>
            </div>

            <div class="col-md-6 text-center" >
              <div class="role-box" id="<%= ambassador.id %>" onclick="highlight_div(<%= ambassador.id %>)">
                <div class="user-image">
                  <%= image_tag 'user-img-2.png' %>
                </div>
                <h3 style="cursor: pointer"  class="role_div"><%= ambassador.name %></h3>
                <p>You will be able to see your sales, add blogs and check statistics.</p>
              </div>
            </div>

            <div class="col-md-12">
              <%= hidden_field_tag :role_id  %>
              <a href="javascript:void(0);" onclick="add_role();" class="btn btn-bottom btn-primary btn-block btn-lg" id="submit-role" disabled>continue</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/partner_info' %>

<script>
  <% if @role_selection %>
    $('#selectRole').modal('show');
  <% end %>

  <% if @profile %>
    $('#add_partner_information').modal('show');
  <% end %>

  $(document).ready(function () {
    setCookies();
    $('body').addClass('modal-dark');
    $("#save_partner_information").validate({
        rules: {
            "user[phone_number]": {
                required: true
            },
            "user[identity_card]": {
                required: true
            },
            "user[profile][bank_name]": {
                required: true
            },
            "user[profile][acc_holder_name]": {
                required: true
            },
            "user[profile][account_number]": {
                required: true
            }

        },
        messages: {
            "user[phone_number]": {
                required: "Enter Phone number"
            },
            "user[identity_card]": {
                required: "Enter identity card number"
            },
            "user[profile][bank_name]": {
                required: "Enter bank name"
            },
            "user[profile][acc_holder_name]": {
                required: "Enter account title"
            },
            "user[profile][account_number]": {
                required: "Enter account number"
            }
        }
    });

    function setCookies(){
      if (Cookies.get('saintlbeau_user_email')) { return; }
      email = '<%= current_user.email %>'
      Cookies.set('saintlbeau_user_email', email, { expires: 365, domain: 'saintlbeau.com' })
    }
  });

  function highlight_div(id){
    $(".role-box").attr("style", "border: 3px solid  #f4f8fb");
    $('#role_id').val(id);
    $('#submit-role').removeAttr('disabled');
    $("#" + id).attr("style", "border:3px solid #337ab7");
  }

  function add_role(){
    var role_id = $('#role_id').val();
    if (role_id == ""){
      return false;
    }
    $.ajax({
      url:'/update_user_role?role_id='+role_id,
      type:'get',
      dataType:'json',
      processData:false,
      success:function (data) {
        $('body').removeClass('modal-dark')
        $('#selectRole').modal('hide');
        $('#current_user_role').load(' #current_user_role');
        if(data.buyer == "true"){
          window.location.href = '/dashboard'
        }else{
          $('#add_partner_information').modal('show');
        }
      },
      error:function (data) {
          alert ('Error');
      }
    });
  }

  $(document).ready(function () {
    function setCookies(){
      if (Cookies.get('saintlbeau_user_email')) { return; }
      email = '<%= current_user.email %>'
      Cookies.set('saintlbeau_user_email', email, { expires: 365, domain: 'saintlbeau.com' })
    }

    setCookies();
  });
</script>

<style>
    .modal-dark .modal-backdrop{
        opacity: 1;
    }
</style>