<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="main">
            <h2> <i class="fa fa-share-alt fa-lg fa-fw sidebar-icon"></i> Share With Friends</h2>
          </div>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box-shadow">
            <% if current_user.is_admin? %>
              <div class="row">
                <div class="col-md-12 text-right cu-btn-holder">
                  <%= link_to edit_share_with_friends_path, class: "btn btn-default" do %>
                    <i class="fa fa-pencil"></i> Edit
                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="row">

              <div class="col-md-12">
             
                <p class="text-center"><%= html_safe_content @share_with_friends.reward_text %></p>
                <span class="text-center" data-target="#coinModal" data-toggle="modal"><a href="javascript:void(0);"><%= html_safe_content @share_with_friends.earn_coins_text %></a></span>
                
                <div class="col-md-12">
                  <div class="form-box" style="overflow: hidden">
                    <input type="text" style="width: 68%;
                      float: left;
                      font-size: 20px; word-wrap: break-word" id="clipboardShareFriend" value=" https://ambassador.saintlbeau.com?invite=<%= current_user.email %>">
                    <a href="javascript:void(0);" onclick="clipboardShareFriend()"  class="btn btn-default pull-right">Copy Share link</a>
                  </div>
                </div>
              </div>
            </div>

            <% url = "https://ambassador.saintlbeau.com?invite=#{current_user.email}" %>
            <div class="row text-center">
              <div class="col-md-4 ">
                <a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" target="_blank" class="btn btn-primary btn-block"> <i class="fa fa-facebook"></i> <%= @share_with_friends.fb_btn_text %></a>
              </div>

              <div class="col-md-4">
                <!--<a href="https://twitter.com/intent/tweet?text=“<%#= "testing here" %>”&url=<%#= url %>" target="_blank" class="btn btn-info btn-block"> <i class="fa fa-twitter"></i> Share on Twitter</a>-->
                <a href="https://twitter.com/intent/tweet?url=<%= url %>" target="_blank" class="btn btn-info btn-block"> <i class="fa fa-twitter"></i><%= @share_with_friends.twitter_btn_text %></a>
              </div>

              <div class="col-md-4">
                <a href="mailto:someone@example.com?Subject=Hello&Body=<%= url %>" target="_top" class="btn btn-warning btn-block"> <i class="fa fa-envelop"></i><%= @share_with_friends.email_btn_text %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function clipboardShareFriend() {
    var copyText = document.getElementById("clipboardShareFriend");
    copyText.select();
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
  }
</script>
