<div class="col-md-9">
  <div class="share_with_friends_style">
 <!--  <div class="row">
    <div class="col-md-12">
      <div class="main">
        <h2> <i class="fa fa-share-alt fa-lg fa-fw sidebar-icon"></i> <%#= t('page_design.share_label') %></h2>
      </div>
      <hr>
    </div>
  </div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="box-shadow" style="background-image: url('<%= @share_with_friends.image.attached? ? rails_blob_url(@share_with_friends.image) : "" %>');background-size: cover;">
          <% if current_user.is_admin? %>
            <div class="row">
              <div class="col-md-12 text-right cu-btn-holder">
                <%= link_to edit_share_with_friends_path, class: "btn btn-default" do %>
                  <i class="fa fa-pencil"></i> <%= t(:edit_label) %>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-12">
              <div class="">
                <div class="step_icon"><span> 1</span> </div>
                <p class="text-center"><%= html_safe_content @share_with_friends.reward_text %></p>
              </div>

              <div class="col-md-12">
                <div class="form-box" style="overflow: hidden">
                  <input type="text" id="clipboardShareFriend" value=" https://ambassador.saintlbeau.com?invite=<%= current_user.email %>">
                  <a href="javascript:void(0);" onclick="clipboardShareFriend()"  class="btn btn-default share_link_btn pull-right"><%= t('page_design.copy_share_link_label') %></a>
                </div>

                <% url = "https://ambassador.saintlbeau.com?invite=#{current_user.email}" %>
                <div class="row text-center social_btn"> 
                  <div class="col-md-4 share_link_div">
                    <a href="javascript:void(0);" onclick="clipboardShareFriend()"  class="btn btn-primary share_btn_link"><%= t('page_design.copy_share_link_label') %></a>
                  </div>

                  <div class="col-md-4 ">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" target="_blank" class="btn btn-primary facebook btn-block"> <i class="fa fa-facebook-square"></i> <%= @share_with_friends.fb_btn_text %></a>
                  </div>


                  <div class="col-md-4">
                    <!--<a href="https://twitter.com/intent/tweet?text=“<%#= "testing here" %>”&url=<%#= url %>" target="_blank" class="btn btn-info btn-block"> <i class="fa fa-twitter"></i> Share on Twitter</a>-->
                    <a href="https://twitter.com/intent/tweet?url=<%= url %>" target="_blank" class="btn btn-info twitter btn-block"> <i class="fa fa-twitter"></i><%= @share_with_friends.twitter_btn_text %></a>
                  </div>

                  <div class="col-md-4">
                    <a href="mailto:someone@example.com?Subject=Hello&Body=<%= url %>" target="_top" class="btn btn-warning mailing btn-block"> <i class="fa fa-envelope"></i><%= @share_with_friends.email_btn_text %></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if current_user.is_ambassador? %>
      <h2><%= t('page_design.share_referral_label') %></h2>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <div class="box-shadow">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center"><%= t('page_design.share_description_label') %></p>
                <div class="col-md-12">
                  <div class="form-box" style="overflow: hidden">
                    <input type="text" id="clipboardShareReferral" value="https://www.saintlbeau.com/?referral_url=<%= current_user.referral %>">
                    <a href="javascript:void(0);" onclick="clipboardShareReferral()"  class="btn btn-default pull-right share_link_btn"><%= t('sidebar.referral_link_label') %></a>
                  </div>
                </div>
              </div>
            </div>

            <% url = "https://www.saintlbeau.com/?referral_url=#{current_user.referral}" %>
            <div class="row text-center social_btn">
              <div class="col-md-4 share_link_div">
                <a href="javascript:void(0);" onclick="clipboardShareReferral()"  class="btn btn-primary share_btn_link"><%= t('page_design.copy_share_link_label') %></a>
              </div>

              <div class="col-md-4">
                <a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" target="_blank" class="btn btn-primary facebook btn-block"> <i class="fa fa-facebook"></i> <%= t('page_design.share_on_facebook_label') %></a>
              </div>

              <div class="col-md-4">
                <a href="https://twitter.com/intent/tweet?url=<%= url %>" target="_blank" class="btn btn-info twitter btn-block"> <i class="fa fa-twitter"></i><%= t('page_design.share_on_twitter_label') %></a>
              </div>

              <div class="col-md-4">
                <a href="mailto:someone@example.com?Subject=Hello&Body=<%= url %>" target="_top" class="btn btn-warning mailing btn-block"> <i class="fa fa-envelope"></i><%= t('page_design.share_on_email_label') %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function clipboardShareFriend() {
    var copyText = document.getElementById("clipboardShareFriend");
    copyText.select();
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
    $.ajax({
      url:  '<%= update_share_link_count_users_path %>',
      type: 'get',
      contentType: 'json'
    })
  }

  function clipboardShareReferral() {
    var copyText = $("#clipboardShareReferral");
    copyText.select();
    document.execCommand("copy");
    alert("Copied the Referral: " + copyText.val());
  }
</script>
