<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>
    <div class="col-md-9">

      <div class="row">
        <div class="col-md-12">
          <div class="main">
            <h2> <i class="fa fa-share-alt fa-lg fa-fw sidebar-icon"></i>Take a snapshot and Share</h2>
          </div>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
         <!--  <p>Pretty nice! Confirm the post and receive coins! 100 for selfie and 200 coins for video</p> -->

          <div class="error">
            <p class="<%= show_error(@saintlbeau_post)%> hide missing-hash-tag">Error: Post must contains <strong>#saintlbeau</strong></p>
          </div>

         <div>
           <h1><%= @object.title %></h1>
           <p><%= @object.description %></p>
         </div>

          <div class="box-shadow sm-pd">
            <div class="box-1">
            <div class="row">
              <div class="col-md-12">
              <img style="max-width: 100%; max-height: 300px" src="<%= @object.images.first.src.to_s %>">

                <!--<iframe width="100%" height="300px" src="https://twitter.com/ICC/status/1004181080885231617"></iframe>-->
               <!--  <img width="100%" height="300px" class="ob-co" src="/assets/katerina-radvanska-397105-unsplash.jpg">
 -->
              </div>
            </div>

<!--               <div class="row">
                <div class="col-md-12 text-left">
                  <div class="image-content-snap">
                    <p>#saintL'beau </p>
                  </div>
                </div>
              </div> -->


            </div>





          </div>

          <div class="row" style="margin-top: 30px;">
            <div class="col-md-2 col-md-push-4">
              <%= link_to "Confirm", step_three_path(url: @url, saintlbeau_post: @saintlbeau_post), class: "btn btn-lg btn-block btn-primary #{disable_confirm_link(@saintlbeau_post) }" %>
            </div>

            <div class="col-md-2 col-md-push-4">
              <%= link_to "Go Back", step_one_path, class: "btn btn-lg btn-block btn-primary" %>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>

