<div class="col-md-9 m-b-50">
  <% if @page.snapshot_banner.attached? %>
    <%= render 'take_snapshots/banner' %>
  <% end %>

  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="main">
        <h2> <i class="fa fa-share-alt fa-lg fa-fw sidebar-icon"></i><%= t('page_design.snapshot_label') %> </h2>
      </div>
      <hr>
    </div>
  </div>

  <div class="row">
    <% if current_user.is_admin? %>
      <div class="row">
        <div class="col-md-11 text-right cu-btn-holder">
          <%= link_to t('blogs.index.edit_banner_label'), "javascript:void(0);", class: 'btn btn-primary', id: 'uploaderBanner' %>
          <%= link_to edit_take_snapshots_path, class: "btn btn-default" do %>
            <i class="fa fa-pencil"></i> <%= t(:edit_label) %>
          <% end %>

          <%= link_to t('users.show.go_back_label'), page_design_path, class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
    <div class="col-md-5 col-md-offset-1">
      <div class="box-shadow sm-pd">
        <div class="box-1">
          <div class="row">
            <div class="col-md-12">
              <div class="overlay-layer">
                <%= image_tag @snapshot.step1_avatar.attached? ? @snapshot.step1_avatar : 'placeholder.png', width: "100%", id: "step1_avatar_show" %>
             </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="image-content-snap">
                          <div class="stepone">1</div>
          <div class="snap_text"> <span><%= @snapshot.step1_text.html_safe %></span> </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="box-shadow sm-pd">

        <div class="box-1">
          <div class="row">
            <div class="col-md-12">
              <div class="overlay-layer">
                <%= image_tag @snapshot.step2_avatar.attached? ? @snapshot.step2_avatar : 'placeholder.png', width: "100%", id: "step2_avatar_show" %>
              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="image-content-snap">
                          <div class="stepone">2</div>
            <div class="snap_text"> <span><%= @snapshot.step2_text.html_safe %></span> </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="box-shadow sm-pd">

        <div class="box-1">
          <div class="row">
            <div class="col-md-12">
              <div class="overlay-layer">
                <%= image_tag @snapshot.step3_avatar.attached? ? @snapshot.step3_avatar : 'placeholder.png', width: "100%", id: "step3_avatar_show" %>
              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="image-content-snap">
                          <div class="stepone">3</div>
            <div class="snap_text"> <span><%= @snapshot.step3_text.html_safe %></span> </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="box-shadow sm-pd">

        <div class="box-1">
          <div class="row">
            <div class="col-md-12">
              <div class="overlay-layer">
                <%= image_tag @snapshot.step4_avatar.attached? ? @snapshot.step4_avatar : 'placeholder.png', width: "100%", id: "step4_avatar_show" %>
              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="image-content-snap">
                          <div class="stepone">4</div>
            <div class="snap_text"> <span><%= @snapshot.step4_text.html_safe %></span> </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>



  </div>

  <% unless current_user.is_admin? %>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/step_one" class="btn btn-default btn-lg"><%= t(:getting_started_label) %></a>
      </div>
    </div>
  <% end %>

  <div id="bannerUploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <%= render 'take_snapshots/upload_banner' %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#uploaderBanner').click(function(){
    $('#bannerUploadModal').modal('show');
  });
</script>
