<% if blogs.any? %>
  <% blogs.each_with_index do |blog, index| %>
    <div class="col-md-4">
      <div class="blog-box blog-box-sm custom-blog-box">
        <div class="blog-box-small-img">
          <div class="height-sm dynamic-<%= blog.id%>" id="<%= blog.slug %>" onclick="blog_show('<%= blog.id %>')" data-toggle="modal" data-target="#myModal" style="cursor: pointer;">
            <%= image_tag blog.avatar.variable? ? blog.avatar.variant(combine_options: { resize: '320x320^', gravity: 'Center', extent: '320x320^', quality: 95 }) : blog.avatar, width: '100%', class: 'image-height lazy', lazy: true %>
            <div class="blog-box-content">
              <p class="blog-sm-p">
                <%= link_to user_path(blog.user) do %>
                  <%= image_tag blog_author_avatar(blog), width: "30", class: "circle-img lazy", lazy: true %>
                <% end %>
                <span class="with-un-blog"><%= user_name(blog.user) %></span>
                <span class="-sm"><%= blog_date blog %></span>
                <span class="with-un-blog"><%= blog.category_name %></span>
              </p>
              <h3><%= blog_title blog %></h3>
            </div>
          </div>
          <div class="custom-blog-bottom-bar">
            <div class="row">
              <%= render partial: 'blogs/common_options', locals: { blog: blog} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-12 text-center unavailable-blog">
      <h1><%= t('blogs.index.blogs_not_found') %></h1>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $("img.lazy").lazyload({
    failure_limit : 1000,
    event: "lazyload",
    threshold : 1000,
    effect: "fadeIn",
    skip_invisible: false
    })
  $(window).scroll();
</script>
