<% blogs.each do |blog| %>
  <tr id="blog-<%= blog.id %>">
    <td><%= format_created_at(blog.created_at) %></td>
    <td><%= link_to blog.title, blog %></td>
    <td><%= blog.user_name %></td>
    <td><%= blog.category_name %></td>
    <td id="blog-reject-status-<%= blog.id %>"><%= blog.rejected? ? t(:reject_label) : t(:unreject_label) %></td>
    <td>
      <label class="switch">
        <input type="checkbox" class="reject-switch" id="reject-<%= blog.id %>" <%= 'checked' if blog.rejected? %>>
        <span class="slider round"></span>
      </label>
    </td>
    <td id="blog-status-<%= blog.id %>"><%= blog.is_published? ? t(:publish_label) : t(:unpublish_label) %></td>
    <td>
      <label class="switch">
        <input type="checkbox" class="publish-switch" id="<%= blog.id %>" <%= 'checked' if blog.is_published? %>>
        <span class="slider round"></span>
      </label>
    </td>
  </tr>
<% end %>


<div class="modal fade" id="reject-blog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Reject Reason</h4>
      </div>

      <div class="modal-body">
        <div class="modal-body" id="reject-reason">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default close-reject-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
