<div class="blog-box blog-box-sm">
  <div class="row">
    <div class="col-md-12">
      <%= link_to blog do %>
        <img width="100%" class="h-150" src="<%= blog.avatar.present? ? blog.avatar.url : 'https://beta.saintlbeau.com/blogPlaceholder.jpeg' %>">
      <% end %>
      <div class="blog-box-content">
        <p>
          <%= image_tag blog_author_avatar(blog), width: "30", class: "circle-img" %>
          <span class=""><%= blog_user_name(blog) %></span>
          <span><%= blog_date blog %></span>
          <span><%= blog.category_name %></span>
        </p>
        <h3><%= blog_title blog %></h3>
      </div>
    </div>
  </div>

  <%= render partial: 'common_options', locals: { blog: blog } %>
</div>
