<div class="<%= render_row_class(blog_type) %>">
  <div class="col-md-3 <%= render_padding_class(blog_type) %> pr-0">
    <span  class="box_bottom_icon"><i class="fa fa-heart"></i> <%= blog.likes.count %></span>
  </div>

  <% if blog.is_published? %>
    <div class="col-md-3 <%= render_padding_class(blog_type) %> pr-0">
      <div class="dropdown expended-blog-style-icon">
        <span  class="dropdown-toggle box_bottom_icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-comment"></i>
        </span>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= render partial: 'facebook_share_button', locals: { blog: blog } %></li>
          <li><a href="javascript:void(0);" onclick="blog_share('<%= blog.id %>','twitter', 'https://twitter.com/intent/tweet?url=<%= root_url + "/blog_detail?id=#{blog.id}" %>')"> <i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  <% if signed_in? %>
    <% if current_user.users_blog?(blog.id) || current_user.is_admin? %>
      <div class="col-md-3 <%= render_padding_class(blog_type) %> pr-0 expended-blog-style-icon ">
        <div class="dropdown">
          <span class="dropdown-toggle box_bottom_icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars"></i>
          </span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <%= link_to blog, method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash"></i> Delete
              <% end %>
            </li>
            <li>
              <a href="/change_publish_status?id=<%= blog.id %>&status=<%= blog.is_published ? false : true %>" onclick="return confirm('Are you sure?')"><i class="fa fa-upload"></i> <%= blog.is_published ? 'Un publish' : 'Publish' %></a>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="col-md-3 pull-right">
    <span class="box_bottom_icon"><i class="fa fa-eye"></i> <%= blog.blog_views.count %></span>
  </div>
</div>

<script>
  $(document).ready(function () {
    user_has_shared = <%= signed_in? ? current_user.already_shared_blog?(blog.id, 'facebook') : false %>;
  })
</script>
