  <div class="row comnt-heading set-border-radius">
    <div class="col-md-6">

      <span style="margin-top:7px; font-size: 17px; display:block"><%= @comments.where(parent_id: nil).count %> comments</span>

    </div>
    <div class="col-md-6  text-right">
    </div>
  </div>


  <div class="row comnt-box">
    <div class="col-md-12 comnt-shadow">
      <% @comments.where(parent_id: nil).each do |comment| %>
        <div class="panel panel-white post panel-shadow"> <hr>
          <div class="post-heading">
            <div class="pull-left image ">

              <%= image_tag comment.user.avatar.attached? ? comment.user.avatar.variant(combine_options: { resize: '100x100^', gravity: 'Center', extent: '100x100^', background: "grey", quality: 95 }) : '/assets/images/user-img-2.png', class: "img-circle avatar", alt: "user profile image", width:"50" %>

            </div>
            <div class="meta user-name">
              <p class="pull-left" style="padding-left: 10px; padding-right: 10px;"><b><%= link_to comment.user.name, user_path(comment.user.id) %></b>
              <h6 class="text-muted time"><%= comment.created_at.ago_in_words %></h6>
              <!--made a post.-->
              </p>
              <p><%= comment.message %></p>
              <!--<p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p></p> -->

              <% comment.children.each do |sub_comment| %>
                <div class="panel panel-white post comnt-rply-box panel-shadow col-md-12">
                  <div class="post-heading">
                    <div class="pull-left image">
                      <%= image_tag sub_comment.user.avatar.attached? ? sub_comment.user.avatar.variant(combine_options: { resize: '100x100^', gravity: 'Center', extent: '100x100^', background: "grey", quality: 95 }) : '/assets/images/user-img-2.png', class: "img-circle avatar lazy", alt: "user profile image", width: "50", lazy: true %>
                    </div>
                    <div class="pull-left meta">
                      <div class="title h5" style="padding: 10px;">
                        <a href="#"><b><%= sub_comment.user.name %></b></a>
                        <h6 class="text-muted pull-right time" style="padding-left: 10px; margin-top: 0px;"><%= sub_comment.created_at.ago_in_words %></h6>

                      </div>

                      <div class="post-description">
                        <p style="padding: 10px;"><%= sub_comment.message %></p>
                        <!--<div class="stats">-->
                        <!--<a href="#" class="btn btn-default stat-item">-->
                        <!--<i class="fa fa-thumbs-up icon"></i>2-->
                        <!--</a>-->
                        <!--<a href="#" class="btn btn-default stat-item">-->
                        <!--<i class="fa fa-thumbs-down icon"></i>12-->
                        <!--</a>-->
                        <!--</div>-->
                      </div>

                    </div>
                  </div>

                </div>
              <% end %>

              <a href="javascript:void(0);" style="text-decoration: none; color: #323232;" onclick="openSubCommentModal('<%= comment.id %>')">Quote</a>







            </div>

          </div>





          <div class="post-description">
            <div class="title h5">
              <!--<b><%#= comment.user.name %></b>-->
              <!--made a post.-->
            </div>

            <div class="stats">
              <a href="javascript:void(0);" class="btn btn-default stat-item <%= get_class_for_disabled(current_user.id, comment.id)  %>" onclick="like_dislike_comment(this, '<%= comment.id %>', true);">
                <i id="<%= comment.id %>_like" class="fa fa-thumbs-up icon  <%= get_class(current_user.id, comment.id) %>"></i>
                <input style="border: none; width: 25px;; box-shadow: none; background: transparent" type="text"  id="<%= comment.id.to_s + '_c_like' %>" value="<%= comment.comment_actions.where(like: true).count %>" disabled>
              </a>
              <a href="javascript:void(0);" class="btn btn-default stat-item <%= get_class_for_disabled_comment(current_user.id, comment.id)  %>" onclick="like_dislike_comment(this, '<%= comment.id %>', false);">
                <i id="<%= comment.id %>_dislike" class="fa fa-thumbs-down icon  <%= get_class_for_dislike(current_user.id, comment.id) %>"></i>

                <input style="border: none; width: 25px;; box-shadow: none; background: transparent" type="text" id="<%= comment.id.to_s + '_c_dislike' %>" value="<%= comment.comment_actions.where(like: false).count %>" disabled>
              </a>
            </div>
          </div><hr>
        </div>
      <% end %>

      <!--
          <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
              <div class="pull-left image">
                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
              </div>
              <div class="pull-left meta">
                <div class="title h5">
                  <a href="#"><b>Ryan Haywood</b></a>
                  made a post.
                  <h6 class="text-muted pull-right time">1 minute ago</h6>
                </div>

                <div class="panel panel-white post comnt-rply-box panel-shadow">
                  <div class="post-heading">
                    <div class="pull-left image">
                      <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                      <div class="title h5">
                        <a href="#"><b>Ryan Haywood</b></a>
                        made a post.
                      </div>
                      <h6 class="text-muted pull-right time">1 minute ago</h6>
                    </div>
                  </div>
                  <div class="post-description">
                    <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                    <div class="stats">
                      <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-up icon"></i>2
                      </a>
                      <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-down icon"></i>12
                      </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div> -->


    </div>
  </div>

  <script>
      function like_dislike_comment(obj, id, actionVal){
          var link = obj;
          obj = $(obj).children()[0];
          var obj_cls = $(obj).attr('class');
          var obj_cls_status = obj_cls.split(' ')[3];

          var status = '';
          if (obj_cls_status == "cLiked"){
              status = false;
              $(obj).removeClass('cLiked');
          }else{
              status = true;
              $(obj).addClass('cLiked');
          }
          var comm_dis_val = $('#'+id+'_c_dislike').val();
          var comm_like_val = $('#'+id+'_c_like').val();
          if (actionVal == true){
              $(link).addClass('disabled');
              console.log($(link).siblings()[0]);
              $($(link).siblings()[0]).removeClass("disabled");
              $('#'+id+'_dislike').removeClass('cLiked');
              $('#'+id+'_c_like').val(parseInt(comm_like_val) + 1);
              if (parseInt(comm_dis_val) != 0){
                  $('#'+id+'_c_dislike').val(parseInt(comm_dis_val) - 1);
              }
          }else if (actionVal == false){
              $(link).addClass('disabled');
              console.log($(link).siblings()[0]);
              $($(link).siblings()[0]).removeClass("disabled");
              $('#'+id+'_like').removeClass('cLiked');
              if (parseInt(comm_like_val) != 0){
                  $('#'+id+'_c_like').val(parseInt(comm_like_val) - 1);
              }
              $('#'+id+'_c_dislike').val(parseInt(comm_dis_val) + 1);
          }
          $.ajax({
              url: '/comment_like_unlike?id='+ id + '&value=' + status+'&comment_action='+actionVal,
              type: 'get',
              dataType: 'json',
              processData: false,
              success: function (data) {

              },
              error: function (data) {
                  alert('Error');
                  //    window.location.reload();
              }
          });
      }
      function openSubCommentModal(id){
          $('#comment_id').val('');
          $('#blog_comment').val('');
          $('#addComment').modal('show');
          $('#myModal').animate({ scrollTop: 0 }, 'fast');
          $('#comment_id').val(id);
      }
  </script>