<style>
  img.image-height {
    min-height: 320px;
    max-height: 320px;
  }
</style>
<div class="blog-box blog-box-long">
  <div class="row">
    <div class="col-md-6 dynamic-<%= blog.id%>" id="<%= blog.slug %>" onclick="blog_show('<%= blog.id %>')" data-toggle="modal" data-target="#myModal" style="cursor: pointer;">
      <%#= link_to blog do %>
      <%= image_tag blog.avatar.variable? ? blog.avatar.variant(combine_options: { resize: '320x320^', gravity: 'Center', extent: '320x320^', quality: 95 }) : blog.avatar, width: '100%', class: 'image-height' %>
      <%# end %>
    </div>

    <div class="col-md-6">
      <div class="blog-box-content">
        <div class="row">
          <div class="height-long">
            <div class="col-md-12">
              <p>
                <%= link_to user_path(blog.user) do %>
              <%= image_tag blog_author_avatar(blog), width: "30", class: "circle-img" %>
              <% end %>
                <span class="with-un-blog"><%= user_name(blog.user) %></span>
                <span><%= blog_date blog %></span>
                <span class="with-un-blog"><%= blog.category_name %></span>
              </p>
              <h3><%= blog_title blog %></h3>
              <div class="description"><%= blog_description blog %></div>
            </div>
          </div>
        </div>
        <div class="bottom_icon">
          <%= render partial: 'blogs/common_options', locals: { blog: blog, blog_type: 'expanded' } %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      <div  class="close_btn_blg">
       <button type="button" class="close close_btn_blg_in" data-dismiss="modal">&times;</button>
      </div>
        <div class="create-blog-modal">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
