<div class="col-md-8">
  <div class="blog-box blog-box-long">
    <div class="row">
      <div class="col-md-6">
        <%= link_to blog do %>
          <img width="100%" class="h-50vh" src="<%= blog.avatar.present? ? blog.avatar.url : 'https://beta.saintlbeau.com/blogPlaceholder.jpeg' %>">
        <% end %>
      </div>

      <div class="col-md-6">
        <div class="blog-box-content">
          <div class="row">
            <div class="col-md-12">
              <p>
                <%= image_tag blog_author_avatar(blog), width: "30", class: "circle-img" %>
                <span class=""><%= blog_user_name(blog) %></span>
                <span><%= blog_date blog %></span>
                <span><%= blog.category_name %></span>
              </p>
              <h3><%= blog_title blog %></h3>
              <p><%= blog_description blog %></p>
            </div>
          </div>

          <div class="row" >
            <div class="col-md-3">
              <span ><i class="fa fa-heart"></i> <%= blog.likes.count %></span>
            </div>

            <div class="col-md-4">
              <span><i class="fa fa-comment"></i> <%= blog.comments.count %></span>
            </div>

            <div class="col-md-4 text-right">
              <span><i class="fa fa-eye"></i> <%= blog.blog_views.count %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
