<div class="blog-box blog-box-long">
  <div class="row">
    <div class="col-md-6">
      <%= link_to blog do %>
        <img width="100%" class="h-50vh" src="<%= blog.avatar.present? ? blog.avatar.url : 'https://beta.saintlbeau.com/blogPlaceholder.jpeg' %>">
      <% end %>
    </div>

    <div class="col-md-6">
      <div class="blog-box-content">
        <div class="row">
          <div class="col-md-12">
            <p>
              <%= image_tag blog_author_avatar(blog), width: "30", class: "circle-img" %>
              <span class=""><%= blog_user_name(blog) %></span>
              <span><%= blog_date blog %></span>
              <span><%= blog.category_name %></span>
            </p>
            <h3><%= blog_title blog %></h3>
            <div class="description"><%= blog_description blog %></div>
          </div>
        </div>

        <div class="row" style="padding-left: 5%;">
          <div class="col-md-3">
            <span ><i class="fa fa-heart"></i> <%= blog.likes.count %></span>
          </div>

          <div class="col-md-3">
            <span><i class="fa fa-comment"></i> <%= blog.comments.count %></span>
          </div>

          <div class="col-md-2">
            <div class="dropdown">
              <span class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-share-alt"></i>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a href="javascript:void(0);" onclick="openWindow('<%= blog.id %>','facebook', '<%= blog_attributes blog %>')"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="javascript:void(0);" onclick="blog_share('<%= blog.id %>','twitter', 'https://twitter.com/intent/tweet?url=<%= root_url + "/blog_detail?id=#{blog.id}" %>')"> <i class="fa fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <% if signed_in? %>
            <% if current_user.users_blog?(blog.id) || current_user.is_admin? %>
              <div class="col-md-1">
                <div class="dropdown">
                  <span class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                  </span>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                      <%= link_to blog, method: :delete, data: { confirm: "Are you sure?" } do %>
                        <i class="fa fa-trash"></i> Delete
                      <% end %>
                    </li>
                    <li>
                      <a href="/change_publish_status?id=<%= blog.id %>&status=<%= blog.is_published ? false : true %>" onclick="return confirm('Are you sure?')"><i class="fa fa-upload"></i> <%= blog.is_published ? 'Un publish' : 'Publish' %></a>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          <% end %>

          <div class="col-md-2 text-right">
            <span><i class="fa fa-eye"></i> <%= blog.blog_views.count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
