<style>
img.image-height {
min-height:320px;
max-height:320px;
}
</style>
<div class="blog-box blog-box-long">
  <div class="row">
    <div class="col-md-6">
      <%= link_to blog do %>
        <%= image_tag blog.avatar.attached? ? blog.avatar.variant(combine_options: { resize: '320x320^', gravity: 'Center', extent: '320x320^', quality: 95 }) : 'https://beta.saintlbeau.com/blogPlaceholder.jpeg', width: '100%', class: 'image-height' %>
      <% end %>
    </div>

    <div class="col-md-6">
      <div class="blog-box-content">
        <div class="row">
        <div class="height-long">
          <div class="col-md-12">
            <p>
              <%= image_tag blog_author_avatar(blog), width: "30", class: "circle-img" %>
              <span class=""><%= blog_user_name(blog) %></span>
              <span><%= blog_date blog %></span>
              <span><%= blog.category_name %></span>
            </p>
            <h3><%= blog_title blog %></h3>
            <div class="description"><%= blog_description blog %></div>
          </div>
          </div>
        </div>
        <div class="bottom_icon">
        <%= render partial: 'common_options', locals: { blog: blog, blog_type: 'expanded' } %>
        </div>
      </div>
    </div>
  </div>
</div>
