<%= form_with(model: blog, local: true, multipart: true, id: "blog-form") do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :translate_edit, params[:translate_edit]  if params[:translate_edit].present? %>
  <div class="container">
    <div class="ambassdor-box newBlog-style">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 col-xs-9">
              <h2><a href="/blogs"><i class="fa fa-angle-left"></i></a><%= blog_page_title %></h2>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-8">
              <div class="field m-image-frame form-group">
                <%= image_tag(@blog.avatar.attached? ? @blog.avatar.variant(combine_options: { resize: '100x100^', gravity: 'Center', extent: '100x100^', quality: 95 }) : "placeholder.png", alt: "Add  icon", id: 'blah', size: '100x100') %>
                <lable for="file_name" id="file-name"><%= file_name @blog %></lable>
                <div class="field form-group" id="image-upload-button-div">
                  <div class="fileUpload form-control start blog-imgUpload">
                    <%= form.file_field :avatar, :id => 'fileupload', class: "filestyle upload", "data-input" => false %>
                  </div>
                </div>
              </div>
              <div class="row m-t-20">
                <div class="Newblog-category">
                  <div class="col-md-12">
                    <div class="category-option" type="button" data-toggle="popover" id="tooltip-stlye-category" data-placement="top" data-content="Please Select Category First" title="">
                      <%= collection_select(:blog, :category_id, Category.all, :id, :name, {:include_blank => t('blogs.new.category_placeholder')}, html_options = {:class=>"form-control",  :required => true, title: "Please Select Category First"}) %>
                    </div>
                  </div>
                </div>
              </div>

              <% if current_user.is_admin? %>
                <div class="row m-t-20">
                  <div class="col-md-8">
                    <%= link_to t('blogs.new.category_label'), "javascript:void(0)", id: 'create-or-edit-category'%>
                  </div>
                </div>
              <% end %>

              <div class="row m-t-30">
                <div class="col-md-12">
                  <div class="blogBox-style">
                    <div class="box-shadow-am">
                      <div class="form-group">
                        <%= form.text_field :title, id: :blog_title, class: 'form-control', placeholder: t('blogs.new.title_placeholder'),  :required => true %>
                      </div>

                      <div class="form-group">
                        <label><%=t('blogs.new.description') %></label>
                        <%= form.cktext_area :description, id: :blog_description, class: 'form-control editor', placeholder: "Enter your Text", required: true %>
                        <span id="display_count"><%= t('blogs.new.total_words') %>: 0</span>
                        <span class="float-right"><%= t('blogs.new.minimum_required_words') %>: 500 </span>
                        <!--                        <span style="float:right;" id='max_limit'><%#= t('blogs.new.maximum_words_allowed') %>: 700</span>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="product-heading">
                <h2><%= t('blogs.new.products_label') %></h2>
              </div>

              <div class="product-toolTips">
                <div class="box-shadow-am sm-pd-am m-t-20 assign-Heading" type="button" data-toggle="popover" data-placement="bottom" data-content="Please Select Product" title="">
                  <h4><a href="javascript:void(0);" onclick="get_products();" style="text-decoration: none;">+ <%= t('blogs.new.assign_products') %></a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="create-blog-img">
      <div id="selectedProducts">
        <% if @selected_products.present? %>
          <%= render partial: 'blogs/selected_products' %>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <div class="blog-submt-btn">
        <%= form.submit t('blogs.new.publish_btn_label'), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="uploadVideo" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4 class="">Add Video from Youtube</h4>
        <div class="form-group">
          <label></label>
          <input type="text" class="form-control" placeholder="Paste Copied">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="publishPost" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4 class="">Are you sure you want to unpublish</h4>
        <h5>Blog post name goes here?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" >yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="create-or-edit-category-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create or Edit Category</h4>
      </div>
      <%= hidden_field_tag :url, action_name == 'edit' ? edit_blog_path(@blog) : new_blog_path  %>
      <div class="modal-body">
        <h4>Create New</h4>
        <br>
        <%= form_for @category, url: create_or_update_cateogry_blogs_path, method: :post, remote: true do |form| %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, id: :category_name, class: 'form-control', required: true %>
          </div>

          <div class="actions">
            <%= form.submit class: 'btn btn-success' %>
          </div>
        <% end %>

        <hr>
        <div id="update-category">
          <h4>Update existing one</h4>
          <%= form_for @category, url: create_or_update_cateogry_blogs_path, method: :post, remote: true  do |form| %>
            <div class="form-group">
              <%= collection_select(:category, :id, Category.all, :id, :name, {:include_blank => 'Select Category'}, html_options = {:class=>"form-control",  :required => true, title: "Please Select Category First"}) %>
            </div>

            <div class="form-group">
              <%= form.label :name %>
              <%= form.text_field :name, id: :category_name, class: 'form-control', required: true, id: 'update-category-name' %>
            </div>

            <div class="actions">
              <%= form.submit 'Update Category', class: 'btn btn-success' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="assignProduct" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t('blogs.assign_product_modal.assign_title') %></h4>
      </div>

      <div class="modal-body ">
        <div id="product-search-form">
          <%= form_tag(search_products_path, method: "get", remote: true, id: 'search-form') do %>
            <div class="row">
              <div class="col-md-9">
                <%= text_field_tag(:q, params[:q], class: 'form-control', placeholder: 'Search for products', id: 'product-title', data: { type: 'search' } ) %>
              </div>
              <div class="col-md-3">
                <%= submit_tag(t(:search_label), class: 'btn btn-primary form-group', id: 'search-btn') %>
                <%= submit_tag(t(:clear_label), class: 'btn btn-default form-group', id: 'clear-btn-search') %>
              </div>
            </div>
          <% end %>
        </div>

        <div id="products">
          <% if @products.present? %>
            <%= render partial: 'blogs/products' %>
          <% end %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="add_products();"><%= t(:save_label) %></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:cancel_label) %></button>
      </div>
    </div>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
<script>
    $('#create-or-edit-category').click(function() {
        $('#create-or-edit-category-modal').modal('show');
        $('#update-category-name').attr('disabled', true);
    });

    $('#search-form').submit(function(){
        if($('#product-title').data('type') != 'search') { $('#product-title').val(''); return true; }
        searchText = $('#product-title').val();
        if(searchText == '') { return false; }
        if(searchText.length < 3) { $('#search-form').append('<p>Please enter three or more letters</p>'); return false; }
        $("p").hide('slow');
    })

    $('#clear-btn-search').click(function(e){
        if ($('#product-title').val() == '') { return false; };
        $('#product-title').data('type', 'clear');
    });

    $('#search-btn').click(function(e){
        $('#product-title').data('type', 'search');
    });

    $('#category_id').change(function(){
        $('#update-category-name').attr('disabled', false);
        $('#update-category-name').val($('#category_id option:selected').text());
    });

    $(":file").filestyle({input: false});

    // $('textarea.editor').ckeditor();

    var menu = new BootstrapMenu('#demo1Box', {
        actions: [{
            name: 'Upload image',
            onClick: function() {
//                toastr.info("'Upload image");
                $('#uploadVideo').modal('show')
            }
        },

            {
                name: 'Add video from youtube',
                onClick: function() {
                    $('#uploadVideo').modal('show')
                }
            }]
    });

    $(document).on('turbolinks:load', function(){
        $('#blog-form').submit(validateDescriptionLength)
        $('#blog-form').submit(validateDefaultImage)
        var v = CKEDITOR.instances.blog_description
        words = CKEDITOR.instances.blog_description.getData().match(/\S+/g)
        if (words) { $('#display_count').text(`<%= t('blogs.new.total_words') %>: ${words.length}`); }
        v.on('key', function(event) {
            words = CKEDITOR.instances.blog_description.getData().match(/\S+/g)
            if (words) {
                $('#display_count').text(`<%= t('blogs.new.total_words') %>: ${words.length}`);
                if(words.length >= 659){
                    $('#max_limit').text('<%= t('blogs.new.limit_reach_label') %>');
                    $('#max_limit').css('color', 'red');
                }
                else{
                    $('#max_limit').text(`<%= t('blogs.new.maximum_words_allowed') %>: 700`);
                    $('#max_limit').css('color', 'black');
                }
            }
        });

        function validateDescriptionLength(){
            var description = CKEDITOR.instances.blog_description.getData().match(/\S+/g);
            if ($('#blog_category_id').val() == '' ) { alert("Select Category"); return false; }
            if ($('#blog_title').val() == '' ) { alert("Add title"); return false; }
            if (description) {
                if (description.length < 500) {
                    alert("<%= t('blogs.new.descriptn_length_errr') %>")
                    return false
                }
            }
            else {
                alert("<%= t('blogs.new.blog_description_empty') %>");
                return false;
            }

        }

        function validateDefaultImage(){
            file = $('#fileupload').val();
            if(file == '' && $('#file-name').text() == 'default-blog-image.jpg') {
                toastr.error('<%= t('blogs.new.default_image_error') %>');
                return false;
            }
        }
    });

    $("#fileupload").change(function () {
        readURL(this);
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var name = input.files[0].name
            var fileType = input.files[0].type
            var ValidImageTypes = ["image/gif", "image/jpeg", "image/png"];

            if ($.inArray(fileType, ValidImageTypes) < 0) {
                return alert("File type not allowed.")
            }

            reader.onload = function (e) {
                var st = e.target.result;
                $('#blah').attr('src', e.target.result);
                $('#fileUpload').attr('src', e.target.result);
            };
            $('#file-name').text(name);
            reader.readAsDataURL(input.files[0]);
        }
    }
    function get_products(){
        $('#assignProduct').modal('show');
        $.ajax({
            url: '/get_products_from_shopify?id=<%= @blog.present? ? @blog.id : '' %>',
            type: 'get',
            dataType: 'html',
            processData: false,
            success: function (data) {
                $('#products').html(data);
            },
            error: function (data) {
                alert('Error');
                //    window.location.reload();
            }
        });
    }

    function add_products(){
        var ids = [];
        $(".selected").each(function(index, v) {
            console.log($(v).attr('class').split(' ')[0]);
            ids.push($(v).attr('class').split(' ')[0]);
        });
        if (ids != ""){
            $.ajax({
                url: '/get_selected_products?ids='+ids,
                type: 'get',
                dataType: 'html',
                processData: false,
                success: function (data) {
                    $('#selectedProducts').html(data);
                    $('#assignProduct').modal('hide');
                },
                error: function (data) {
                    alert('Error');
                    //    window.location.reload();
                }
            });
        }
    }





    $.fn.extend({
        popoverClosable: function (options) {
            var defaults = {
                template:
                    '<div class="popover">\
    <div class="arrow"></div>\
    <div class="popover-header">\
    <button type="button" class="close" data-dismiss="popover" aria-hidden="true">&times;</button>\
    <h3 class="popover-title"></h3>\
    </div>\
    <div class="popover-content"></div>\
    </div>'
            };
            options = $.extend({}, defaults, options);
            var $popover_togglers = this;
            $popover_togglers.popover(options);
            $popover_togglers.on('click', function (e) {
                e.preventDefault();
                $popover_togglers.not(this).popover('hide');
            });
            $('html').on('click', '[data-dismiss="popover"]', function (e) {
                $popover_togglers.popover('hide');
            });
        }
    });

    $(function () {
        $('[data-toggle="popover"]').popoverClosable();
    });





</script>