<div class="row  m-t-30">
  <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="<%= product.id %> box-shadow-am sm-pd-am <%= ((@blog.present? && @blog.products.where(product_id: product.id).count > 0) || (@selected_products_ids.present? && @selected_products_ids.include?(product.id.to_s))) ? 'selected' : '' %>" onclick="showActive(this)">
          <div class="product-box">
            <img width="100%" src="<%= product.images.present? ? product.images[0].src : '/placeholder.png' %>">
          </div>

          <div class="product-price">
            <h5><%= number_with_delimiter(product.variants.first.price, delimiter: '.') %>₫</h5>
          </div>

          <div class="product-detail">
            <p><%= product.title %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>

<script type="text/javascript">
  function showActive (obj){
    if(!($(obj).hasClass('selected')) && (selected_products_ids.length >= 5)) { return toastr.error('<%= t('blogs.new.products_limit_label') %>'); }
    $(obj).toggleClass('selected');
    if($(obj).hasClass('selected')){
      id = $(obj).attr('class').split(' ')[0];
      if(selected_products_ids.indexOf(id) === -1)
        selected_products_ids.push(id);
    }else{
      selected_products_ids.splice( selected_products_ids.indexOf($(obj).attr('class').split(" ")[0]), 1 );
    }
  }
</script>
