<hr>

<div class="row">
  <div class="col-md-12">
    <h2>Products</h2>
  </div>
</div>

<div class="row">
  <% @selected_products.each do |product| %>
      <div class="col-md-3">
        <div class="box-shadow-am sm-pd-am">
          <div class="product-box">
            <%= hidden_field_tag 'product[product_id][]', product.id %>
            <%= hidden_field_tag 'product[title][]', product.title %>
            <%= hidden_field_tag 'product[avatar][]', product.images.present? ? product.images[0].src : '' %>
            <%= hidden_field_tag 'product[price][]', product.variants.first.price %>
            <%= hidden_field_tag 'product[handle][]', product.handle %>
            <img width="80%" src="<%= product.images.present? ? product.images[0].src : '/placeholder.png' %>">
          </div>

          <div class="product-price">
            <h5><%= number_with_delimiter(product.variants.first.price, delimiter: '.') %>₫</h5>
          </div>

          <div class="product-detail">
            <p><%= product.title %></p>
          </div>
        </div>
      </div>

  <% end %>

  <!--<div class="col-md-4">-->
  <!--<div class="box-shadow-am sm-pd-am">-->
  <!--<div class="product-box">-->
  <!--<img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">-->
  <!--</div>-->
  <!--<div class="product-detail">-->
  <!--<p>Drjort+ INTRAJET FIRMING SOLUTION(1 box/ 5pcs)</p>-->
  <!--</div>-->
  <!--<div class="product-review">-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--</div>-->
  <!--<div class="product-price">-->
  <!--<h5>250,000</h5>-->
  <!--</div>-->
  <!--<div class="product-offer">-->
  <!--<p>20% we're getting from every purchase</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="col-md-4">-->
  <!--<div class="box-shadow-am sm-pd-am">-->
  <!--<div class="product-box">-->
  <!--<img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">-->
  <!--</div>-->
  <!--<div class="product-detail">-->
  <!--<p>Drjort+ INTRAJET FIRMING SOLUTION(1 box/ 5pcs)</p>-->
  <!--</div>-->
  <!--<div class="product-review">-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--</div>-->
  <!--<div class="product-price">-->
  <!--<h5>250,000</h5>-->
  <!--</div>-->
  <!--<div class="product-offer">-->
  <!--<p>20% we're getting from every purchase</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

</div>