<style>
  .p-0{
    padding: 0px;
  }
  .test:after {
    content: '\2807';
    font-size: 30px;
  }
  .test{
  background-color: transparent;
  border: navajowhite;
  }
  .bt--blog{
    padding: 12px;
    font-size: 12px;
    width: 190px;
  }
  .flex-sb{
    display: flex;
    justify-content: space-between;
  }
</style>
<%= render 'blogs/og_tags_content' %>
<% belongs_to_user = false %>
<% if current_user.present? %>
  <% belongs_to_user = current_user == @blog.user %>
<% end %>

<p style="display: none" id="blog-slug"><%= @blog.slug%></p>

<div>
  <div>
    <div>
      <div class="flex-sb " style="margin-bottom: 15px;">
        <div>
          <div class="bt--blog">
          </div>
        </div>

        <div>
          <div class="three-dots ">
            <div class="dropdown">
              <!-- three dots -->
              <% if current_user.present? %>
                <% if belongs_to_user %>
                  <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <!-- menu -->
                  <div id="myDropdown" class="dropdown-content">
                    <%= link_to t(:edit_label), '', data: { toggle: 'modal', target: '#new-blog' }, id: @blog.id, onclick: "edit_blog(#{@blog.id})" %>
                    <%= link_to t(:delete_label), @blog, method: :delete, data: { confirm: t(:delete_confirmation) } %>
                    <%= link_to change_publish_status_path(id: @blog.id, status: !@blog.is_published), class: "blog-publish-link-#{@blog.id}", data: { confirm: t(:delete_confirmation), remote: true } do %>
                      <span><%= @blog.is_published ? t(:unpublish_label) : t(:publish_label) %></span>
                    <% end %>
                    <a href="javascript:void(0);" onclick="showBuyerView('<%= @blog.id %>');"><%= t('blogs.show.buyer_view_label') %>
                    </a>
                  </div>
                <% elsif current_user.is_admin? %>
                  <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <!-- menu -->
                  <div id="myDropdown" class="dropdown-content">
                    <%= link_to change_publish_status_path(id: @blog.id, status: !@blog.is_published), class: "blog-publish-link-#{@blog.id}", data: { confirm: t(:delete_confirmation), remote: true } do %>
                      <span><%= @blog.is_published ? t(:unpublish_label) : t(:publish_label) %></span>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row blog_margin_top">
    <div class="col-md-12">
      <div class="detail-img">
        <div class="img-block set-border-radius">
          <h4 id='publish-tag'><%= @blog.is_published ? t(:publish_label) : t(:unpublish_label) %>
          </h4>
        </div>
        <div class=""><%= image_tag render_image(@blog), width: '100%', style: 'max-height:448px; object-fit: cover;' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mob-p-t-20">
      <div class="detail-img detail-icon">
        <div class="flex-sb">
          <div class="flex-l">
            <div class="mt15_blog">
              <i class="<%= liked_class(@blog) %>" onclick="like_comment(this,'<%= @blog.id %>');">
              </i>
              <input style="border: none; width: 25px;; box-shadow: none; background: transparent" type="text" id="blogText" value="<%= @blog.likes.count %>" disabled >
              <i class="fa fa-share"></i>
              <span style="display:inline-block;">
                <input style="border: none; width: 25px;; box-shadow: none; background: transparent" type="text" id="blogUrl" value="<%= @blog.share_urls.count %>" disabled>
              </span>
              <i class="fa fa-eye"></i>

              <span><%= @blog.blog_views.count %></span>&nbsp;&nbsp;
              <% if @blog.is_published? %>
                <%= render partial: 'facebook_share_button', locals: { blog: @blog } %>
              <% end %>
            </div>

            <% unless @blog.user == current_user %>
              <div id="user-<%= @blog.user.id %>">
                <%= follow_unfollow_link_blog(@blog.user)  %>
              </div>
            <% end %>
          </div>

          <div class="">
            <h5 class="">
              <span class="category-style"><%= @blog.category_name %></span>
              <span>| <%= @blog.created_at.to_date.strftime("%d-%m-%Y") %></span>
              <strong>
                <i class="fa fa-star <%= @blog.is_featured ? 'featureBlog' : '' %>" onclick="set_featured_blog(this, '<%= @blog.id %>');">
                </i><% if @blog.is_featured %>
                Featured on <%= @blog.feature_date.to_time.strftime("%H:%M:%S %d-%m-%Y") %><% end %><% if signed_in? %>
                <% if belongs_to_user %>
                <%#= link_to edit_blog_path(@blog) do %>
                <i class="fa fa-pencil" data-toggle="modal" data-target="#new-blog" onclick="edit_blog(<%= @blog.id %>)" style="cursor: pointer;"></i>
                <%# end %>
                <% end %>
                <% end %>
              </strong>
            </h5>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 title-style">
        <div class="detail-img">
          <h2><%= @blog.title %>
          </h2>
          <p><%= @blog.description.html_safe if @blog.description.present? %>
          </p>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 product-title">
        <h2><%= t('blogs.new.products_label') %>
        </h2>
      </div>
    </div>
    <div class="row product-shadow product-border-style">
      <% @selected_products.each do |product| %>
        <div class="col-md-3">
          <div class="box-shadow-am sm-pd-am set-border-radius"><%= link_to product_url_referral_code(product), target: :blank do %>
            <div class=""><%= image_tag product.avatar.attached? ? product.avatar.variant(combine_options: { resize: product_image_size, gravity: 'Center', extent: product_image_size, background: "grey", quality: 95 }) : '/placeholder.png', width: '100%' %>
            </div><% end %>
            <div class="product-price">
              <h5><%= number_with_delimiter(product.price, delimiter: '.') %>₫
              </h5>
            </div>
            <div class="product-detail">
              <p><%= product.title %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if @blog.is_published? && signed_in? %>
      <button class="btn comnt-btn-style btn-default pull-right set-border-radius" onclick="openCommentModal();"><%= t('blogs.post_comment_label') %></button>
      <div id="blogComment"><%= render partial: 'comments' %></div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button> -->
			</div>
			<div class="modal-body text-center">
				<h4 class=""><%= t('blogs.show.comment_modal.title') %>
				</h4>
				<div class="form-group">
					<label></label>
					<input type="text" class="form-control" required placeholder="<%= t('blogs.show.comment_modal.comment_placeholder') %>" id="blog_comment"><%= hidden_field_tag :comment_id %>
          <span style="color: red; float: left; display: none;" id="comment-error">* please enter comment first</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" onclick="add_comment('<%= @blog.id %>','<%= current_user&.id %>')"><%= t(:save_label) %>
				</button>
				<button type="button" class="btn btn-default" id="add-comment"><%= t(:cancel_label) %>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="shareBlogModal" role="dialog" style="z-index: 1600;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <button type="button" class="facebook-share" data-dismiss="modal">&times;</button> -->
			</div>
			<div class="modal-body text-center">
				<h4 class=""><%= t('blogs.show.share_modal.title') %>
				</h4><%= render partial: 'facebook_share_button', locals: { blog: @blog } %>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="checkbox text-left col-md-6">
						<label>
							<input type="checkbox" value="" id='user-share-perference'>Don't show this again.
						</label>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-default" id="facebook-share"><%= t(:cancel_label) %>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<span class="cirle-profile cp4" id="user-<%= @blog.user.id %>-following-count" style="display: none"></span>

<script>
  user_signed_in = <%= signed_in? %>;
  user_has_shared = <%= signed_in? ? current_user.already_shared_blog?(@blog.id, 'facebook') : false %>;
  setShareModelCookie();
  function setShareModelCookie(){
    showModal = localStorage.getItem('show_share_modal')
    if(showModal == null || showModal == undefined) { localStorage.setItem('show_share_modal', true) }
  }

  if (user_has_shared) {
  } else {
    setTimeout(showShareModal, 0);
    function showShareModal() {
      showModal = localStorage.getItem('show_share_modal')
      if (showModal == 'true') { $('#shareBlogModal').modal('show'); }
    }
  }

  $('#shareBlogModal').on('hidden.bs.modal', function () {
    if($('#user-share-perference').prop('checked')) {
      localStorage.setItem('show_share_modal', false)
    }
    else
    {
      localStorage.setItem('show_share_modal', true)
    }
  })

  function showSignInModal() {
    $('#signIn').modal('show');
  }
  function openCommentModal(){
    if(!user_signed_in) {
      showSignInModal();
      return;
    }
    $('#comment_id').val('');
    $('#blog_comment').val('');
    $('#addComment').modal('show');
    $('#myModal').animate({ scrollTop: 0 }, 'fast');
  }
  function add_comment(id, user_id){
    var text = $('#blog_comment').val();
    if (text == ''){
      $("#comment-error").show();
      // apprise("please enter comment first");
      return false;
    }
    var parentId = $('#comment_id').val();
    $.ajax({
      url:'/add_comment?id='+id+'&user_id='+user_id+'&message='+text+'&parent_id='+parentId,
      type:'get',
      dataType:'html',
      processData:false,
      async: false,
      success:function (data) {
        $('#addComment').modal('hide').on('hidden.bs.modal', function (e) {
        $(this).off('hidden.bs.modal');
        $('#myModal').modal('show');
        $('body').addClass('modal-open');
        $('body').removeAttr('style');
        $('#myModal').animate({scrollTop: $(document).height() + $(window).height()}, 'fast');
      });
      $('#blogComment').html(data);
      $('#comment_id').val('');
      },
      error:function (data) {
//                alert ('Error');
      }
    });
  }
  function like_comment(obj,id){
    if(!user_signed_in) {
      showSignInModal();
      return;
    }
    var obj_cls = $(obj).attr('class');
    var text_val = $('#blogText').val();
    var obj_cls_status = obj_cls.split(' ')[2];
    var status = '';
    if (obj_cls_status == "liked"){
      status = true;
      $(obj).removeClass('liked');
      $('#blogText').val(parseInt(text_val) - 1);
    }else{
      status = false;
      $(obj).addClass('liked');
      $('#blogText').val(parseInt(text_val) + 1);
    }
    $.ajax({
      url: '/blog_like_unlike?id='+ id + '&value=' + status,
      type: 'get',
      dataType: 'html',
      processData: false,
      success: function (data) {

      },
      error: function (data) {
        alert('Error');
        //    window.location.reload();
      }
    });
  }


  function changeLanguage(language) {
    var element = document.getElementById("url");
    element.value = language;
    element.innerHTML = language;
  }

  function showDropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  function set_featured_blog(obj, id){
    {
      apprise('<%= t('blogs.feautre_blog_text') %>', {'verify': true}, function (r) {
        if (r) {
          var obj_cls = $(obj).attr('class');
          var status = ''
          if (obj_cls === 'fa fa-star ') {
            $(obj).addClass('featureBlog');
            status = true
          } else {
            $(obj).removeClass('featureBlog');
            status = false
          }
          $.ajax({
            url: '/change_featured_state?id=' + id + '&value=' + status,
            type: 'get',
            dataType: 'json',
            processData: false,
            success: function (data) {
              window.location.reload();
            },
            error: function (data) {
              alert('Error');
              //    window.location.reload();
            }
          });
        }
        else {
        }
      });
    }
  }
  function showBuyerView(id){
    window.location.href = '/buyer_show?id='+id;
  }

  function blog_share(id, type, url){
    var blogUrl = $('#blogUrl').val();
    $.ajax({
      url: '/share_blog?id='+ id + '&value=' + type,
      type: 'get',
      dataType: 'json',
      processData: false,
      success: function (data) {
        $('#blogUrl').val(parseInt(blogUrl) + 1);
        window.open(url);
      },
      error: function (data) {
        alert('Error');
      }
    });
  }
</script>



<script type="text/javascript">
 $('.share-on-facebook').click(function () {
    blog_id = $(this).data('id');
    type    = $(this).data('type');
    blog    = $(this).data('attributes');
    url     = $(this).data('share-url');
    limit_url = $(this).data('limit-url');
    user_signed_in = $(this).data("user-signed-in")
    already_shared_blog(blog_id, url);
    sharing_limit_exceed(limit_url);
    if (user_signed_in) {
      if (user_has_shared) { toastr.error('You already have shared this blog'); return false; }
      if (limit_exceeded) { toastr.error('You have exceeded your limit to share two blogs in an hour'); return false; }
      var url = createFBShareLink(blog_id, type, blog, '1660844573983661');

      window.open(url);
    } else {
      hostname = window.location.hostname == 'localhost' ? 'http://localhost:3000?signin=true' : '/?signin=true'
      window.location.href = hostname
    }
  });

  function already_shared_blog(blog_id, url) {
    $.ajax({
      url: url,
      method: 'get',
      dataType: 'json',
      async: false,
      success: function (data) {
        user_has_shared = data.shared
      }
    })
  }

  function sharing_limit_exceed(url){
    $.ajax({
      url: url,
      method: 'get',
      dataType: 'json',
      async: false,
      success: function (data) {
        limit_exceeded = data.limit_exceeded
      }
    })
  }

  function createFBShareLink(id, type, blog, fbAppId) {
    var link = window.location.hostname == 'localhost' ? 'http://localhost:3000' : `https://${window.location.hostname}`
    var url = `http://www.facebook.com/dialog/feed?app_id=${fbAppId}
      &link=https://ambassador.saintlbeau.com/blog_detail?id=${id}
      &picture=${encodeURIComponent(`${blog.file_name}`)}
      &name=${blog.title}
      &caption=SainLBeau blogs
      &description=This is just for testing purpose
      &redirect_uri=${encodeURIComponent(`${link}/share_blog?id=${id}&value=${type}`)}
      &display=popup`;
    return url;
  }
  $('#facebook-share').click(function(e){
    e.preventDefault();
    $('#shareBlogModal').modal('hide').on('hidden.bs.modal', function (e) {
      $(this).off('hidden.bs.modal'); // Remove the 'on' event binding
      $('#myModal').modal('show');
      $('body').addClass('modal-open');
      $('body').removeAttr('style');
    });
    });
  $('#add-comment').click(function(e){
    e.preventDefault();
    $('#addComment').modal('hide').on('hidden.bs.modal', function (e) {
      $(this).off('hidden.bs.modal'); // Remove the 'on' event binding
      $('#myModal').modal('show');
      $('body').addClass('modal-open');
      $('body').removeAttr('style');
    });
    });

  $(".close-myModal").click(function(){
    $("#shareBlogModal").modal("hide");
    $(".create-blog-modal").html("");
    blogs_id = document.getElementById("blogs-tab")
    if (blogs_id == null) {
    history.pushState({}, null, window.location.href.split("blogs")[0]+"blogs");
    }
    else {
      window.history.replaceState({},'','/dashboard');
    }
  })

  window.onclick = function(event) {
    if (event.target.id == "myModal") {
      $("#myModal").hide();
      $(".create-blog-modal").html("");
      $('.modal-backdrop').remove();
      blogs_id = document.getElementById("blogs-tab")
      if (blogs_id == null) {
      history.pushState({}, null, window.location.href.split("blogs")[0]+"blogs");
      }
      else {
        window.history.replaceState({},'','/dashboard');
      }
    }
  }


$('#myModal').on('shown.bs.modal', function (e) {
  $("img.lazy").lazyload({
    failure_limit : 1000,
    event: "lazyload",
    threshold : 1000,
    effect: "fadeIn",
    skip_invisible: false
  })
  $('.img-fluid').each(function(){

  if (this.parentElement.hasAttribute('href')) {
    url = this.parentElement.href;
  myVariable = ""
$.ajax({
    'async': false,
    'type': "get",
    'url': url,
    'success': function (data) {
        myVariable = data;
    }
});
  var title = $(myVariable).filter('meta[name="twitter:title"]').attr("content");
      var price = $(myVariable).filter('meta[property="og:price:amount"]').attr("content");
      var image = $(myVariable).filter('meta[property="og:image"]').attr("content");
    var button = '<div class="image-box image-box-desktop">'+
          '<div class="image-box-icon"></div>'+
          '<div class="image-box-list">'+
            '<div class="image-box-heading"></div>'+
          '<div class="image-box-item" onclick='+url+'>'+
            '<img src='+image+' alt="Tinh" chất="" some="" by="" mi="" aha-bha-pha="" 30="" days="" miracle="" 50ml="" serum="">'+
            '<div class="image-box-item-info">'+
              '<div class="image-box-item-name">'+title+'</div>'+
              '<div class="image-box-item-price">'+price+'</div>'+
            '</div>'+
            '<div class="image-box-item-icon"></div>'+
          '</div>'+
          '</div>'+
        '</div>'
        $(this).unwrap();
        $(button).insertAfter(this)
        $('.image-box-item').click(function() {
          window.open(this.attributes[1].value);
        });
  }

  })

 $(".image-box-icon").mouseover(function() {
    next_product = this.nextElementSibling
      $(next_product).css({"opacity": "1", "visibility": "unset" , "transform": "none"
    });
  })

  $(".img-fluid, .image-box").mouseleave(function() {
    $('.image-box-list').css({"opacity": "0", "visibility": "hidden" , "transform": "scale(0) translateX(0) translateY(0)"});
  })
})
</script>




