<div class="<%= add_container %>">
  <div class="<%= blog_screen_size %>">
    <div class="group-back-btn hidden-md hidden-lg ">
      <a href="">
        <img src="/assets/back-arrow-btn.png">
      </a> </div>
    <div class="banner text-center">
      <%= image_tag @page.blog_banner.variant(combine_options: { resize: banner_size, gravity: 'Center', extent: banner_size, background: "grey", quality: 95 }), width: '100%' %>
    </div>

    <div class="row">
      <div class="col-md-12 blog_banner_btn class-z">
        <% if current_user&.is_admin? || current_user&.has_permission?('scrap_blogs', 'scrap_blogs') %>
        <%= link_to t('blogs.index.blog_libray_label'), scrap_blogs_path, class: 'btn blog_library btn-primary' %>
        <% end %>

        <% if current_user&.is_admin? %>
        <%= link_to t('blogs.index.edit_banner_label'), "javascript:void(0);", class: 'btn edit_banner_btn btn-primary', id: 'uploaderBanner' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-12 blog_banner_btn">
      <div class="col-lg-12 padding-lr-20">
        <%= text_field_tag :title, params[:title], class: "form-control", placeholder: 'Search by title', id: 'blog-title-textbox' %>
      </div><!-- /input-group -->
    </div>
    <br>
    <br>

    <div class="row">
      <div class="post-heading blog-redesign-style">
        <div class="col-md-4">
          <div class="heading-featured">
            <h1><%= t('blogs.index.page_title') %></h1>
          </div>
        </div>

        <% if @blogs.count > 0 %>
        <div class="col-md-2 post-sorting  ">
          <p>SORTING</p>
          <select class="sorting-fltr" id="sort-blogs">
            <!-- <option class="fltr-dropdown" value="-1">Default</option> -->
            <option value="0"><%= t(:A_Z) %></option>
            <option value="1">A-Z </option>
            <option value="2">Z-A </option>
          </select>
        </div>

        <div class="col-md-2 post-sorting">
          <p>CATEGORY</p>
          <%= select_tag 'blog[category]', options_for_select(Category.pluck(:name, :id)), { prompt: t(:All_Categories), class: "sorting-fltr", required: true, id: 'category-dropdown' } %>
        </div>
        <% end %>

        <div class="col-md-3 add_blog_btn pull-right">
          <%= link_to "+ #{t('blogs.index.add_new_blog_post')}", new_blog_path, class: "btn btn-primary new_blog_btn" if signed_in? %>
        </div>

        <!-- <h2> <i class="fa fa-file"></i> Last Posts </h2> -->
      </div>
    </div>

    <div class="row" id="blogs">
      <%= render partial: "all_blogs", locals: { blogs: @blogs } %>
    </div>
    <br />

    <%= hidden_field_tag :page, @next_page %>
    <%= render partial: 'shared/show_more', locals: { objects_collection: @blogs, url: blogs_path } %>
  </div>
</div>

<div id="bannerUploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= render 'blogs/upload_banner' %>
    </div>
  </div>
</div>


<script>

  $('#uploaderBanner').click(function () {
    $('#bannerUploadModal').modal('show');
  });

  $("div.descriptionBlog").text(function (index, currentText) {
    return currentText.substr(0, 300);
  });
  function set_featured_blog(obj, id) {
    {
      apprise('Are You Sure You Want To change Featured status?', { 'verify': true }, function (r) {
        if (r) {
          var obj_cls = $(obj).attr('class');
          var status = ''
          if (obj_cls === 'fa fa-star ') {
            $(obj).addClass('featureBlog');
            status = true
          } else {
            $(obj).removeClass('featureBlog');
            status = false
          }
          $.ajax({
            url: '/change_featured_state?id=' + id + '&value=' + status,
            type: 'get',
            dataType: 'json',
            processData: false,
            success: function (data) {
              window.location.reload();
            },
            error: function (data) {
              alert('Error');
              //    window.location.reload();
            }
          });
        }
        else {
        }
      });
    }
  }

  function blog_share(id, type, url) {
    var blogUrl = $('#blogUrl').val();

    $.ajax({
      url: '/share_blog?id=' + id + '&value=' + type,
      type: 'get',
      dataType: 'json',
      processData: false,
      success: function (data) {
        $('#blogUrl').val(parseInt(blogUrl) + 1);
        window.open(url);
      },
      error: function (data) {
        alert('Error');
        //    window.location.reload();
      }
    });
  }

</script>