<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>
    <div class="col-md-9">
      <p id="notice"><%= notice %></p>
      <% @blogs.each do |blog| %>

          <div class="row">
            <div class="col-md-12">
              <div class="card-blog-detail">
                <div class="row">
                  <a href="/blogs/<%= blog.id %>" style="text-decoration: none;">
                    <div class="col-md-3">
                      <img width="100%" src="<%= blog.avatar.present? ? blog.avatar.url : 'https://saint-l-beau.herokuapp.com/blogPlaceholder.jpeg' %>">
                    </div>
                  </a>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-6">
                        <p class="category-name"><%= blog.category.name %> | <span><%= blog.created_at %></span></p>
                      </div>
                      <div class="col-md-6 text-right">
                        <i class="fa fa-star <%= blog.is_featured ? 'featureBlog' : '' %>" onclick="set_featured_blog(this, '<%= blog.id %>');"></i>
                        <%= link_to edit_blog_path(blog) do %>
                            <i class="fa fa-edit"></i>
                        <% end %>
                        <%= link_to  blog, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="fa fa-trash"></i>
                        <% end %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <h2><a href="/blogs/<%= blog.id %>"  style="text-decoration: none; color: #000"><%= blog.title %></a></h2>
                        <div class="descriptionBlog">
                          <p><%= blog.description.html_safe %></p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <i class="fa fa-heart"></i><span>123</span>

                        <i class="fa fa-share"></i><span>12</span>

                        <i class="fa fa-comment"></i><span>12</span>
                        <i class="fa fa-eye"></i><span>12</span>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
      <% end %>
      <br/>
      <%= link_to 'New Blog', new_blog_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<script>
    $("div.descriptionBlog").text(function(index, currentText) {
        return currentText.substr(0, 300);
    });
    function set_featured_blog(obj, id){
        {
            apprise('Are You Sure You Want To change Featured status?', {'verify': true}, function (r) {
                if (r) {
                    var obj_cls = $(obj).attr('class');
                    var status = ''
                    if (obj_cls === 'fa fa-star ') {
                        $(obj).addClass('featureBlog');
                        status = true
                    } else {
                        $(obj).removeClass('featureBlog');
                        status = false
                    }
                    $.ajax({
                        url: '/change_featured_state?id=' + id + '&value=' + status,
                        type: 'get',
                        dataType: 'json',
                        processData: false,
                        success: function (data) {

                        },
                        error: function (data) {
                            alert('Error');
                            //    window.location.reload();
                        }
                    });
                }
                else {
                }
            });
        }
    }
</script>