<div class="<%= add_container %>">
  <div class="<%= blog_screen_size %>">
    <div class="banner ">
      <div class="<%= current_user.present? ? 'banner remove-space' : 'banner' %>">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="tabbable-line custom-blog-nav">
              <ul class="nav nav-tabs ">
                <li class="blog-category active"><%= link_to "All", blogs_path %></li>
                <% @categories.each do |category|  %>
                  <li class='blog-category' id='category_id-<%= category.id %>'>
                    <%=  link_to category.name.titleize, blogs_path(q: { category_id_eq: category.id } ),  class: 'blog-category',  remote: true %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <%= search_form_for @q, remote: true do |f| %>
          <div class="row">
            <div class="col-md-8">
              <div class="custom-blog-search-bar">
                <%= f.search_field :title_i_cont, { class: 'form-control set-border-radius', placeholder: 'Search', id: 'blog-title-textbox', style: 'height: 20px;' } %>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <div class="custom-blog-sort-date">
                <p>SORTING</p>
                <%= f.date_field :created_at_eq, max: Date.today, id: 'sort-blogs-by-date' %>
              </div>
            </div>
            <%= hidden_field_tag :page, @blogs.current_page  %>
            <%= f.submit 'search', class: 'hidden', id: 'search-form-button' %>
          </div>
        <% end %>
        <div class="row" id="blogs">
          <%= render partial: "all_blogs", locals: { blogs: @blogs } %>
        </div>
        <br />

        <%= hidden_field_tag :next_page, @next_page %>
        <%= render partial: 'shared/show_more', locals: { objects_collection: @blogs, url: blogs_path } %>
      </div>
    </div>
  </div>
</div>


<div id="bannerUploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= render 'blogs/upload_banner' %>
    </div>
  </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <button type="button" class="close close_video_modal btn-round btn-primary bb" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="modal-content video-modal">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="new-blog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" style="width: 80%">
    <div class="modal-content" style="width: 100%">
      <div class="modal-header">
        <button type="button" class="close" id="remove-modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <span class="">Create New Blog</span>
        </h4>
      </div>

      <div id="create-blog">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row header-row">
          <button type="button" class="close pull-right close_btn_blg_in" data-dismiss="modal">&times;</button>
          <button id="open-edit-blog-modal" class="d-none">
            <i class="fa fa-pencil pull-right" data-toggle="modal" data-target="#new-blog" data-blog-id="" style="cursor: pointer; color: gray;"></i>
          </button>
        </div>

        <div class="create-blog-modal">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

  $('#uploaderBanner').click(function () {
    $('#bannerUploadModal').modal('show');
  });

  $("div.descriptionBlog").text(function (index, currentText) {
    return currentText.substr(0, 300);
  });
  function set_featured_blog(obj, id) {
    {
      apprise('Are You Sure You Want To change Featured status?', { 'verify': true }, function (r) {
        if (r) {
          var obj_cls = $(obj).attr('class');
          var status = ''
          if (obj_cls === 'fa fa-star ') {
            $(obj).addClass('featureBlog');
            status = true
          } else {
            $(obj).removeClass('featureBlog');
            status = false
          }
          $.ajax({
            url: '/change_featured_state?id=' + id + '&value=' + status,
            type: 'get',
            dataType: 'json',
            processData: false,
            success: function (data) {
              window.location.reload();
            },
            error: function (data) {
              alert('Error');
              //    window.location.reload();
            }
          });
        }
        else {
        }
      });
    }
  }

  function blog_share(id, type, url) {
    var blogUrl = $('#blogUrl').val();

    $.ajax({
      url: '/share_blog?id=' + id + '&value=' + type,
      type: 'get',
      dataType: 'json',
      processData: false,
      success: function (data) {
        $('#blogUrl').val(parseInt(blogUrl) + 1);
        window.open(url);
      },
      error: function (data) {
        alert('Error');
        //    window.location.reload();
      }
    });
  }

  $(document).ready(function () {
    if (window.location.href.includes("new")) {
      document.getElementById('create-new-blog').click();
    }
    else if (window.location.href.includes("blog_id")) {
      id = window.location.href.split("=")[1]
      edit_new_blog(id)
    }
    $('.responsive_video_slider').not('.slick-initialized').slick({
        dots: false,
        arrows: true,
        centerMode: true,
     centerPadding: '10',
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 1,
        responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 6,
                slidesToScroll: 1,
                // centerMode: true,

            }

        }, {
            breakpoint: 800,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 2,
                dots: true,
                infinite: true,

            }


        }, {
            breakpoint: 600,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 2,
                dots: true,
                infinite: true,

            }
        }, {
            breakpoint: 480,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 2000,
            }
        }]
    });
    $(".responsive_video_slider").not('.slick-initialized').slick()

    autoPlayYouTubeModal();
  });

  function autoPlayYouTubeModal() {
    var trigger = $('.trigger');
    trigger.click(function (e) {
      e.preventDefault();
      var theModal = $(this).data("target");
      var videoSRC = $(this).attr("src");
      var videoSRCauto = videoSRC + "?autoplay=1";
      $(theModal + ' iframe').attr('src', videoSRCauto);
      $(theModal).on('hidden.bs.modal', function (e) {
        $(theModal + ' iframe').attr('src', '');
      });
    });
  };

  $("#create-new-blog").click(function(e){
    if (!(e.ctrlKey)) {
      $('.loader').show()
    }
  })

  function edit_new_blog(id){
    $.ajax({
      url: "blogs/"+id+"/edit",
      type: 'get',
      data: {edit_blog: 0},
      success: function(data) {
        $("#myModal").modal('hide')
        $("#new-blog").modal('show')
        $('#myModal').on('hidden.bs.modal', function () {
          // $('body').addClass('modal-open');
          // $('body').removeAttr('style');
          $('#create-blog').html(data);
          history.pushState({}, null, window.location.href + "/edit")
        })
      },
      error: function(data) {
        $('.loader').hide()
        alert('Something Wentwrong!')
      }
    })
  }

  $('#myModal').on('shown.bs.modal', function (e) {
    $("img.lazy").lazyload({
      failure_limit : 1000,
      event: "lazyload",
      threshold : 1000,
      effect: "fadeIn",
      skip_invisible: false
    })
  })

$( document ).ready(function() {
  if (window.location.href.includes("id")) {
    url = window.location.href.split("?")[0]
    blogId = window.location.href.split("=")[1]
    $("#myModal").modal('show')
    blog_show(blogId)
    history.pushState({}, null, url);
  }
  else {
  host = window.location.origin
  get_url = host+"/blogs"
  }

  $('.blog-category').click(function(){
    $('.loader').show();
    $('.blog-category').removeClass('active')
    $(this).addClass('active');
  })

})
</script>
