<div class="<%= add_container %>">
  <div class="<%= blog_screen_size %>"  style="height: 341px;background-image: url('<%= @page.blog_banner.attached? ? url_for(@page.blog_banner) : "" %>')">
    <div class="heading-featured">
      <h1>Blogs</h1>
      <hr>
    </div>

    <div class="row">
      <div class="post-heading">
        <div class="row">
          <% if current_user&.is_admin? %>
            <div class="col-md-2">
              <%= link_to "Medium blogs", scrap_blogs_path, class: 'btn btn-primary' %>
            </div>

            <div class="col-md-2">
              <%= link_to "Blog Library", scrap_blogs_path, class: 'btn btn-primary' %>
            </div>

            <div class="col-md-3">
              <%= link_to "Edit banner", "javascript:void(0);", class: 'btn btn-primary', id: 'uploaderBanner' %>
            </div>
          <% end %>

          <% if @blogs.count > 0 %>
            <div class="col-md-2 post-sorting pull-right" style="margin-left: 15px;">
              <%= select_tag 'blog[category]', options_for_select(Category.pluck(:name, :id)), { prompt: 'All', class: "sorting-fltr", required: true, id: 'category-dropdown' } %>
            </div>
            <div class="col-md-2 post-sorting pull-right">
              <select class="sorting-fltr" id="sort-blogs">
                <!-- <option class="fltr-dropdown" value="-1">Default</option> -->
                <option value="0">Newest First</option>
                <option value="1">A-Z </option>
                <option value="2">Z-A </option>
              </select>
            </div>
          <% end %>
        </div>
        <!-- <h2> <i class="fa fa-file"></i> Last Posts </h2> -->
      </div>
    </div>

    <div class="row" id="blogs">
      <%= render "all_blogs" %>
    </div>
    <br/>

    <%= hidden_field_tag :page, @next_page %>

    <div class="row show-more-button">
      <div class="col-md-8">
        <%= link_to "New Blog", new_blog_path, class: "btn btn-primary pull-left" if signed_in? %>
        <% unless @blogs.current_page == @blogs.total_pages %>
          <div class="custom-showMore-btn pull-right">
            <%= link_to "javascript:void(0);", class: "btn btn-primary showMore-btn-style", id: "load-more" do %>
              <i class="fa fa-plus"></i> Show More
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="col-md-4">
        <a href="javascript:" id="custom-topPage-btn"><i class="fa fa-angle-up"></i></a>
      </div>
    </div>
  </div>
</div>

<div id="bannerUploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= render 'blogs/upload_banner' %>
    </div>
  </div>
</div>

<script>
  $('#uploaderBanner').click(function(){
    $('#bannerUploadModal').modal('show');
  });

  $("div.descriptionBlog").text(function(index, currentText) {
    return currentText.substr(0, 300);
  });
  function set_featured_blog(obj, id){
    {
      apprise('Are You Sure You Want To change Featured status?', {'verify': true}, function (r) {
        if (r) {
          var obj_cls = $(obj).attr('class');
          var status = ''
          if (obj_cls === 'fa fa-star ') {
            $(obj).addClass('featureBlog');
            status = true
          } else {
            $(obj).removeClass('featureBlog');
            status = false
          }
          $.ajax({
            url: '/change_featured_state?id=' + id + '&value=' + status,
            type: 'get',
            dataType: 'json',
            processData: false,
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                alert('Error');
                //    window.location.reload();
            }
          });
        }
        else {
        }
      });
    }
  }

  function blog_share(id, type, url){
    var blogUrl = $('#blogUrl').val();

    $.ajax({
      url: '/share_blog?id='+ id + '&value=' + type,
      type: 'get',
      dataType: 'json',
      processData: false,
      success: function (data) {
          $('#blogUrl').val(parseInt(blogUrl) + 1);
          window.open(url);
      },
      error: function (data) {
          alert('Error');
          //    window.location.reload();
      }
    });
  }

  function createFBShareLink(id, type, blog, fbAppId) {
    var link = "<%= Rails.env.staging? ? 'https://ambassador-staging.saintlbeau.com' : 'https://ambassador.saintlbeau.com' %>"
    // var url = `http://www.facebook.com/dialog/feed?app_id=${fbAppId}
    //   &link=
    //   &picture=${encodeURIComponent(`${blog.file_name}`)}
    //   &name=${blog.title}
    //   &caption=SainLBeau blogs
    //   &description=This is just for testing purpose
    //   &redirect_uri=${encodeURIComponent(`${link}/share_blog?id=${id}&value=${type}`)}
    //   &display=popup`;

      FB.ui({
        method: 'share_open_graph',
        action_type: 'og.likes',
        action_properties: JSON.stringify({
          object: {
            'og:url': `${link}/blog_detail?id=${id}`,
            'og:title': blog.title,
            'og:description': blog.title,
            'og:image': blog.file_name
          }
        })
      },
      function (response) {
      // Action after response
      });
    return url;
  }

  function openWindow(blog_id, type, blog){
    var blog = JSON.parse(blog)
    // $("meta[property='og\\:title']").attr('content', `${blog.title}`);
    // $("meta[property='og\\:image']").attr('content', `${blog.file_name}`);
    // $("meta[property='og\\:type']").attr('content', 'article');
    var url = createFBShareLink(blog_id, type, blog, '164286157812635');

    // window.open(url);

  }
</script>
