<div class="dashboard-holder">
<div class="row">
<div class="col-md-3">
  <%= render partial: "shared/side_bar" %>
</div>
<div class="col-md-9 featured-listing">
<div class="heading-featured">
  <h2> <i class="fa fa-star"></i> Featured</h2>
</div>
<div class="row product-shadow featured-product-style">
  <% @blogs.where(is_featured: true).each do |blog| %>
      <div class="col-md-6">
        <div class="box-shadow-am sm-pd-am">
          <div class="product-box featured-img">
            <a href="/blogs/<%= blog.id %>" style="text-decoration: none;">
              <img width="100%" src="<%= blog.avatar.present? ? blog.avatar.url : 'placeholder.png' %>">
            </a>
          </div>
          <div class="product-detail">
            <p class="category-name"><%= blog.category.name %> | <span><%= blog.created_at %></span></p>
            <p><a href="/blogs/<%= blog.id %>"  style="text-decoration: none; color: #000"><%= blog.title %></a></p>
          </div>
          <!--  <div class="product-review">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>-->
          <div class="product-offer featureProduct">
            <div class="descriptionBlog">
              <p><%= blog.description.html_safe %></p>
            </div>
          </div>
          <div class="row featured-icon-left">
            <div class="col-md-6">
              <i class="fa fa-heart"></i><span><%= blog.likes.count %></span>
              <i class="fa fa-share-alt"></i><span><input style="border: none; width: 25px;; box-shadow: none; background: transparent" type="text" id="blogUrl" value="<%= blog.share_urls.count %>" ></span>
              <a href="javascript:void(0);" onclick="blog_share('<%= blog.id %>','facebook', 'https://www.facebook.com/sharer/sharer.php?u=<%= root_url + "/blog_detail?id=#{blog.id}" %>')"> <i class="fa fa-facebook"></i></a>
              <a href="javascript:void(0);" onclick="blog_share('<%= blog.id %>','twitter', 'https://twitter.com/intent/tweet?url=<%= root_url + "/blog_detail?id=#{blog.id}" %>')"> <i class="fa fa-twitter"></i></a>
            </div>
            <div class="col-md-6 featured-icon-right text-right">
              <i class="fa fa-eye"></i><span><%= blog.blog_views.count %></span>
              <i class="fa fa-comment"></i><span><%= blog.comments.count %></span>
              <i class="myIcon"></i><span><%= blog.products.count %></span>
            </div>
          </div>
        </div>
      </div>
  <% end %>

  <!--<div class="col-md-6">-->
  <!--<div class="box-shadow-am sm-pd-am">-->
  <!--<div class="product-box">-->
  <!--<img width="100%" src="/placeholder.png">-->
  <!--</div>-->
  <!--<div class="product-detail">-->
  <!--<p>future product</p>-->
  <!--</div>-->
  <!--<div class="product-review">-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--</div>-->
  <!--<div class="product-price">-->
  <!--<h5>800.0</h5>-->
  <!--</div>-->
  <!--<div class="product-offer">-->
  <!--<p>20% we're getting from every purchase</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="col-md-6">-->
  <!--<div class="box-shadow-am sm-pd-am">-->
  <!--<div class="product-box">-->
  <!--<img width="100%" src="/placeholder.png">-->
  <!--</div>-->
  <!--<div class="product-detail">-->
  <!--<p>test product</p>-->
  <!--</div>-->
  <!--<div class="product-review">-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--</div>-->
  <!--<div class="product-price">-->
  <!--<h5>700.0</h5>-->
  <!--</div>-->
  <!--<div class="product-offer">-->
  <!--<p>20% we're getting from every purchase</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="col-md-6">-->
  <!--<div class="box-shadow-am sm-pd-am">-->
  <!--<div class="product-box">-->
  <!--<img width="100%" src="/placeholder.png">-->
  <!--</div>-->
  <!--<div class="product-detail">-->
  <!--<p>test product</p>-->
  <!--</div>-->
  <!--<div class="product-review">-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--<i class="fa fa-star"></i>-->
  <!--</div>-->
  <!--<div class="product-price">-->
  <!--<h5>700.0</h5>-->
  <!--</div>-->
  <!--<div class="product-offer">-->
  <!--<p>20% we're getting from every purchase</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

</div>

<div class="post-heading">

  <div class="post-sorting pull-right">
    <label>Sorting</label>
    <select class="sorting-fltr">
      <option class="fltr-dropdown">A-Z </option>
      <option>Newest First</option>
      <option>Popular First</option>
    </select>




  </div>
  <!-- <h2> <i class="fa fa-file"></i> Last Posts </h2> -->



</div>
<div class="post-heading">
  <h2> <i class="fa fa-file"></i> Last Posts </h2>

</div>


<p id="notice"><%= notice %></p>
<% @blogs.where(is_featured: false).each do |blog| %>
    <div class="row">
      <div class="col-md-12 list-border-style">
        <div class="card-blog-detail">
          <div class="row">
            <a href="/blogs/<%= blog.id %>" style="text-decoration: none;">
              <div class="col-md-2 img-border">
                <img width="100%" src="<%= blog.avatar.present? ? blog.avatar.url : 'https://saint-l-beau.herokuapp.com/blogPlaceholder.jpeg' %>">
              </div>
            </a>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-6">
                  <p class="category-name"><%= blog.category.name %> | <span><%= blog.created_at %></span></p>
                </div>
                <div class="col-md-6 text-right">
                  <i class="fa fa-star <%= blog.is_featured ? 'featureBlog' : '' %>" onclick="set_featured_blog(this, '<%= blog.id %>');"></i>
                  <%= link_to edit_blog_path(blog) do %>
                      <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to  blog, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fa fa-trash"></i>
                  <% end %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h2><a href="/blogs/<%= blog.id %>"  style="text-decoration: none; color: #000"><%= blog.title %></a></h2>
                  <div class="descriptionBlog">
                    <p><%= blog.description.html_safe %></p>
                  </div>
                </div>
              </div>

              <div class="row comnt-icon-left">
                <div class="col-md-8">
                  <i class="fa fa-heart"></i><span><%= blog.likes.count %></span>
                  <i class="fa fa-share-alt"></i><span><input style="border: none; width: 25px;; box-shadow: none; background: transparent" type="text" id="blogUrl" value="<%= blog.share_urls.count %>" ></span>
                  <a href="javascript:void(0);" onclick="blog_share('<%= blog.id %>','facebook', 'https://www.facebook.com/sharer/sharer.php?u=<%= root_url + "/blog_detail?id=#{blog.id}" %>')"> <i class="fa fa-facebook"></i></a>
                  <a href="javascript:void(0);" onclick="blog_share('<%= blog.id %>','twitter', 'https://twitter.com/intent/tweet?url=<%= root_url + "/blog_detail?id=#{blog.id}" %>')"> <i class="fa fa-twitter"></i></a>
                </div>
                <div class="col-md-4 comnt-icon-right text-right">
                  <i class="fa fa-eye"></i><span><%= blog.blog_views.count %></span>
                  <i class="fa fa-comment"></i><span><%= blog.comments.count %></span>
                  <i class="myIcon"></i><span><%= blog.products.count %></span>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
<% end %>
<br/>
<%= link_to 'New Blog', new_blog_path, class: 'btn btn-primary' %>

<div class="featured-pagination">
  <div>
    <ul class="pagination pagination-md">
      <%= will_paginate @blogs,renderer: BootstrapPagination::Rails %>
      <!--<li><a href="#">1</a></li>-->
      <!--<li><a href="#">2</a></li>-->
      <!--<li><a href="#">3</a></li>-->
      <!--<li><a href="#">...</a></li>-->
      <!--<li><a href="#">Next ></a></li>-->
      <!--<li><a href="#">Last >></a></li>-->
    </ul>
  </div>
  <div>
  </div>
</div>

</div>
<!-- <div class="featured-pagination">
  <div>
    <ul class="pagination pagination-md">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">...</a></li>
      <li><a href="#">Next ></a></li>
      <li><a href="#">Last >></a></li>
    </ul>
  </div>
  <div>
  </div>
</div> -->
<%#= link_to 'New Blog', new_blog_path, class: 'btn btn-primary' %>
</div>
</div></div>
<script>
    $("div.descriptionBlog").text(function(index, currentText) {
        return currentText.substr(0, 300);
    });
    function set_featured_blog(obj, id){
        {
            apprise('Are You Sure You Want To change Featured status?', {'verify': true}, function (r) {
                if (r) {
                    var obj_cls = $(obj).attr('class');
                    var status = ''
                    if (obj_cls === 'fa fa-star ') {
                        $(obj).addClass('featureBlog');
                        status = true
                    } else {
                        $(obj).removeClass('featureBlog');
                        status = false
                    }
                    $.ajax({
                        url: '/change_featured_state?id=' + id + '&value=' + status,
                        type: 'get',
                        dataType: 'json',
                        processData: false,
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (data) {
                            alert('Error');
                            //    window.location.reload();
                        }
                    });
                }
                else {
                }
            });
        }
    }

        function blog_share(id, type, url){
            var blogUrl = $('#blogUrl').val();
            $.ajax({
                url: '/share_blog?id='+ id + '&value=' + type,
                type: 'get',
                dataType: 'json',
                processData: false,
                success: function (data) {
                    $('#blogUrl').val(parseInt(blogUrl) + 1);
                    window.open(url);
                },
                error: function (data) {
                    alert('Error');
                    //    window.location.reload();
                }
            });
        }


</script>