<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>
    <div class="col-md-9">
      <p id="notice"><%= notice %></p>
      <% @blogs.each do |blog| %>

          <div class="row">
            <div class="col-md-12">
              <div class="card-blog-detail">
                <div class="row">
                  <div class="col-md-3">
                    <img width="100%" src="<%= blog.avatar.url %>">
                  </div>

                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-6">
                        <p class="category-name"><%= blog.category.name %> | <span><%= blog.created_at %></span></p>
                      </div>
                      <div class="col-md-6 text-right">
                        <i class="fa fa-star"></i>
                        <%= link_to edit_blog_path(blog) do %>
                            <i class="fa fa-edit"></i>
                        <% end %>
                        <%= link_to  blog, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="fa fa-trash"></i>
                        <% end %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <h2><%= blog.title %></h2>
                        <p><%= blog.description.html_safe %></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <i class="fa fa-heart"></i><span>123</span>

                        <i class="fa fa-share"></i><span>12</span>

                        <i class="fa fa-comment"></i><span>12</span>
                        <i class="fa fa-eye"></i><span>12</span>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
      <% end %>
      <br/>
      <%= link_to 'New Blog', new_blog_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>