<div class="col-md-9">
  <div class="heading-featured">
    <h1>Blogs</h1>
    <hr>
  </div>

  <div class="row">
    <div class="post-heading">
      <% if @blogs.count > 0 %>
        <div class="row">
          <div class="col-md-2 post-sorting pull-right" style="margin-left: 15px;">
            <%= select_tag 'blog[category]', options_for_select(Category.pluck(:name, :id)), { prompt: 'Select Category', class: "sorting-fltr", required: true, id: 'category-dropdown' } %>
          </div>
          <div class="col-md-2 post-sorting pull-right">
            <select class="sorting-fltr" id="sort-blogs">
              <!-- <option class="fltr-dropdown" value="-1">Default</option> -->
              <option value="0">Newest First</option>
              <option value="1">A-Z </option>
              <option value="2">Z-A </option>
            </select>
          </div>
        </div>
      <% end %>
      <!-- <h2> <i class="fa fa-file"></i> Last Posts </h2> -->
    </div>
  </div>

  <div class="row" id="blogs">
    <%= render "all_blogs" %>
  </div>
  <br/>

  <%= hidden_field_tag :page, @next_page %>

  <div class="row show-more-button">
    <div class="col-md-8">
      <%= link_to "New Blog", new_blog_path, class: "btn btn-primary pull-left" %>
      <% unless @blogs.current_page == @blogs.total_pages %>
        <div class="custom-showMore-btn pull-right">
          <%= link_to "javascript:void(0);", class: "btn btn-primary showMore-btn-style", id: "load-more" do %>
            <i class="fa fa-plus"></i> Show More
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <a href="javascript:" id="custom-topPage-btn"><i class="fa fa-angle-up"></i></a>
    </div>
  </div>
</div>

<script>
  $("div.descriptionBlog").text(function(index, currentText) {
    return currentText.substr(0, 300);
  });
  function set_featured_blog(obj, id){
    {
      apprise('Are You Sure You Want To change Featured status?', {'verify': true}, function (r) {
        if (r) {
          var obj_cls = $(obj).attr('class');
          var status = ''
          if (obj_cls === 'fa fa-star ') {
            $(obj).addClass('featureBlog');
            status = true
          } else {
            $(obj).removeClass('featureBlog');
            status = false
          }
          $.ajax({
            url: '/change_featured_state?id=' + id + '&value=' + status,
            type: 'get',
            dataType: 'json',
            processData: false,
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                alert('Error');
                //    window.location.reload();
            }
          });
        }
        else {
        }
      });
    }
  }

  function blog_share(id, type, url){
    var blogUrl = $('#blogUrl').val();

    $.ajax({
      url: '/share_blog?id='+ id + '&value=' + type,
      type: 'get',
      dataType: 'json',
      processData: false,
      success: function (data) {
          $('#blogUrl').val(parseInt(blogUrl) + 1);
          window.open(url);
      },
      error: function (data) {
          alert('Error');
          //    window.location.reload();
      }
    });
  }

  function createFBShareLink(id, type, blog, fbAppId) {
    var blog = JSON.parse(blog)
    var url = 'http://www.facebook.com/dialog/feed?app_id=' + fbAppId +
      '&link=http://ambassador.saintlbeau.com/blog_detail?id=' + id +
      '&picture=http://s3.amazonaws.com/saintalgorepublic/files/original/' + id + "_" + blog.avatar_file_name +
      '&name=' + blog.title +
      '&caption=' +
      '&description=' +
      '&redirect_uri=' + encodeURIComponent('http://ambassador.saintlbeau.com/share_blog?id=' + id + "&value=" + type) +
      '&display=popup';

    return url;
  }

  function openWindow(blog_id, type, blog){

    var url = createFBShareLink(blog_id, type, blog, '164286157812635');

    window.open(url);

  }
</script>
