<div class="col-md-9">
  <div class="row">
    <div class="col-md-12">

      <h1 class="card-header"><i class="fa fa-universal-access"></i> <%= t('blogs.index.page_title') %></h1>

    </div>
  </div>

  <div class="row m-t-30">
    <div class="col-md-12">
      <div class="card-body">
        <div class="affiliate_table_responsive">
          <table id="blogs-list" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
              <th><%= t('blogs.title_label') %></th>
              <th><%= t('blogs.user_label') %></th>
              <th><%= t('blogs.category_label') %></th>
              <th><%= t('blogs.publish_status_label') %></th>
              <th><%= t('actions_lable') %></th>
            </tr>
            </thead>

            <tbody>
            <% @blogs.each do |blog| %>
              <tr>
                <td><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></td>
                <td><%= blog.user_name %></td>
                <td><%= blog.category_name %></td>
                <td id="blog-status-<%= blog.id %>"><%= blog.is_published? ? 'Published' : 'Unpublished' %></td>
                <td>
                  <label class="switch">
                    <input type="checkbox" class="publish-switch" id="<%= blog.id %>" <%= 'checked' if blog.is_published? %>>
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="featured-pagination">
    <div>
      <ul class="pagination pagination-md">
        <%= will_paginate @blogs,renderer: BootstrapPagination::Rails %>
      </ul>
    </div>
    <div>
    </div>
  </div>
</div>

<script>
  $(function(){

    $(".publish-switch").change(function(event){
      status = $(this).prop("checked");
      id = event.target.id;
      if(status == "false"){
        $.ajax({
          url: "/change_publish_status.json?id=" + id + "&status=" + status,
          method: "get",
          contentType: "application/json",
          success: function(data){
            if(data.success){
              $("#" + id).prop('checked', false);
              $("#blog-status-" + id).text("Unpublised");
            }else{
              toastr.error(data.message);
            }
          }
        })
      }
      else{

        $.ajax({
          url: "/change_publish_status.json?id=" + id + "&status=" + status,
          method: "get",
          contentType: "application/json",
          success: function(data){
            if(data.success){
              $("#" + id).prop('checked', true);
              $("#blog-status-" + id).text("Publised");
            }else{
              toastr.error(data.message);
            }
          }
        })
      }
    })

  })
</script>
