<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Title:</strong>
  <%#= @blog.title %>
</p>

<p>
  <strong>Promote post:</strong>
  <%#= @blog.promote_post %>
</p>

<p>
  <strong>Description:</strong>
  <%#= @blog.description %>
</p>

<p>
  <strong>Category:</strong>
  <%#= @blog.category_id %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-default' %> |
<%= link_to 'Back', blogs_path, class: 'btn btn-default' %> -->




<div class="dashboard-holder detail-blog">
<div class="row">
<div class="col-md-3">
  <%= render partial: "shared/side_bar" %>
</div>
<div class="col-md-9">
<div class="row">
  <div class="col-md-12">
    <div class="main">
      <div class="three-dots pull-right">
        <div class="dropdown">
          <!-- three dots -->
          <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <!-- menu -->
          <div id="myDropdown" class="dropdown-content">
            <!--<a href="/blogs/<%#= @blog.id %>/edit">Edit</a>-->
            <%= link_to 'Edit', edit_blog_path(@blog) %>
            <%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
            <a href="/change_publish_status?id=<%= @blog.id %>&status=<%= @blog.is_published ? false : true %>" onclick="return confirm('Are you sure?')"><%= @blog.is_published ? 'Un publish' : 'Publish' %></a>
            <a href="javascript:void(0);" onclick="showBuyerView('<%= @blog.id %>');">Show as buyers see it</a>
          </div>
        </div>
      </div>
      <h2><span> <a href="/blogs" style="text-decoration: none;"><i class="fa fa-angle-left"></i> Go to the list of blog posts </a></span> <!-- three dot menu -->
      </h2>


      <hr>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="detail-img">
      <div class="img-block"><h4><%= @blog.is_published ? 'Published' : 'Unpublish' %></h4></div>
      <img width="100%" src="<%= @blog.avatar.present? ? @blog.avatar.url : 'https://saint-l-beau.herokuapp.com/blogPlaceholder.jpeg' %>">

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="detail-img detail-icon">
      <i class="<%= @blog.likes.find_by_user_id(current_user.id) ? 'fa fa-heart liked' : 'fa fa-heart' %>" onclick="like_comment(this,'<%= @blog.id %>');"></i><input style="border: none; width: 25px;; box-shadow: none; background: transparent" type="text" id="blogText" value="<%= @blog.likes.count %>" >
      <i class="fa fa-share"></i><span>12</span>
      <i class="fa fa-comment"></i><span><%= @blog.comments.count %></span>
      <i class="fa fa-eye"></i><span><%= @blog.blog_views.count %></span>

      <h5 class="pull-right"> <span class="category-style"><%= @blog.category.name %></span>  <span>| <%= @blog.created_at.to_date.strftime("%d-%m-%Y") %></span> <strong>
        <i class="fa fa-star <%= @blog.is_featured ? 'featureBlog' : '' %>" onclick="set_featured_blog(this, '<%= @blog.id %>');"></i>
        <% if @blog.is_featured %>Featured on <%= @blog.feature_date.to_time.strftime("%H:%M:%S %d-%m-%Y") %><% end %>
        <%= link_to edit_blog_path(@blog) do %>
            <i class="fa fa-pencil"></i>
        <% end %></strong></h5>
      <hr>
    </div>

  </div>
</div>

<!--<div class="row">
  <div class="col-md-12">
    <div class="cat-row detail-img">
     
    </div>
  </div>
</div>
-->
<div class="row">
  <div class="col-md-12 title-style">
    <div class="detail-img">
      <h2><%= @blog.title %></h2>
      <p><%= @blog.description.html_safe %></p>
    </div>
    <hr>
  </div>
</div>

<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">-->
<!--</div>-->
<!--</div>-->

<!--<div class="row" style="margin-top:20px;">-->
<!--<div class="col-md-12">-->
<!--<div class="detail-img">-->
<!--<blockquote>-->
<!--Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet-->
<!--</blockquote>-->
<!--</diV>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="detail-img">-->
<!--<iframe width="100%" height="315" src="https://www.youtube.com/embed/xNwkBYmdjqo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="detail-img">-->
<!--<h4><strong>Lorem ipsum dolor sit amet:</strong></h4>-->
<!--<p>1)Lorem ipsum dolor sit amet Lorem ipsum dolor sit</p>-->
<!--<p>2)Lorem ipsum dolor sit amet Lorem ipsum dolor sit</p>-->
<!--<p>3)Lorem ipsum dolor sit amet Lorem ipsum dolor sit</p>-->
<!--<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<div class="row">
  <div class="col-md-12 product-title">
    <h2>Products</h2>
  </div>
</div>

<div class="row product-shadow product-border-style">
  <% @selected_products.each do |product| %>
      <div class="col-md-4">
        <div class="box-shadow-am sm-pd-am">
          <div class="product-box">
            <img width="100%" src="<%= product.avatar.present? ? product.avatar.url : '/placeholder.png' %>">
          </div>
          <div class="product-detail">
            <p><%= product.title %></p>
          </div>
          <div class="product-review">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product-price">
            <h5><%= product.price %></h5>
          </div>
          <div class="product-offer">
            <p>20% we're getting from every purchase</p>
          </div>
        </div>
      </div>

  <% end %>
</div>

<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<div class="box-shadow-am sm-pd-am">-->
<!--<div class="product-box">-->
<!--<img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">-->
<!--</div>-->
<!--<div class="product-detail">-->
<!--<p>Drjort+ INTRAJET FIRMING SOLUTION(1 box/ 5pcs)</p>-->
<!--</div>-->
<!--<div class="product-review">-->
<!--<i class="fa fa-star"></i>-->
<!--<i class="fa fa-star"></i>-->
<!--<i class="fa fa-star"></i>-->
<!--<i class="fa fa-star"></i>-->
<!--</div>-->
<!--<div class="product-price">-->
<!--<h5>250,000</h5>-->
<!--</div>-->
<!--<div class="product-offer">-->
<!--<p>20% we're getting from every purchase</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-4">-->
<!--<div class="box-shadow-am sm-pd-am">-->
<!--<div class="product-box">-->
<!--<img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">-->
<!--</div>-->
<!--<div class="product-detail">-->
<!--<p>Drjort+ INTRAJET FIRMING SOLUTION(1 box/ 5pcs)</p>-->
<!--</div>-->
<!--<div class="product-review">-->
<!--<i class="fa fa-star"></i>-->
<!--<i class="fa fa-star"></i>-->
<!--<i class="fa fa-star"></i>-->
<!--<i class="fa fa-star"></i>-->
<!--</div>-->
<!--<div class="product-price">-->
<!--<h5>250,000</h5>-->
<!--</div>-->
<!--<div class="product-offer">-->
<!--<p>20% we're getting from every purchase</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-4">-->
<!--<div class="box-shadow-am sm-pd-am">-->
<!--<div class="product-box">-->
<!--<img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">-->
<!--</div>-->
<!--<div class="product-detail">-->
<!--<p>Drjort+ INTRAJET FIRMING SOLUTION(1 box/ 5pcs)</p>-->
<!--</div>-->
<!--<div class="product-review">-->
<!--<i class="fa fa-star"></i>-->
<!--<i class="fa fa-star"></i>-->
<!--<i class="fa fa-star"></i>-->
<!--<i class="fa fa-star"></i>-->
<!--</div>-->
<!--<div class="product-price">-->
<!--<h5>250,000</h5>-->
<!--</div>-->
<!--<div class="product-offer">-->
<!--<p>20% we're getting from every purchase</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<button class="btn comnt-btn-style btn-default pull-right" onclick="openCommentModal();">
  Post a comment
</button>

<div id="blogComment">
  <%= render partial: 'blogs/comments' %>
</div>

</div>
</div>
</div>

<div class="modal fade" id="addComment" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4 class="">Add Comment</h4>
        <div class="form-group">
          <label></label>
          <input type="text" class="form-control" placeholder="Enter comment here" id="blog_comment">
          <%= hidden_field_tag :comment_id %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="add_comment('<%= @blog.id %>','<%= current_user.id %>')">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="buyerView" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4 class="">Buyer View</h4>
        <%= render partial: 'blogs/buyer_view' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
    function openCommentModal(){
        $('#comment_id').val('');
        $('#blog_comment').val('');
        $('#addComment').modal('show');
    }
    function add_comment(id, user_id){
        var text = $('#blog_comment').val();
        if (text == ''){
            apprise("please enter comment first");
            return false;
        }
        var parentId = $('#comment_id').val();
        $.ajax({
            url:'/add_comment?id='+id+'&user_id='+user_id+'&message='+text+'&parent_id='+parentId,
            type:'get',
            dataType:'html',
            processData:false,
            async: false,
            success:function (data) {
                $('#addComment').modal('hide');
                $('#blogComment').html(data);
                $('#comment_id').val('');
            },
            error:function (data) {
//                alert ('Error');
            }
        });
    }
    function like_comment(obj,id){
        var obj_cls = $(obj).attr('class');
        var text_val = $('#blogText').val();
        var obj_cls_status = obj_cls.split(' ')[2];
        var status = '';
        if (obj_cls_status == "liked"){
            status = true;
            $(obj).removeClass('liked');
            $('#blogText').val(parseInt(text_val) - 1);
        }else{
            status = false;
            $(obj).addClass('liked');
            $('#blogText').val(parseInt(text_val) + 1);
        }
        $.ajax({
            url: '/blog_like_unlike?id='+ id + '&value=' + status,
            type: 'get',
            dataType: 'html',
            processData: false,
            success: function (data) {

            },
            error: function (data) {
                alert('Error');
                //    window.location.reload();
            }
        });
    }


    function changeLanguage(language) {
        var element = document.getElementById("url");
        element.value = language;
        element.innerHTML = language;
    }

    function showDropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
    function set_featured_blog(obj, id){
        {
            apprise('Are You Sure You Want To change Featured status?', {'verify': true}, function (r) {
                if (r) {
                    var obj_cls = $(obj).attr('class');
                    var status = ''
                    if (obj_cls === 'fa fa-star ') {
                        $(obj).addClass('featureBlog');
                        status = true
                    } else {
                        $(obj).removeClass('featureBlog');
                        status = false
                    }
                    $.ajax({
                        url: '/change_featured_state?id=' + id + '&value=' + status,
                        type: 'get',
                        dataType: 'json',
                        processData: false,
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (data) {
                            alert('Error');
                            //    window.location.reload();
                        }
                    });
                }
                else {
                }
            });
        }
    }
    function showBuyerView(id){
        window.location.href = '/buyer_show?id='+id;
    }
</script>