<%= render 'blogs/og_tags_content' %>
<% belongs_to_user = false %>
<% if current_user.present? %>
  <% belongs_to_user = current_user.users_blog?(@blog.id) %>
<% end %>

<div class="<%= add_container %>">
  <div class="<%= blog_screen_size %>">
    <div class="row">
      <div class="col-md-12">
        <div class="main">
          <div class="three-dots pull-right">
            <div class="dropdown">
              <!-- three dots -->
              <% if current_user.present? %>
                <% if belongs_to_user %>
                  <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <!-- menu -->
                  <div id="myDropdown" class="dropdown-content">
                    <%= link_to t(:edit_label), edit_blog_path(@blog) %>
                    <%= link_to t(:delete_label), @blog, method: :delete, data: { confirm: t(:delete_confirmation) } %>
                    <a href="/change_publish_status?id=<%= @blog.id %>&status=<%= @blog.is_published ? false : true %>" onclick="return confirm('<%= t(:delete_confirmation) %>')">
                      <%= @blog.is_published ? t(:ubpublish_label) : t(:publish_label) %>
                    </a>
                    <a href="javascript:void(0);" onclick="showBuyerView('<%= @blog.id %>');"><%= t('blogs.show.buyer_view_label') %></a>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <h2><span> <a href="/blogs" style="text-decoration: none;"><i class="fa fa-angle-left"></i> <%= t('blogs.goto_list_label') %> </a></span> <!-- three dot menu -->
          </h2>
          <hr>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="detail-img">
          <div class="img-block"><h4><%= @blog.is_published ? t(:publish_label) : t(:ubpublish_label) %></h4></div>
          <%= image_tag render_image(@blog), width: '100%' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="detail-img detail-icon">
          <i class="<%= liked_class(@blog) %>" onclick="like_comment(this,'<%= @blog.id %>');"></i><input style="border: none; width: 25px;; box-shadow: none; background: transparent" type="text" id="blogText" value="<%= @blog.likes.count %>" >
          <i class="fa fa-share"></i><span style="display:inline-block;"><input style="border: none; width: 25px;; box-shadow: none; background: transparent" type="text" id="blogUrl" value="<%= @blog.share_urls.count %>" ></span>
          <% if @blog.is_published? %>
            <%= render partial: 'facebook_share_button', locals: { blog: @blog } %>
          <% end %>
          <i class="fa fa-eye"></i><span><%= @blog.blog_views.count %></span>

          <h5 class="pull-right"> <span class="category-style"><%= @blog.category_name %></span>  <span>| <%= @blog.created_at.to_date.strftime("%d-%m-%Y") %></span> <strong>
            <i class="fa fa-star <%= @blog.is_featured ? 'featureBlog' : '' %>" onclick="set_featured_blog(this, '<%= @blog.id %>');"></i>
            <% if @blog.is_featured %>Featured on <%= @blog.feature_date.to_time.strftime("%H:%M:%S %d-%m-%Y") %><% end %>
            <% if signed_in? %>
              <% if belongs_to_user %>
                <%= link_to edit_blog_path(@blog) do %>
                  <i class="fa fa-pencil"></i>
                <% end %></strong></h5>
              <% end %>
            <% end %>
          <hr>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 title-style">
        <div class="detail-img">
          <h2><%= @blog.title %></h2>
          <p><%= @blog.description.html_safe %></p>
        </div>
        <hr>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 product-title">
        <h2><%= t('blogs.new.products_label') %></h2>
      </div>
    </div>

    <div class="row product-shadow product-border-style">
      <% @selected_products.each do |product| %>
        <div class="col-md-3">
          <div class="box-shadow-am sm-pd-am">
            <%= link_to product.url, target: :blank do %>
              <div class="">
                <%= image_tag product.avatar.attached? ? product.avatar.variant(combine_options: { resize: product_image_size, gravity: 'Center', extent: product_image_size, background: "grey", quality: 95 }) : '/placeholder.png', width: '100%' %>
              </div>
            <% end %>

            <div class="product-price">
              <h5><%= number_with_delimiter(product.price, delimiter: '.') %>₫</h5>
            </div>

            <div class="product-detail">
              <p><%= product.title %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if @blog.is_published? && signed_in? %>
      <button class="btn comnt-btn-style btn-default pull-right" onclick="openCommentModal();">
        <%= t('blogs.post_comment_label') %>
      </button>

      <div id="blogComment">
        <%= render partial: 'comments' %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="addComment" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4 class=""><%= t('blogs.show.comment_modal.title') %></h4>
        <div class="form-group">
          <label></label>
          <input type="text" class="form-control" placeholder="<%= t('blogs.show.comment_modal.comment_placeholder') %>" id="blog_comment">
          <%= hidden_field_tag :comment_id %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="add_comment('<%= @blog.id %>','<%= current_user&.id %>')"><%= t(:save_label) %></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t(:cancel_label) %></button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="shareBlogModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4 class=""><%= t('blogs.show.share_modal.title') %></h4>
        <%= render partial: 'facebook_share_button', locals: { blog: @blog } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t(:cancel_label) %></button>
      </div>
    </div>

  </div>
</div>

<script>
  user_signed_in = <%= signed_in? %>;
  user_has_shared = <%= signed_in? ? current_user.already_shared_blog?(@blog.id, 'facebook') : false %>;
  if (user_has_shared) {
  } else {
    setTimeout(showShareModal, 10000);
    function showShareModal() {
      $('#shareBlogModal').modal('show');
    }
  }

  function showSignInModal() {
    $('#signIn').modal('show');
  }
  function openCommentModal(){
    if(!user_signed_in) {
      showSignInModal();
      return;
    }
    $('#comment_id').val('');
    $('#blog_comment').val('');
    $('#addComment').modal('show');
  }
  function add_comment(id, user_id){
    var text = $('#blog_comment').val();
    if (text == ''){
      apprise("please enter comment first");
      return false;
    }
    var parentId = $('#comment_id').val();
    $.ajax({
      url:'/add_comment?id='+id+'&user_id='+user_id+'&message='+text+'&parent_id='+parentId,
      type:'get',
      dataType:'html',
      processData:false,
      async: false,
      success:function (data) {
          $('#addComment').modal('hide');
          $('#blogComment').html(data);
          $('#comment_id').val('');
      },
      error:function (data) {
//                alert ('Error');
      }
    });
  }
  function like_comment(obj,id){
    if(!user_signed_in) {
      showSignInModal();
      return;
      }
    var obj_cls = $(obj).attr('class');
    var text_val = $('#blogText').val();
    var obj_cls_status = obj_cls.split(' ')[2];
    var status = '';
    if (obj_cls_status == "liked"){
        status = true;
        $(obj).removeClass('liked');
        $('#blogText').val(parseInt(text_val) - 1);
    }else{
        status = false;
        $(obj).addClass('liked');
        $('#blogText').val(parseInt(text_val) + 1);
    }
    $.ajax({
        url: '/blog_like_unlike?id='+ id + '&value=' + status,
        type: 'get',
        dataType: 'html',
        processData: false,
        success: function (data) {

        },
        error: function (data) {
            alert('Error');
            //    window.location.reload();
        }
    });
  }


  function changeLanguage(language) {
    var element = document.getElementById("url");
    element.value = language;
    element.innerHTML = language;
  }

  function showDropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

    // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
          }
      }
    }
  }
  function set_featured_blog(obj, id){
      {
          apprise('<%= t('blogs.feautre_blog_text') %>', {'verify': true}, function (r) {
              if (r) {
                  var obj_cls = $(obj).attr('class');
                  var status = ''
                  if (obj_cls === 'fa fa-star ') {
                      $(obj).addClass('featureBlog');
                      status = true
                  } else {
                      $(obj).removeClass('featureBlog');
                      status = false
                  }
                  $.ajax({
                      url: '/change_featured_state?id=' + id + '&value=' + status,
                      type: 'get',
                      dataType: 'json',
                      processData: false,
                      success: function (data) {
                          window.location.reload();
                      },
                      error: function (data) {
                          alert('Error');
                          //    window.location.reload();
                      }
                  });
              }
              else {
              }
          });
      }
  }
  function showBuyerView(id){
      window.location.href = '/buyer_show?id='+id;
  }

  function blog_share(id, type, url){
    var blogUrl = $('#blogUrl').val();

    $.ajax({
      url: '/share_blog?id='+ id + '&value=' + type,
      type: 'get',
      dataType: 'json',
      processData: false,
      success: function (data) {
        $('#blogUrl').val(parseInt(blogUrl) + 1);
        window.open(url);
      },
      error: function (data) {
        alert('Error');
      }
    });
  }
</script>
