<div class="col-md-9">
  <p id="notice"><%= notice %></p>

  <h1 class="card-header"><%= t('point_types.edit.title') %></h1>

  <%= render 'form', point_type: @point_type %>
  <br/>
  <%= link_to t(:show_label), @point_type, class: 'btn btn-default set-border-radius' %> |
  <%= link_to t(:back_label), point_types_path, class: 'btn btn-default set-border-radius' %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.update-text').val('<%= t(:update_label) %>');
  });

</script>
