<div class="col-md-9">

  <h1><%= t('point_types.index.title') %></h1>
  <hr>
  <div class="table-responsive">

  <table class="table">
    <thead>
    <tr>
      <th><%= t('point_types.table_headers.name_label') %></th>
      <th><%= t('point_types.table_headers.points_label') %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @point_types.each do |point_type| %>
        <tr>
          <td><%= point_type.name %></td>
          <td><%= point_type.point %></td>
          <td><%= link_to t(:show_label), point_type %></td>
          <td><%= link_to t(:edit_label), edit_point_type_path(point_type) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  </div>
  <br>

  <%= link_to t('point_types.index.new_btn_label'), new_point_type_path, class: 'btn btn-primary set-border-radius btn-color' %>
</div>
