<div class="col-md-9">
  <div class="middle-row-grp">
    <div class="col-md-12 class-z">
      <div class="lib-panel">
        <div class="row box-shadow-conversation-profile-admin">
          <div class="flex-sb">
            <div class="flex-l">
              <div class="">
                <div class="flex-l">
                  <div class="">
                    <%= image_tag author_avatar(conversation), width: "100%", class: 'author-image' %>
                  </div>

                  <div class="m-l-10 text-left">
                    <p class="p-l ">

                      <span class="admin-txt con-truncate" title="<%= conversation.user.name %>"><%= user_profile_link(conversation.user) %></span> <i
                        class="fa fa-angle-right pos-arrow-admin" aria-hidden="true"></i>
                      <span class="con-truncate"> <%= link_to conversation.group.name, group_path(conversation.group.id) %>
                      </span>
                    </p>
                    <p class="p-b text-left truncate-a ">Saint L beau</p>
                  </div>
                </div>
              </div>

              <div class="m-l-10 mob-m-l-0">
                <div class="flex-l">
                  <div class="">
                    <img class="" src="/assets/calender.png" width="100%">
                  </div>

                  <div class="m-l-10">
                    <p class="p-b m-t-8"><%= posted_date(conversation) %></p>
                  </div>
                  <!-- <div class="m-l-10">
                    <p class="p-b m-t-8">Group Name</p>
                    <p class="p-b m-t-8"><%= conversation.group.name %></p>
                  </div> -->
                </div>
              </div>

              <div class="m-l-10 mb-l-0 hidden-xs hidden-sm">
                <%= link_to 'New Reply', "#", class: "btn btn-primary new_reply_btn", id: "reply-#{conversation.id}" %>
              </div>
            </div>
            <% if conversation.user == current_user  ||  current_user && current_user.role.id == 6 %>
            <div class="grp-edit-delete-icon ">
              <%= link_to "javascript:void(0)", data: { url: conversation_path(conversation), name: conversation.subject }, class: "delete-group-link", id: "delete-conversation" do %>
              <i class="fa fa-trash inneer font-awesome-edit-profile" aria-hidden="true"></i>
              <% end %>
            </div>
            <% end %>
          </div>

          <div class="join-grp-dscptn">
            <%= link_to conversation do %>
            <h2><%= conversation.subject %></h2>
            <% end %>
            <h4 class="set-body-paragraph"><%= conversation.body&.html_safe %></h4>
            <div class="comment more">
              <%# if conversation.body.include?("http") && conversation.body.include?("figure") %>
                <%#= conversation.body&.html_safe %>
              <%# elsif conversation.body.include?("http")%>
                <!-- <a href="<%#= conversation.body%>" target="_blank"><%#= conversation.body%></a> -->
              <%# else%>
                <% if conversation.avatar.attached? && conversation.avatar.content_type.include?("video") %>
                      <%= video_tag url_for(conversation.avatar), size: "300x320", controls: true %>
                    <% else %>
                    <%= image_tag conversation.avatar, width: "50%", height: "50%" if conversation.avatar.attached? %>
                    <% end %>
              <%# end %>
            </div>

          </div>

          <% if conversation.replies.present? %>
          <% reply = conversation.replies.first %>
          <h5>Latest reply</h5>
          <div class="flex-l pt-10">
            <div class="">
              <%= image_tag author_avatar(reply), width: "100%", class: 'author-image' %>
            </div>

            <div class="m-l-10 ">
              <p class="p-b m-p-0 text-left"><%= user_profile_link(reply.user) %></p>
              <p class="p-l"><%= posted_date(reply) %></p>
            </div>
          </div>

          <div class="row bbbb">
            <div class="col-md-12">
              <div class="comment more text-left pl-40 ">
                <% if reply.body.include?("http") && reply.body.include?("figure") %>
                  <%= reply.body&.html_safe %>
                <% elsif reply.body.include?("http")%>
                  <a href="<%= reply.body%>" target="_blank"><%= reply.body%></a>
                <% else%>
                  <%= reply.body&.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
          <% if reply.replies.present? %>
          <% reply = reply.replies.first %>
          <h5>Latest reply of reply</h5>
          <div class="flex-l pt-10">
            <div class="">
              <%= image_tag author_avatar(reply), width: "100%", class: 'author-image' %>
            </div>

            <div class="m-l-10 ">
              <p class="p-b m-p-0 text-left"><%= user_profile_link(reply.user) %></p>
              <p class="p-l"><%= posted_date(reply) %></p>
            </div>
          </div>
          <div class="row bbbb">
            <div class="col-md-12">
              <div class="comment more text-left pl-40 ">
                <%= reply.body&.html_safe %>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
          <div class="flex-sb">
            <div class="flex-l  m-t-8">
              <div class="">
                <%= like_dislike_link(conversation) %>
              </div>

              <div class="m-l-10 m-t-8">
                <p class="fs-12 m-t-3 likes-count-<%= conversation.id %>"><%= conversation.likes_count %></p>
              </div>

              <div class="m-l-10">
                <%= link_to conversation_path(conversation) do %>
                  <i class="fa fa-comment fs-20" style="color: #256664;"></i>
                <% end %>
              </div>

              <div class="m-l-10 m-t-12">
                <p class="fs-12"><%= conversation.replies_count %></p>
              </div>
            </div>

            <div class="m-t-8">
              <%#= new_reply_link(conversation) %>
              <%= link_to 'New Reply', "#", class: "btn btn-primary new_reply_btn", id: "reply-#{conversation.id}" %>
            </div>
          </div>
          <div class="flex-l">
            <div class="">
              <%= render partial: 'shared/conversation_reply', locals: { reply: conversation.replies.new , url: conversation_reply_conversations_path} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>