<div class="lib-panel">
  <div class="row box-shadow-conversation-profile-admin-middle">
    <div class="flex-sb">
      <div class="flex-l">
        <div class="">
          <div class="flex-l">
            <div class="img-side-con">
              <%= image_tag author_avatar(conversation), width: "100%", class: 'author-image' %>
            </div>

            <div class="m-l-10">
              <p class="p-l"><%= group_user_name(conversation.user) %></p>
              <p class="p-b-side-con">Saint L beau</p>
            </div>
          </div>
        </div>
        <div class="m-l-10 mob-m-l-0">
          <div class="flex-l">
            <div class="img-side-con">
              <img class="" src="/assets/calender.png" width="100%">
            </div>
            <div class="m-l-10">
              <p class="p-b-side-con m-t-8"><%= posted_date(conversation) %></p>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="">
      <%= link_to conversation do %>
        <h2 class="sidebar-h-con-in"><%= conversation.subject %></h2>
      <% end %>
    </div>
  </div>
</div>
