<div class="flex-lll p-con-srch">
  <div class=" hidden-sm hidden-xs">
    <%= image_tag 'conversation-icon.png' %>
  </div>

  <div class="pl-3 padding-left-result">
    <div class="flex-l">
      <div class="">
        <div class="flex-l">
          <div class="">
            <%= image_tag author_avatar(conversation), width: "100%", class: 'author-image-con' %>
          </div>

          <div class="m-l-10">
            <!-- <p class="p-l con-srch">Admin</p> -->
            <p class="p-b con-srch"><%= group_user_name(conversation.user) %></p>
          </div>
        </div>
      </div>

      <div class="m-l-10">
        <div class="flex-l">
          <div class="">
            <img class="claender-con" src="/assets/calender.png" width="100%">
          </div>

          <div class="m-l-10">
            <p class="p-b con-srch"><%= posted_date(conversation) %></p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to conversation do %>
      <h2 class="banner-h4-con"><%= conversation.subject %></h2>
    <% end %>
    <p class="text-left banner-p hidden-sm hidden-xs">
    <div class="grp-card-icon hidden-sm hidden-xs">
      <i class="fa fa-heart color-for-icon-heart fs-15" width="100%"></i>
      <p class="m-para-srch-con"><%= conversation.likes_count %></p>
      <i class="fa fa-comment color-for-icon fs-15" width="100%"></i>
      <p class="m-para-srch-con"><%= conversation.replies_count %></p>
    </div>
  </div>
</div>

<div class="br-b-con">
</div>
