<%= render 'conversations/og_tags_content' %>
<div class="<%= add_container %>">
  <div class="group-back-btn hidden-md hidden-lg "> 
    <%= link_to image_tag("back-arrow-btn.png"), 'javascript:history.back()' %>
  </div>
    <br/>
  <div class="user_conversation mb-p-0 <%= add_main_div_column %>">
    <div class="middle-row-grp">
      <div class="col-md-12">
        <div class="lib-panel">
          <div class="row box-shadow-conversation-profile-admin">
            <div class="flex-sb">
              <div class="flex-l">
                <div class="">
                  <div class="flex-l">
                    <div class="">
                      <%= image_tag author_avatar(@conversation), width: "100%", class: 'author-image' %>
                    </div>

                    <div class="m-l-10">
                      <p class="p-l"><%= user_profile_link(@conversation.user) %></p>
                      <p class="p-b">Saint L beau</p>
                    </div>
                  </div>
                </div>

                <div class="m-l-10 mob-m-l-0">
                  <div class="flex-l">
                    <div class="">
                      <img class="" src="/assets/calender.png" width="100%">
                    </div>

                    <div class="m-l-10">
                      <p class="p-b m-t-8"><%= posted_date(@conversation) %></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="grp-edit-delete-icon ">
                <a data-url="" data-name="<%= @conversation.subject %>" class=" delete-group-link" id="delete-conversation" href="#">
                  <i class="fa fa-trash inneer font-awesome-edit-profile" aria-hidden="true"></i>
                </a>
              </div>
            </div>

            <div class="join-grp-dscptn">
              <h2><%= @conversation.subject %></h2>
              <h4 class="set-body-paragraph"><%= @conversation.body&.html_safe %></h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="comment more" style="text-align: center">
                    <% if @conversation.avatar.attached? && @conversation.avatar.content_type.include?("video") %>
                      <%= video_tag url_for(@conversation.avatar), size: "300x320", controls: true %>
                    <% else %>
                    <%= image_tag @conversation.avatar, width: "50%", height: "50%" if @conversation.avatar.attached? %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="flex-sb">
                <div class="flex-l  m-t-8">

                  <div class="">
                    <%= like_dislike_link(@conversation) %>
                  </div>

                  <div class="m-l-10 m-t-8">
                    <p class="fs-12 m-t-3 likes-count-<%= @conversation.id %>"><%= @conversation.likes_count %></p>
                  </div>

                  <div class="m-l-10">
                    <i class="fa fa-comment fs-20 "></i>
                  </div>

                  <div class="m-l-10 m-t-12">
                    <p class="fs-12"><%= @conversation.replies_count %></p>
                  </div>

                </div>

                <div class="m-t-8">
                  <div class="m-t-8">
                    <%= link_to 'New Reply', "#", class: "btn btn-primary new_reply_btn", id: "reply-#{@conversation.id}" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="text-left">
                <%= render partial: 'shared/conversation_reply', locals: { reply: @reply , url: conversation_reply_conversations_path} %>
              </div>
            </div>

            <% unless @conversation.replies_count.zero? %>
            <h3><%= @conversation.replies_count %> Replies</h3>
            <hr>

            <div id='replies'>
              <%= render partial: 'reply', collection: @replies, as: :reply %>
            </div>
            <% end %>
          </div>

          <%= hidden_field_tag :page, @replies.next_page %>
          <%= render partial: 'shared/show_more', locals: { objects_collection: @replies, url: replies_conversation_path(@conversation) } %>
        </div>
      </div>
    </div>
  </div>

  <div class="<%= add_stats_column %>">
    <h2 class="sidebar-h-con">Conversation Stats</h2>
    <div class="">
      <div class="lib-panel">
        <div class="row box-shadow-conversation-profile-admin">
          <div class="flex-c social-con-padding">
            <div class="">
              <%= like_dislike_link(@conversation) %>
              <p class="m-0 likes-count-<%= @conversation.id %>"><%= @conversation.likes_count %></p>
            </div>

            <div class="">
              <i class="fa fa-comment color-for-icon-con fs-20" width="100%"></i>
              <p class="m-0"><%= @conversation.replies_count %></p>
            </div>

            <div class="">
              <i class="fa fa-eye color-for-icon-con fs-20" width="100%"></i>
              <p class="m-0"><%= @conversation.views_count %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if @related_posts.present? %>
    <h2 class="sidebar-h-con">Related Posts</h2>
    <%= render partial: 'related_post', collection: @related_posts, as: :conversation %>
    <% end %>

    <h2 class="sidebar-h-con">Share on social network</h2>
    <div class="">
      <div class="lib-panel">
        <div class="row box-shadow-conversation-profile-admin-middle">
          <div class="flex-c social-con-padding">
            <div class="">
              <%= link_to "javascript:void(0);", class: "conversation-share-on-facebook", data: { id: @conversation.id, type: 'facebook', attributes: conversation_attributes(@conversation)} do %>
              <img src="/assets/fb.png">
              <% end %>
              <%# end %>
            </div>
            <div class="">
              <a
                href="mailto:<%= current_user.present? ? current_user.email : User.first.email %>?subject=<%= @conversation.subject%>&body=<%= @conversation.body %>"><img
                  src="/assets/m.png"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="group-delete-modal" class="modal fade groups-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close mob-close-btn" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="text-center">
          <h1 class="modall-title group-title"> </h1>
          <p>you will not be able to restore it then</p>
        </div>
        <div class="text-center">
          <div class="text-center">
            <%= link_to 'Yes', '', class: "btn btn-primary new_group-modal_b_btn", id: "delete-modal-group-link", method: :delete %>
            <a class="btn btn-primary new_group-modal_btn" , id='cancel-delete'>No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  user_signed_in = <%= signed_in? %>;
  $('.conversation-share-on-facebook').click(function () {
    conversation_id = $(this).data('id');
    type = $(this).data('type');
    conversation = $(this).data('attributes');
    // url     = $(this).data('share-url');
    // limit_url = $(this).data('limit-url');
    if (user_signed_in) {
      var url = createFBShareLink(conversation_id, type, conversation, '1660844573983661');
      window.open(url);
    } else {
      hostname = window.location.hostname == 'localhost' ? 'http://localhost:3000?signin=true' : '/?signin=true'
      window.location.href = hostname
    }
  });

  function createFBShareLink(id, type, conversation, fbAppId) {
    var link = window.location.hostname == 'localhost' ? 'http://localhost:3000' : `https://${window.location.hostname}`
    var url = `http://www.facebook.com/dialog/feed?app_id=${fbAppId}
      &link=https://ambassador.saintlbeau.com/conversations/${id}
      &name=${conversation.subject}
      &caption=SainLBeau blogs
      &description=This is just for testing purpose
      &redirect_uri=${encodeURIComponent(`${link}/conversations/${id}`)}
      &display=popup`;
    return url;
  }
</script>