<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>
    <div class="col-md-9">
      <div class="order-dropDown-style">
      <div class="row">
        <div class="col-md-12">
          <h1 class="card-header">Order Management</h1>
          <hr>
        </div>
        <div class="col-md-4">
          <div class="col-sm-12">
            <h5>since</h5>
            <%= text_field_tag :since,nil, :class => 'form-control dateTime', :placeholder=>"Please select date since filter started" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-sm-12">
            <h5>To Date</h5>
            <%= text_field_tag :to_date,nil, :class => 'form-control dateTime', :placeholder=> "Please select date since filter ended" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="discount-dropDown">
          <div class="col-sm-12">
            <h5>Discount status</h5>
            <select id="discountStatus" class="form-control" data-placeholder="Select an option" name="label[]" multiple>
              <!--<option value="No Discount">No Discount</option>-->
              <option value="false" >Pending</option>
              <option value="true" >Approved</option>
              <!--<option value="cancel" >Cancel</option>-->
            </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="payment-dropDown">
          <div class="col-sm-12">
            <h5>Payment status</h5>
            <select id="paymentStatus" class="form-control" data-placeholder="Select an option" name="label[]" multiple>
              <option value="pending">Unpaid</option>
              <option value="paid" >Paid</option>
              <!--<option value="refunded" >Refunded</option>-->
              <!--<option value="canceled" >Canceled</option>-->
            </select>
           </div>
         </div>
        </div>
        <div class="col-md-4">
          <div class="referral-dropDown">
            <div class="col-sm-12">
            <h5>Referral Code / Partner</h5>
            <%= collection_select(:user, :id, User.joins(:role).where("roles.name = 'Brand ambassador'"), :id, :name, {}, html_options = {:class=>"form-control", :multiple=>"multiple", :placeholder => "Tìm theo mã giới thiệu/tên partner"}) %>
            <!--<%#= text_field_tag :partner,nil, :class => 'form-control', :placeholder=>"Tìm theo mã giới thiệu/tên partner" %>-->
            </div>
         </div>
        </div>
      </div>
      <div class="col-md-4 m-t-30 pull-right">
        <a href="/approve_sales" class="btn btn-info pull-right" style="margin-left: 5px;">Clear filter</a>
        <button onclick="apply_filter();" class="btn btn-info pull-right">Apply filter</button>
      </div>
      <br/><br/>
      <div class="form-inline m-b-sm">
        <div class="form-group m-b-sm">
          <select id="updateDiscountMulti" name="updateDiscountMulti" class="form-control m-r-sm width-175-px float-left-moblie ng-pristine ng-valid ng-touched" ng-model="multiDiscountStatus">
            <option value="order_discount_approved"> approve sale</option>
            <option value="order_discount_cancel"> cancel sale</option>
          </select>
          <button id="checkboxBtn" class="btn btn-sm btn-primary float-left-moblie">Apply</button>
          <label for="updateDiscountMulti" class="m-r-sm line-height-30 width-70-mb float-left-moblie">Order paid</label>
        </div>
      </div>
      <div class="row m-t-30">
        <div class="col-md-12">
          <div class="card-body">
            <div id="referralSale">
                <%= render partial: 'referral_sales/table' %>
            </div>
            <br/><br/><br/>
            <%#= link_to 'New Referral Sale', new_referral_sale_path %>
          </div>
        </div>
        </div>
      </div>

      <div class="featured-pagination">
        <div>
          <ul class="pagination pagination-md">
            <%= will_paginate @referral_sales, renderer: BootstrapPagination::Rails %>
          </ul>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(
            function () {
                $("#paymentStatus").select2();
                $("#discountStatus").select2();
                $("#user_id").select2();
            }
    );
    $(".dateTime").datepicker({
        format: "yyyy-mm-dd"
    });
    (function( $ ){
        $.fn.valList = function(){
            return $.map( this, function (elem) {
                return elem.value || "";
            }).join( "," );
        };
        $.fn.idList = function(){
            return $.map( this, function (elem) {
                return elem.id || "";
            }).join( "," );
        };

    })( jQuery );


    $('#checkboxBtn').click(function(){
        var ids = $("input:checked").valList();
        $.ajax({
            url: '/changed_sale_approved_status?ids='+ids,
            type: 'get',
            dataType: 'html',
            processData: false,
            success: function (data) {
                $('#referralSale').html(data);
            },
            error: function (data) {
                alert('Error');
                //    window.location.reload();
            }
        });

    });
    $('#bs4-table').DataTable({
        retrieve: true,
        "aaSorting": [],
        'columnDefs' : [     // see https://datatables.net/reference/option/columns.searchable
            {
                'searchable'    : false,
                'targets'       : [2,4,5,6]
            },
        ]
    });
    <% if params[:active].present? %>
    var name = '<%= params[:active] %>';
    $('#browsingStatus').val(name);
    <% end %>
    <% if params[:payment].present? %>
    var name = '<%= params[:payment] %>';
    $('#paymentStatus').val(name);
    <% end %>
    <% if params[:search].present? && params[:search][:discountStatus].present? %>
    var name = '<%= params[:search][:discountStatus] %>';
    $('#discountStatus').val(name);
    <% end %>

    function apply_filter(){
        var discountStatus = $('#discountStatus').val();
        var paymentStatus_val = $('#paymentStatus').val();
        var since = $('#since').val();
        var to_date = $('#to_date').val();
        var user_ids = $('#user_id').val();
        if (since == "" && to_date == ""){

        }else{
            if (since != ""){
                if (to_date == ""){
                    alert("please select to date first.");
                    return false;
                }
            }
            if (to_date != ""){
                if (since == ""){
                    alert("please select to since first.");
                    return false;
                }
            }
        }
        window.location.href = '/approve_sales?search[start_date]='+since+'&search[end_date]='+to_date+'&search[partner]='+user_ids+'&search[discountStatus]='+discountStatus+'&payment='+paymentStatus_val;
    }
</script>