<div class="col-md-9">
  <h1><%= t('referral_sales.index.page_title') %></h1>
  <hr>
  <table class="table table-striped table-bordered" id="referral-sales">
    <thead>
      <tr>
        <th><%= t('referral_sales.table_headers.order_label') %></th>
        <th><%= t('referral_sales.table_headers.price_label') %></th>
        <th><%= t('referral_sales.table_headers.customer_name') %></th>
        <th><%= t('referral_sales.table_headers.email_label') %></th>
        <th><%= t('referral_sales.table_headers.shop_name_label') %></th>
        <th><%= t('referral_sales.table_headers.address_label') %></th>
        <th><%= t('referral_sales.table_headers.ambassador_label') %></th>
        <th><%= t('referral_sales.table_headers.commission_label') %></th>
        <th><%= t('referral_sales.table_headers.tracking_label') %></th>
        <th><%= t('referral_sales.table_headers.shipment_label') %>
        <th><%= t('referral_sales.table_headers.payment_status') %></th>
      </tr>
    </thead>

    <tbody>
      <% previous_order_no = '' %>
      <% @referral_sales.each do |referral_sale| %>
        <% previous_order_no == referral_sale.order_no ? next : previous_order_no = referral_sale.order_no %>
        <tr>
          <td><%= referral_sale.order_no %></td>
          <td><%= number_with_delimiter(referral_sale.price.to_i, delimiter: ".") %>₫</td>
          <td><%= referral_sale.name %></td>
          <td><%= referral_sale.email %></td>
          <td><%= referral_sale.shopdomain %></td>
          <td><%= referral_sale.address %></td>
          <td><%= referral_sale.user_name %></td>
          <td><%= number_with_delimiter(user_commission(referral_sale), delimiter: ".") %></td>
          <td><%= referral_sale.tracking_id %></td>
          <td><%= referral_sale.order_ghtk_status %></td>
          <td><%= referral_sale.is_approved? ? "Paid" : "Pending" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="featured-pagination">
    <div>
      <ul class="pagination pagination-md">
        <%= will_paginate @referral_sales,renderer: BootstrapPagination::Rails %>
      </ul>
    </div>
  </div>
</div>
