<div class="middle-row-grp">
  <div class="col-md-9">
    <div class="lib-panel">
      <div class="row box-shadow">
        <div class="flex-sb">
          <div class="flex-l">
            <div class="">
              <div class="flex-l">
                <div class="">
                  <%= image_tag author_avatar(conversation), width: "100%", class: 'author-image' %>
                </div>
                <div class="m-l-10">
                  <p class="p-l"><%= user_profile_link(conversation.user) %></p>
                  <p class="p-b text-left truncate-a">Saint L beau</p>
                </div>
              </div>
            </div>

            <div class="m-l-10">
              <div class="flex-l">
                <div class="">
                  <img class="" src="/assets/calender.png" width="100%">
                </div>

                <div class="m-l-10">
                  <p class="p-b m-t-8"><%= posted_date(conversation) %></p>
                </div>
              </div>
            </div>

            <div class="m-l-10 mb-l-0">
              <%#= new_reply_link(conversation) %>
              <%= link_to 'New Reply', "#", class: "btn btn-primary new_reply_btn", id: "reply-#{conversation.id}" %>
            </div>
          </div>
          <div class="">
            <% if conversation.user == current_user  ||  current_user && current_user.role.id == 6 %>
            <div class="grp-edit-delete-icon ">
              <%= link_to "javascript:void(0)", data: { url: conversation_path(conversation), name: conversation.subject }, class: "delete-group-link", id: "groups" do %>
              <i class="fa fa-trash inneer font-awesome-edit-profile" aria-hidden="true"></i>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>

        <div class="join-grp-dscptn change-font-family">
          <%= link_to conversation do %>
          <h2><%= conversation.subject %></h2>
          <% end %>

          <%# <p class="hhkt" > Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tota rem aperiam, eaque ipsa  explicabo. Nemo enim ipsam voluptatem quia voluptas rem aperiam, </p> %>
          <div class="row">
            <div class="col-md-12">
              <div class="comment more">
                <%= conversation.body.html_safe %>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-l">
          <div class="">
            <%= render partial: 'shared/conversation_reply', locals: { reply: conversation.replies.new , url: conversation_reply_conversations_path} %>
          </div>
        </div>

        <div class="flex-sb">
          <div class="flex-l  m-t-8">
            <div class="">
              <%= like_dislike_link(conversation) %>
            </div>

            <div class="m-l-10 m-t-8">
              <p class="fs-12 likes-count-<%= conversation.id %>"><%= conversation.likes_count %></p>
            </div>

            <div class="m-l-10">
              <%= link_to conversation_path(conversation) do %>
              <i class="fa fa-comment fs-20 "></i>
              <% end %>
            </div>

            <div class="m-l-10 m-t-8">
              <p class="fs-12"><%= conversation.replies_count %></p>
            </div>
          </div>

          <div class="m-t-8">
            <%#= new_reply_link(conversation) %>
            <%= link_to 'New Reply', "#", class: "btn btn-primary new_reply_btn", id: "reply-#{conversation.id}" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>