<div class="col-md-4">
  <div class="user-list1" id="user-<%= user.id %>">
    <div class="text-center">
      <%= image_tag user_avatar(user), size: '120x120', class: 'user-image' %>
    </div>

    <div class="text-center">
      <h2><%= user_name(user) %></h2>
      <h3 class="user-pp">Member Since: <%= user_joined_date(user) %> </h3>
    </div>

    <% unless user == current_user %>
      <div class="flex-c">
        <%= follow_unfollow_link(user) %>
      </div>
    <% end %>

    <div class="flex-c">
      <div class="">
        <div class="flex-l">
          <div class="">
            <span class="box_bottom_icon"><i class="fa fa-heart" style="color:red"></i> <span
              class="user-font-list"><%= user.likes_count %></span></span>
          </div>
        </div>
      </div>

      <div class="m-l-10">
        <div class="flex-l">
          <div class="">
            <span class="box_bottom_icon"><i class="fa fa-comment" style="color:#54b2b2"></i> <span
              class="user-font-list"><%= user.conversations_count %></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
