
<div class="<%= add_container %>">
  <div class="<%= blog_screen_size %>">
    <div class="banner pos-rel-banner text-center">
      <%=  image_tag @page.blog_banner.variant(combine_options: { resize: banner_size, gravity: 'Center', extent: banner_size, background: "grey", quality: 95 }), width: '100%' %> 
<div class="pos-abs-banner">
<h1 class="">You're in good company now.</h1>
<h3>Join groups to find interesting content <br> and meet amazingf insider members.</h3>
<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
</div>
    </div>
    
    <%# <div class="row">
      <div class="col-md-12 blog_banner_btn">
        <% if current_user&.is_admin? || current_user&.has_permission?('scrap_blogs', 'scrap_blogs') %>
          <%# <%= link_to t('blogs.index.blog_libray_label'), scrap_blogs_path, class: 'btn blog_library btn-primary' 
        <% end %> 

        <%# <% if current_user&.is_admin? %>
          <%# <%= link_to t('blogs.index.edit_banner_label'), "javascript:void(0);", class: 'btn edit_banner_btn btn-primary', id: 'uploaderBanner' %> 
        <%# <% end %>
      <%# </div>
    </div>  %> 

    <div class="row" style="margin-top: 10px;">
      <div class="post-heading blog-redesign-style">
        <div class="col-md-4">
          <div class="heading-featured">
            <h1><%= t('blogs.index.page_title') %></h1>
          </div>
        </div>

        <% if @blogs.count > 0 %>
          <div class="col-md-2 post-sorting  ">
            <p>SORTING</p>
            <select class="sorting-fltr" id="sort-blogs">
              <!-- <option class="fltr-dropdown" value="-1">Default</option> -->
              <option value="0"><%= t(:A_Z) %></option>
              <option value="1">A-Z </option>
              <option value="2">Z-A </option>
            </select>
          </div>

          <div class="col-md-2 post-sorting">
            <p>CATEGORY</p>
             <%# <%= select_tag 'blog[category]', options_for_select(Category.pluck(:name, :id)), { prompt: t(:All_Categories), class: "sorting-fltr", required: true, id: 'category-dropdown' } %> 

             <div class="button-group">
        <button type="button" class="btn bbbht btn-sm dropdown-toggle" data-toggle="dropdown"><span class="" style="float: left;font-weight: 500;
    color: #838181;">Category</span> <span style="float: right;font-size: 17px;" class="fa fa-angle-down" style="color: #838181;"></span></button>
<ul class="dropdown-menu">
  <li class="bbbr"><a href="#" data-value="option1" tabIndex="-1"><span>&nbsp;All categories</a></li>
  <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 2</a></li>
  <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 3</a></li>
  <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>
  <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 5</a></li>
  <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 6</a></li>
</ul>
  </div>


          </div>
        <% end %>

        <div class="col-md-3 add_blog_btn pull-right">
          <%= link_to "+ #{t('blogs.index.add_new_blog_post')}", new_blog_path, class: "btn btn-primary new_blog_btn" if signed_in? %>
        </div>

        <!-- <h2> <i class="fa fa-file"></i> Last Posts </h2> -->
      </div>
    </div>
<div class="">
               <div class="row m-p-0">
                <div class="col-md-5 col-lg-5 m-p-0 ">
                <div class="groups-cards">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="">
                            <img class="lib-img-show" src="/assets/blog-img-2.jpg">
                        </div>
                        <div class="">
                            <div class="lib-row lib-header">
                                    <div class="grp-edit-delete-icon">
                                        <img class="" src="/assets/edit-icon.png" width="100%">
                                        <img class="" src="/assets/delete-icon.png" width="100%">
                                    </div>
                                </div>
                             <div class="lib-row lib-desc">
                                <h2>Everything Eyes</h2>
                                   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tota rem aperiam, eaque ipsa  explicabo. Nemo enim ipsam voluptatem quia voluptas rem aperiam, </p>
                                   </div>
                           <div class="grp-card-icon"> 
                                <img class="" src="/assets/followers-icon.png" width="100%"> <p>0</p>
                                    <img class="" src="/assets/comment-icon.png" width="100%"> <p>0</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                </div>


                <div class="col-md-7 col-lg-7 m-p-0 ">
                <div class="groups-cards-2">
                <div class="lib-panel">
                    <div class="row box-shadow ">
                        <div class="col-md-5 m-p-0">
                            <img class="lib-img-show" src="/assets/blog-img-2.jpg">
                        </div>
                         <div class="col-md-7">
                            
                            <div class="lib-row lib-desc">
                            <div class="flex-sb">
                            
                                <h2>Everything Eyes</h2>
                                <div class="lib-row lib-header">
                                    <div class="grp-edit-delete-icon">
                                        <img class="" src="/assets/edit-icon.png" width="100%">
                                        <img class="" src="/assets/delete-icon.png" width="100%">
                                    </div>
                                </div>
                            </div>
                                   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tota rem aperiam, eaque ipsa  explicabo. Nemo enim ipsam voluptatem quia voluptas rem aperiam, </p>
                           <div class="grp-card-icon">
                                <img class="" src="/assets/followers-icon.png" width="100%"> <p>0</p>
                                    <img class="" src="/assets/comment-icon.png" width="100%"> <p>0</p>
                                </div>
                            </div>
                            
                        </div> 
                    </div>
                </div>
                </div>
                <div class="groups-cards-2">
                <div class="lib-panel">
                    <div class="row box-shadow ">
                        <div class="col-md-5 m-p-0">
                            <img class="lib-img-show" src="/assets/blog-img-2.jpg">
                        </div>
                         <div class="col-md-7">
                            
                            <div class="lib-row lib-desc">
                            <div class="flex-sb">
                            
                                <h2>Everything Eyes</h2>
                                <div class="lib-row lib-header">
                                    <div class="grp-edit-delete-icon">
                                        <img class="" src="/assets/edit-icon.png" width="100%">
                                        <img class="" src="/assets/delete-icon.png" width="100%">
                                    </div>
                                </div>
                            </div>
                                   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tota rem aperiam, eaque ipsa  explicabo. Nemo enim ipsam voluptatem quia voluptas rem aperiam, </p>
                           <div class="grp-card-icon">
                                <img class="" src="/assets/followers-icon.png" width="100%"> <p>0</p>
                                    <img class="" src="/assets/comment-icon.png" width="100%"> <p>0</p>
                                </div>
                            </div>
                            
                        </div> 
                    </div>
                </div>
                </div>
            </div>
    <br/>

    <%= hidden_field_tag :page, @next_page %>

    <div class="row show-more-button">
      <div class="col-md-8">
        <% unless @blogs.current_page == @blogs.total_pages %>
          <div class="custom-showMore-btn pull-right">
            <%= link_to "javascript:void(0);", class: "btn btn-primary showMore-btn-style", id: "load-more" do %>
              <i class="fa fa-plus"></i> <%= t('blogs.index.show_more_label') %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="col-md-4">
        <a href="javascript:" id="custom-topPage-btn"> <i class="fa fa-angle-up"></i></a>
      </div>
    </div>
  </div>
</div>


<script>
var options = [];

$( '.dropdown-menu a' ).on( 'click', function( event ) {

   var $target = $( event.currentTarget ),
       val = $target.attr( 'data-value' ),
       $inp = $target.find( 'input' ),
       idx;

   if ( ( idx = options.indexOf( val ) ) > -1 ) {
      options.splice( idx, 1 );
      setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
   } else {
      options.push( val );
      setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
   }

   $( event.target ).blur();

   console.log( options );
   return false;
});
</script>