<p id="notice"><%= notice %></p>
<div class="show-group-card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-3 lib-img-tag-show">
                            <img class="lib-img-show " src="/assets/blog-img-2.jpg">
                        </div>
                        <div class="col-md-9">
                            <div class="lib-row lib-header">
                                    <div class="grp-edit-delete-icon">
                                        <img class="" src="/assets/edit-icon.png" width="100%">
                                        <img class="" src="/assets/delete-icon.png" width="100%">
                                    </div>
                                </div>
                            <div class="lib-row lib-desc">
                                <h2>Everything Eyes</h2>
                                   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tota rem aperiam, eaque ipsa  explicabo. Nemo enim ipsam voluptatem quia voluptas rem aperiam, </p>
                           <div class="grp-card-icon">
                                <img class="" src="/assets/followers-icon.png" width="100%"> <p>0</p>
                                    <img class="" src="/assets/comment-icon.png" width="100%"> <p>0</p>
                                </div>
                            </div>
                            
                      <div class="flex-l pp-k">
                            <div class="m-tag">
                            <a class="btn btn-primary new_tag_btn" href="/blogs/new">Tag name is here</a>
                            </div>
                            <div class="">
                            
                                   <button type="button"  class="btn conversation-tag-btn btn-default">start new conversation</button>
                            </div>
                            </div>
                            
                      
                      
                        
                        </div>

<br>
                    </div>

                </div>
            </div>

<div class="middle-row-grp">

    <div class="col-md-6">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        
                        <div class="col-md-12">
                            <div class="lib-row lib-desc">
                                <h3>Create your first conversation to finish group launch!</h3>

                                   <button type="button"  class="btn conversation-btn btn-default">start new conversation</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>



    <div class="col-md-3">
                <div class="lib-panel">
                <%# box-shadow max-height-tag %>
                    <div class="row ">
                        <div class="p-tag">
                           <div class="l">
                           <div class="post-sorting  m-p-0">
            <p>SORTING</p>
            <select class="sorting-fltr" id="sort-blogs" style="font-size: 12px;">
              <!-- <option class="fltr-dropdown" value="-1">Default</option> -->
              <option value="0">A Z</option>
              <option value="1">A-Z </option>
              <option value="2">Z-A </option>
            </select>
          </div>
          <br>
                        <div class="flex-l">
                            <div class="m-tag">
                            <a class="btn btn-primary new_tag_btn" href="/blogs/new">Tag name</a>
                            </div>  
                             <div class="m-tag">
                            <a class="btn btn-primary new_tag_btn" href="/blogs/new">Tag name is here</a>
                            </div>                            
                        </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


</div>
        </div>
     </div>
</div>














<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
