<div class="show-group-carddd">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="lib-panel">
          <div class="row box-shadow">
            <div class="col-md-3 lib-img-tag-show">
              <%=  image_tag @group.logo, width: '100%' %>
            </div>

            <div class="col-md-9">
              <div class="lib-row lib-header">
                <div class="grp-edit-delete-icon">
                  <%= link_to edit_group_path(@group), class: 'content-display' do %>
                  <img src="/assets/edit-icon.png" width="100%">
                  <% end %>

                  <%= link_to @group, class: 'content-display', method: :delete, data: { confirm: "Are you sure?" } do %>
                  <img class="" src="/assets/delete-icon.png" width="100%">
                  <% end %>
                </div>
              </div>

              <div class="lib-row lib-desc">
                <h2><%= @group.name %></h2>
                <p class="hhkt"><%= @group.description %> </p>
                <div class="grp-card-icon">
                  <img class="" src="/assets/followers-icon.png" width="100%">
                  <%= link_to @group.users_count, users_group_path(@group), class: "padding-a", id: "group-users-count" %>
                  <img class="" src="/assets/comment-icon.png" width="100%">
                  <p><%= @group.conversations_count %></p>
                </div>
              </div>

              <div class="flex-l pp-k">
                <div class="m-tag">
                  <%= link_to join_button_text(@group.id), join_link_path(@group.id), remote: true, class: "btn btn-primary new_tag_btn", id: 'join-group-link' %>
                </div>
                <div class="">
                  <%= link_to t('groups.show.start_conversation'), new_conversation_path(group_id: @group.id), class: "btn conversation-tag-btn btn-default", type: "button" %>
                </div>
              </div>

            </div>
            <br>
          </div>
        </div>
        <div class="row">

          <div class="middle-row-grp">
            <% if @conversations.count.zero? %>
            <div class="col-md-6">
              <div class="lib-panel">
                <div class="row box-shadow">
                  <div class="col-md-12">
                    <div class="lib-row lib-desc">
                      <h3><%= t('groups.show.no_conversation') %></h3>
                      <%= link_to t('groups.show.start_conversation'), new_conversation_path(group_id: @group.id), class: "btn conversation-btn btn-default", type: "button" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>

            <%# <div class="col-md-3">
                      <div class="lib-panel">
                        <div class="row ">
                          <div class="p-tag">
                            <div class="l">
                              <div class="post-sorting  m-p-0">
                                <p>SORTING</p>
                                <select class="sorting-fltr" id="sort-blogs" style="font-size: 12px;">
                                  <option value="0">A Z</option>
                                  <option value="1">A-Z </option>
                                  <option value="2">Z-A </option>
                                </select>
                              </div>
                              <br>
                              <div class="flex-l">
                                <div class="m-tag">
                                  <a class="btn btn-primary new_tag_btn" href="/blogs/new">Tag name</a>
                                </div>
                                <div class="m-tag">
                                  <a class="btn btn-primary new_tag_btn" href="/blogs/new">Tag name is here</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> %>

          </div>
        </div>
        <div class="row">
          <%= render partial: 'conversations/conversation', collection: @conversations, as: :conversation %>
        </div>
      </div>
    </div>
  </div>
</div>