<div class="tab-pane active" id="groups_tab">
  <% if @your_groups.present? %>
    <div class="row" style="margin-top: 10px;">
      <div class="post-heading blog-redesign-style">
        <div class="col-md-4">
          <div class="heading-featured">
            <h1><%= t('dashboard.index.title.groups') %></h1>
          </div>
        </div>

        <%= render partial: 'users/group_filters', locals: { type: 'your-groups', user: user } %>

        <div class="col-md-3 add_blog_btn pull-right">
          <a class="btn btn-primary new_blog_btn" href="/groups/new"><%= t('groups.index.add_new_group') %></a>
        </div>
      </div>
    </div>

    <div class="row col-md-12 col-lg-12 class-z" id="your-groups">
      <%= render partial: 'groups/all_groups', locals: { groups: @your_groups } %>
    </div>

    <div class="row">
      <div class="col-md-12 pagination-div flex-sb">
        <div class="text-left">
          <%= link_to t('dashboard.index.title.previous_page'), user_groups_path(user_id: user.id, your_group_page: @your_groups.previous_page, type: 'your-groups'), remote: true, id: 'your-groups-previous', class: @your_groups.previous_page ? '' : 'hidden'  %>
        </div>

        <% if @your_groups.next_page %>
          <div class="text-right">
            <%= link_to t('dashboard.index.title.next_page'), user_groups_path(user_id: user.id, your_group_page: @your_groups.next_page, type: 'your-groups'), remote: true, id: 'your-groups-next' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <hr>

  <div class="following-groups">
    <div class="row" style="margin-top: 10px;">
      <div class="post-heading blog-redesign-style">
        <div class="col-md-4">
          <div class="heading-featured">
            <h1><%= t('dashboard.index.title.following_groups') %></h1>
          </div>
        </div>
        <%= render partial: 'users/group_filters', locals: { type: 'joined-groups', user: user } %>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 class-z" id="joined-groups">
      <%= render partial: 'groups/all_groups', locals: { groups: @joined_groups } %>
    </div>

    <hr>
    <div class='row'>
      <div class="col-md-12 pagination-div flex-sb">
        <div class="text-left">
          <%= link_to t('dashboard.index.title.previous_page'), user_groups_path(user_id: user.id, joined_group_page: @joined_groups.previous_page, type: 'joined-groups'), remote: true, id: 'joined-groups-previous', class: @joined_groups.previous_page ? '' : 'hidden'  %>
        </div>

        <% if @joined_groups.next_page %>
          <div class="text-right">
            <%= link_to t('dashboard.index.title.next_page'), user_groups_path(user_id: user.id, joined_group_page: @joined_groups.next_page, type: 'joined-groups'), remote: true, id: 'joined-groups-next' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
