<div class="<%= add_container %>">
  <div class="<%= blog_screen_size %>" id='profile'>
    <div class="lib-panel">
      <div class="box-shadow-profile ">
        <div class="flex-sb">
          <div class="flex-l">
            <div class="user-image">
              <%= image_tag user_avatar(user) %>
            </div>

            <div class="p-profile">
              <h3><%= user_name(user) %></h3>
              <div class="flex-l">
                <div class="">
                  <img src="/assets/1.png">
                </div>
                <div class="">
                  <img src="/assets/2.png">
                </div>
                <div class="">
                  <img src="/assets/3.png">
                </div>
              </div>
            </div>
          </div>

          <% unless user == current_user %>
            <div id="user-<%= user.id %>">
              <%= follow_unfollow_link(user) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tabbable-panel m-p-0">
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">
          <li class="active">
            <a href="#groups_tab" data-toggle="tab" id="groups-tab">
              <span class="tab-profile-hreading">Groups</span> <span class="cirle-profile"><%= user.groups_count %></span>
            </a>
          </li>

          <li>
            <a href="#blogs_tab" data-toggle="tab" id="blogs-tab">
              <span class="tab-profile-hreading">Blogs</span> <span class="cirle-profile"><%= user.blogs.count %></span>
            </a>
          </li>

          <li>
            <a href="#conversations_tab" data-toggle="tab" id="conversations-tab">
              <span class="tab-profile-hreading">Converstaions</span> <span class="cirle-profile"><%= user.conversations_count %></span>
            </a>
          </li>

          <li>
            <a href="#following_tab" data-toggle="tab" id="following-tab" data-type='following' data-url="<%= follows_path(id: user.id) %>">
              <span class="tab-profile-hreading">Followings</span> <span class="cirle-profile" id="user-<%= user.id %>-following-count"><%= user.following_count %></span>
            </a>
          </li>

          <li>
            <a href="#followers_tab" data-toggle="tab" id="follower-tab" data-type='followers' data-url="<%= follows_path(id: user.id) %>">
              <span class="tab-profile-hreading">Followers</span> <span class="cirle-profile" id="user-<%= user.id %>-followers-count"><%= user.followers_count %></span>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <%= render partial: 'users/groups', locals: { user: user } %>
          <div class="tab-pane" id="blogs_tab">
            <div class="">
              <div class="heading-featured">
                <h1>Your Blogs</h1>
              </div>
              <p>
                Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim
                veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel
                eum
                iriure dolor in hendrerit in vulputate velit esse molestie consequat.
              </p>
              <ul class="pagination">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">.</a></li>
                <li><a href="#">.</a></li>
                <li><a href="#">.</a></li>
                <li><a href="#">Next></a></li>
                <li><a href="#">Last>></a></li>
              </ul>
            </div>
            <div class="">
              <div class="heading-featured">
                <h1>Liked Blogs</h1>
              </div>
              <p>
                Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim
                veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel
                eum
                iriure dolor in hendrerit in vulputate velit esse molestie consequat.
              </p>

              <ul class="pagination">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">.</a></li>
                <li><a href="#">.</a></li>
                <li><a href="#">.</a></li>
                <li><a href="#">Next></a></li>
                <li><a href="#">Last>></a></li>
              </ul>
            </div>
          </div>

          <div class="tab-pane" id="conversations_tab">
            <div class="row" style="margin-top: 10px;">
              <div class="post-heading blog-redesign-style">
                <div class="col-md-4">
                  <div class="heading-featured">
                    <h1>Groups</h1>
                  </div>
                </div>

                <div class="col-md-2 ">

                </div>

                <div class="col-md-2 post-sorting m-0">
                  <p>SORTING</p>
                  <select name="sort_type" id="title-sort" class="sorting-fltr">
                    <option value="">Choose Type</option>
                    <option value="asc">A-Z</option>
                    <option value="desc">Z-A</option>
                  </select>
                </div>


                <div class="col-md-4 add_blog_btn pull-right">
                  <a class="btn btn-primary new_blog_btn" href="/groups/new">+ Start New Conversation </a>
                </div>
              </div>
            </div>
            <div class="middle-row-grp">
              <div class="col-md-12">
                <div class="lib-panel">
                  <div class="row box-shadow-conversation-profile-admin">
                    <div class="flex-sb">
                      <div class="flex-l">
                        <div class="">
                          <div class="flex-l">
                            <div class="">
                              <img class="" src="/assets/user-icon.png" width="100%">
                            </div>
                            <div class="m-l-10">
                              <p class="p-l">Admin</p>
                              <p class="p-b">Saint L beau</p>
                            </div>
                          </div>
                        </div>
                        <div class="m-l-10 mob-m-l-0">
                          <div class="flex-l">
                            <div class="">
                              <img class="" src="/assets/calender.png" width="100%">
                            </div>
                            <div class="m-l-10">
                              <p class="p-b m-t-8">Posted: 12.01.19</p>
                            </div>
                          </div>
                        </div>
                        <div class="m-l-10 mob-m-l-0">
                          <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                        </div>
                      </div>

                      <div class="grp-edit-delete-icon ">
                        <a class="" href="#">
                          <i class="fa fa-pencil inneer font-awesome-edit-profile" aria-hidden="true"></i>
                        </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                          <i class="fa fa-trash inneer 
                        font-awesome-edit-profile" aria-hidden="true"></i>
                        </a> </div>
                    </div>
                    <div class="join-grp-dscptn">
                      <h2>Everything Eyes</h2>
                      <%# <p class="hhkt" > Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tota rem aperiam, eaque ipsa  explicabo. Nemo enim ipsam voluptatem quia voluptas rem aperiam, </p> %>
                      <div class="comment more">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum laoreet, nunc eget laoreet sagittis,
                        quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                        Duis eget nisl orci. Aliquam mattis purus non mauris
                        blandit id luctus felis convallis.
                        Integer varius egestas vestibulum.
                        Nullam a dolor arcu, ac tempor elit. Donec.
                      </div>
                      <!-- after border  -->
                      <div class="jn-grp-img-show">
                        <img src="/assets/blog-img-2.jpg">
                      </div>
                    </div>
                    <div class="flex-l pt-10">
                      <div class="">
                        <img class="" src="/assets/user-icon.png" width="100%">
                      </div>
                      <div class="m-l-10 ">
                        <p class="p-b m-p-0 text-left">Saint L beau</p>
                        <p class="p-l">Today at 11:30 am</p>
                      </div>
                      <div class="comment more text-left pl-40">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum laoreet, nunc eget laoreet sagittis,
                        quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                        <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                            Aliquam mattis purus non mauris
                            blandit id luctus felis convallis.
                            Integer varius egestas vestibulum.
                            Nullam a dolor arcu, ac tempor elit. Donec.
                          </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                    </div>



                    <div class="flex-sb">
                      <div class="flex-l  m-t-8">
                        <div class="">
                          <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                        </div>
                        <div class="m-l-10 m-t-12">
                          <p class="fs-12">0</p>
                        </div>
                        <div class="m-l-10">
                          <i class="fa fa-heart fs-20" style="color: red;"></i>
                        </div>
                        <div class="m-l-10 m-t-8">
                          <p class="fs-12 m-t-3">0</p>
                        </div>
                      </div>
                      <div class="m-t-8">
                        <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- new comment -->
            <div class="col-md-12">
              <div class="lib-panel">
                <div class="row box-shadow-conversation-profile-admin">
                  <div class="flex-sb">
                    <div class="flex-l">
                      <div class="">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/user-icon.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-l">Admin</p>
                            <p class="p-b">Saint L beau</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/calender.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-b m-t-8">Posted: 12.01.19</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <a class="btn btn-primary new_reply_btn-profile" href="/blogs/new">New Reply </a>
                      </div>
                    </div>
                    <div class="grp-edit-delete-icon ">
                      <a class="" href="#">
                        <i class="fa fa-pencil inneer font-awesome-edit-profile" aria-hidden="true"></i>
                      </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                        <i class="fa fa-trash inneer 
                        font-awesome-edit-profile" aria-hidden="true"></i>
                      </a> </div>
                  </div>
                  <div class="join-grp-dscptn">
                    <h2>Everything Eyes</h2>
                    <div class="comment more">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                          Aliquam mattis purus non mauris
                          blandit id luctus felis convallis.
                          Integer varius egestas vestibulum.
                          Nullam a dolor arcu, ac tempor elit. Donec.
                        </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                    <!-- after border  -->

                  </div>
                  <div class="flex-l pt-10">
                    <div class="">
                      <img class="" src="/assets/user-icon.png" width="100%">
                    </div>
                    <div class="m-l-10 ">
                      <p class="p-b m-p-0 text-left">Saint L beau</p>
                      <p class="p-l">Today at 11:30 am</p>
                    </div>
                    <div class="comment more text-left pl-40">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                            class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                              Aliquam mattis purus non mauris
                              blandit id luctus felis convallis.
                              Integer varius egestas vestibulum.
                              Nullam a dolor arcu, ac tempor elit. Donec.
                            </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                          href="" class="morelink">Show more</a></span></div>
                  </div>
                  <div class="flex-sb">
                    <div class="flex-l  m-t-8">
                      <div class="">
                        <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                      </div>
                      <div class="m-l-10 m-t-12">
                        <p class="fs-12">0</p>
                      </div>
                      <div class="m-l-10">
                        <i class="fa fa-heart fs-20" style="color: red;"></i>
                      </div>
                      <div class="m-l-10 m-t-8">
                        <p class="fs-12 m-t-3">0</p>
                      </div>
                    </div>
                    <div class="m-t-8">
                      <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- last section comment -->
            <div class="col-md-12">
              <div class="lib-panel">
                <div class="row box-shadow-conversation-profile-admin">
                  <div class="flex-sb">
                    <div class="flex-l">
                      <div class="">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/user-icon.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-l">Admin</p>
                            <p class="p-b">Saint L beau</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/calender.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-b m-t-8">Posted: 12.01.19</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <a class="btn btn-primary new_reply_btn-profile" href="/blogs/new">New Reply </a>
                      </div>
                    </div>
                    <div class="grp-edit-delete-icon ">
                      <a class="" href="#">
                        <i class="fa fa-pencil inneer font-awesome-edit-profile" aria-hidden="true"></i>
                      </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                        <i class="fa fa-trash inneer 
                        font-awesome-edit-profile" aria-hidden="true"></i>
                      </a> </div>
                  </div>
                  <div class="join-grp-dscptn">
                    <h2>Everything Eyes</h2>
                    <div class="comment more">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                            class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                              Aliquam mattis purus non mauris
                              blandit id luctus felis convallis.
                              Integer varius egestas vestibulum.
                              Nullam a dolor arcu, ac tempor elit. Donec.
                            </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                          href="" class="morelink">Show more</a></span></div>
                    <!-- after border  -->

                  </div>
                  <div class="flex-l pt-10 pb-10 bbbb">
                    <div class="">
                      <img class="" src="/assets/user-icon.png" width="100%">
                    </div>
                    <div class="m-l-10 ">
                      <p class="p-b m-p-0 text-left">Saint L beau</p>
                      <p class="p-l">Today at 11:30 am</p>
                    </div>
                    <div class="comment more text-left pl-40">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                            class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                                class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                                  Aliquam mattis purus non mauris
                                  blandit id luctus felis convallis.
                                  Integer varius egestas vestibulum.
                                  Nullam a dolor arcu, ac tempor elit. Donec.
                                </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                              href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a href=""
                          class="morelink">Show more</a></span></div>
                    <div class="grp-img-show-profile pl-40 ">
                      <img src="/assets/blog-img-2.jpg">
                    </div>
                  </div>
                  <div class="flex-sb">
                    <div class="flex-l  m-t-8">
                      <div class="">
                        <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                      </div>
                      <div class="m-l-10 m-t-12">
                        <p class="fs-12">0</p>
                      </div>
                      <div class="m-l-10">
                        <i class="fa fa-heart fs-20" style="color: red;"></i>
                      </div>
                      <div class="m-l-10 m-t-8">
                        <p class="fs-12 m-t-3">0</p>
                      </div>
                    </div>
                    <div class="m-t-8">
                      <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ul class="pagination">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">Next></a></li>
              <li><a href="#">Last>></a></li>
            </ul>

            <!-- liked conversation start -->


            <div class="row" style="margin-top: 10px;">
              <div class="post-heading blog-redesign-style">
                <div class="col-md-4">
                  <div class="heading-featured">
                    <h1>Liked Conversation</h1>
                  </div>
                </div>


                <div class="col-md-5 ">

                </div>
                <div class="col-md-3  ">
                  <div class="post-sorting m-0">
                    <p>SORTING</p>
                    <select name="sort_type" id="title-sort" class="sorting-fltr">
                      <option value="">Choose Type</option>
                      <option value="asc">A-Z</option>
                      <option value="desc">Z-A</option>
                    </select>
                  </div>
                </div>


              </div>
            </div>
            <div class="middle-row-grp">
              <div class="col-md-12">
                <div class="lib-panel">
                  <div class="row box-shadow-conversation-profile-admin">
                    <div class="flex-sb">
                      <div class="flex-l">
                        <div class="">
                          <div class="flex-l">
                            <div class="">
                              <img class="" src="/assets/user-icon.png" width="100%">
                            </div>
                            <div class="m-l-10">
                              <p class="p-l">Admin</p>
                              <p class="p-b">Saint L beau</p>
                            </div>
                          </div>
                        </div>
                        <div class="m-l-10 mob-m-l-0">
                          <div class="flex-l">
                            <div class="">
                              <img class="" src="/assets/calender.png" width="100%">
                            </div>
                            <div class="m-l-10">
                              <p class="p-b m-t-8">Posted: 12.01.19</p>
                            </div>
                          </div>
                        </div>
                        <div class="m-l-10 m-l-10">
                          <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                        </div>
                      </div>

                    </div>
                    <div class="join-grp-dscptn">
                      <h2>Everything Eyes</h2>
                      <%# <p class="hhkt" > Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tota rem aperiam, eaque ipsa  explicabo. Nemo enim ipsam voluptatem quia voluptas rem aperiam, </p> %>
                      <div class="comment more">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum laoreet, nunc eget laoreet sagittis,
                        quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                        Duis eget nisl orci. Aliquam mattis purus non mauris
                        blandit id luctus felis convallis.
                        Integer varius egestas vestibulum.
                        Nullam a dolor arcu, ac tempor elit. Donec.
                      </div>
                      <!-- after border  -->
                      <div class="jn-grp-img-show">
                        <img src="/assets/blog-img-2.jpg">
                      </div>
                    </div>
                    <div class="flex-l pt-10">
                      <div class="">
                        <img class="" src="/assets/user-icon.png" width="100%">
                      </div>
                      <div class="m-l-10 ">
                        <p class="p-b m-p-0 text-left">Saint L beau</p>
                        <p class="p-l">Today at 11:30 am</p>
                      </div>
                      <div class="comment more text-left pl-40">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum laoreet, nunc eget laoreet sagittis,
                        quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                        <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                            Aliquam mattis purus non mauris
                            blandit id luctus felis convallis.
                            Integer varius egestas vestibulum.
                            Nullam a dolor arcu, ac tempor elit. Donec.
                          </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                    </div>



                    <div class="flex-sb">
                      <div class="flex-l  m-t-8">
                        <div class="">
                          <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                        </div>
                        <div class="m-l-10 m-t-12">
                          <p class="fs-12">0</p>
                        </div>
                        <div class="m-l-10">
                          <i class="fa fa-heart fs-20" style="color: red;"></i>
                        </div>
                        <div class="m-l-10 m-t-8">
                          <p class="fs-12 m-t-3">0</p>
                        </div>
                      </div>
                      <div class="m-t-8">
                        <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- new comment -->
            <div class="col-md-12">
              <div class="lib-panel">
                <div class="row box-shadow-conversation-profile-admin">
                  <div class="flex-sb">
                    <div class="flex-l">
                      <div class="">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/user-icon.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-l">Admin</p>
                            <p class="p-b">Saint L beau</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/calender.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-b m-t-8">Posted: 12.01.19</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <a class="btn btn-primary new_reply_btn-profile" href="/blogs/new">New Reply </a>
                      </div>
                    </div>
                  </div>
                  <div class="join-grp-dscptn">
                    <h2>Everything Eyes</h2>
                    <div class="comment more">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                          Aliquam mattis purus non mauris
                          blandit id luctus felis convallis.
                          Integer varius egestas vestibulum.
                          Nullam a dolor arcu, ac tempor elit. Donec.
                        </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                    <!-- after border  -->

                  </div>
                  <div class="flex-l pt-10">
                    <div class="">
                      <img class="" src="/assets/user-icon.png" width="100%">
                    </div>
                    <div class="m-l-10 ">
                      <p class="p-b m-p-0 text-left">Saint L beau</p>
                      <p class="p-l">Today at 11:30 am</p>
                    </div>
                    <div class="comment more text-left pl-40">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                            class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                              Aliquam mattis purus non mauris
                              blandit id luctus felis convallis.
                              Integer varius egestas vestibulum.
                              Nullam a dolor arcu, ac tempor elit. Donec.
                            </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                          href="" class="morelink">Show more</a></span></div>
                  </div>
                  <div class="flex-sb">
                    <div class="flex-l  m-t-8">
                      <div class="">
                        <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                      </div>
                      <div class="m-l-10 m-t-12">
                        <p class="fs-12">0</p>
                      </div>
                      <div class="m-l-10">
                        <i class="fa fa-heart fs-20" style="color: red;"></i>
                      </div>
                      <div class="m-l-10 m-t-8">
                        <p class="fs-12 m-t-3">0</p>
                      </div>
                    </div>
                    <div class="m-t-8">
                      <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- last section comment -->
            <div class="col-md-12">
              <div class="lib-panel">
                <div class="row box-shadow-conversation-profile-admin">
                  <div class="flex-sb">
                    <div class="flex-l">
                      <div class="">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/user-icon.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-l">Admin</p>
                            <p class="p-b">Saint L beau</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/calender.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-b m-t-8">Posted: 12.01.19</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <a class="btn btn-primary new_reply_btn-profile" href="/blogs/new">New Reply </a>
                      </div>
                    </div>
                  </div>
                  <div class="join-grp-dscptn">
                    <h2>Everything Eyes</h2>
                    <div class="comment more">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                            class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                              Aliquam mattis purus non mauris
                              blandit id luctus felis convallis.
                              Integer varius egestas vestibulum.
                              Nullam a dolor arcu, ac tempor elit. Donec.
                            </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                          href="" class="morelink">Show more</a></span></div>
                    <!-- after border  -->
                  </div>
                  <div class="flex-l pt-10 pb-10 bbbb">
                    <div class="">
                      <img class="" src="/assets/user-icon.png" width="100%">
                    </div>
                    <div class="m-l-10 ">
                      <p class="p-b m-p-0 text-left">Saint L beau</p>
                      <p class="p-l">Today at 11:30 am</p>
                    </div>
                    <div class="comment more text-left pl-40">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                            class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                                class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                                  Aliquam mattis purus non mauris
                                  blandit id luctus felis convallis.
                                  Integer varius egestas vestibulum.
                                  Nullam a dolor arcu, ac tempor elit. Donec.
                                </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                              href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a href=""
                          class="morelink">Show more</a></span></div>
                    <div class="grp-img-show-profile pl-40 ">
                      <img src="/assets/blog-img-2.jpg">
                    </div>
                  </div>
                  <div class="flex-sb">
                    <div class="flex-l  m-t-8">
                      <div class="">
                        <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                      </div>
                      <div class="m-l-10 m-t-12">
                        <p class="fs-12">0</p>
                      </div>
                      <div class="m-l-10">
                        <i class="fa fa-heart fs-20" style="color: red;"></i>
                      </div>
                      <div class="m-l-10 m-t-8">
                        <p class="fs-12 m-t-3">0</p>
                      </div>
                    </div>
                    <div class="m-t-8">
                      <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ul class="pagination">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">Next></a></li>
              <li><a href="#">Last>></a></li>
            </ul>

          </div>

          <!-- 4th tab start -->
          <div class="tab-pane" id="following_tab">
            <div class="p-t-10">
              <div class="row m-p-0" id="following-users">
              </div>
            </div>
          </div>

          <div class="tab-pane" id="followers_tab">
            <div class="p-t-10">
              <div class="row m-p-0" id="follower-users">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
