<div class="col-md-4 pl-0" id="user-<%= user.id%>">
  <div class="lib-panel">
    <div class="box-shadow-profile-followers">
      <div class="flex-c">
        <div class="follow-users">
          <%= image_tag user_avatar(user) %>
          <div class="">
            <h3 class="p-profile-ad"><%= user_name(user) %></h3>
            <p class="font-size-p-ad">Member Since: <%= user_joined_date(user) %></p>
          </div>
        </div>
      </div>

      <div class="flex-c">
        <%= follow_unfollow_link(user) %>
      </div>
    </div>
  </div>
</div>
