<div class="col-md-12" id="new-reply-<%= reply.parent_id%>" style="display: none">
  <div class="lib-panel">
    <%= form_for(reply, url: url, html: {id: "reply_#{reply.parent_id}", class: "reply"}) do |form| %>
    <%= form.hidden_field :group_id, value: reply.parent.group_id %>
    <%= hidden_field_tag  :id, reply.parent_id %>
    <div class="ambassador-dashboard-con">
      <div class="form-group">
        <%= form.text_area :body, class: 'medium-editor' %>
      </div>
    </div>
    <div class="flex-l">

      <div class="actions">
        <%= form.submit 'Publish', id: "submit-reply-#{reply.parent_id}", class: 'btn btn-primary con_banner_btn submit-reply', style: 'float: left' %>
      </div>

      <div class="actions">

        <button type="button" class="btn btn-danger con_banner_btn reply-cancel" id="reply-<%= reply.parent_id%>"
          style="margin-left: 10px;">Cancel</button>
      </div>
    </div>

    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(".submit-reply").click(function (event) {
    get_parent_id = this.id.split("-")[2]
    get_form = document.getElementById("reply_" + get_parent_id)
    $(get_form).submit(function (event) {
      if (this.elements[7].value.length == 0 || $.parseHTML(this.elements[7].value)[0].textContent.trim().length == 0) {
        alert("Please enter reply first");
        event.stopImmediatePropagation();
        return false;
      }
    })
  })
</script>