<div id="signIn" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-holder">
          <div class="main-login">
            <h3 class="text-center"><%= t('login.login_label') %></h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-6 pd-l-0 pd-r-0 col-sm-12 col-xs-12">
                  <a href='/auth/facebook?invite=<%= params[:invite] %>' class="btn btn-lg btn-primary button-fonts btn-block"> <i class="fa fa-facebook-square"></i> <%= t('login.facebook_signin_label') %></a>
                </div>
                <div class="col-md-6 pd-l-0 pd-r-0 col-sm-12 col-xs-12">
                  <a href='/auth/google?invite=<%= params[:invite] %>' class="btn btn-lg btn-danger button-fonts btn-block"> <i class="fa fa-google-plus-square "></i> <%= t('login.google_signin_label') %></a>
                </div>
              </div>
            </div>
            <div class="login-or">
              <span class="span-or text-center"><%= t('register.or_label') %></span>
            </div>
            <%= form_for :resource, url: session_path(resource_name),  method: "POST", :html => {:id =>"sign_in_user", :onsubmit => "return false;"}  do |f| %>
            <div class="form-group">
              <%= f.label t('register.email_label') %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: t('register.email_placeholder'), :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label t('register.password_label') %><br />
              <%= f.password_field :password, autocomplete: "off",placeholder: t('register.password_placeholder'), :class => 'form-control' %>
            </div>
            <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box t(:remember_me) %>
              <%= f.label t(:remember_me) %>
            </div>
            <% end -%>
            <div class="actions text-center">
              <button class="btn btn-primary btn-lg btn-bottom btn-block" onclick="login_user();"><%= t('unauthorized_header.login_label') %></button>
            </div>
            <div class="row">
              <div class="col-md-6 create-account-div">
                <a href="javascript:void(0);" onclick="register_form();" class="text-center"><%= t('login.create_account_label') %></a>
              </div>
              <div class="col-md-6 text-right">
                <a href="javascript:void(0);" onclick="forgot_password();" class="text-center"><%= t('login.forgot_password_label') %></a>
              </div>
            </div>
            <% end %>
            <%#= render "devise/shared/links" %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetFields()"><%= t('register.close_label') %></button>
      </div>
    </div>
  </div>
</div>

<div id="signUp" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">-->
      <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
      <!--</div>-->
      <div class="modal-body">
        <div class="modal-holder">
          <div class="main-login">
            <h3 class="text-center"><%= t('register.register_label') %></h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-6 col-sm-6 pd-l-0 pd-r-0 col-xs-6">
                  <a href='/auth/facebook?invite=<%= params[:invite] %>' class="btn btn-lg btn-primary btn-block button-fonts">
                    <i class="fa fa-facebook-square"></i> <%= t('register.facebook_signup_label') %></a>
                </div>
                <div class="col-md-6 col-sm-6 pd-r-0 pd-l-0 col-xs-6">
                  <a href='/auth/google?invite=<%= params[:invite] %>' class="btn btn-lg btn-danger btn-block button-fonts">
                    <i class="fa fa-google-plus-square "></i> <%= t('register.google_signup_label') %></a>
                </div>
              </div>
            </div>
            <div class="login-or">
              <!--<hr class="hr-or">-->
              <span class="span-or text-center"><%= t('register.or_label') %></span>
            </div>
            <%= form_for :resource, url: registration_path(resource_name), method: "POST", :html => {:id =>"sign_up_user", :onsubmit => "return false;"}  do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label t('register.username_label') %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "Name",placeholder: t('register.enter_name_placeholder'), class: 'form-control', id: "registration_user_name" %>
            </div>
            <% if params[:signup].present? %>
              <%= f.hidden_field :reference_no, value: true%>
            <% end %>
            <div class="form-group">
              <%= f.label t('register.email_label') %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: t('register.email_placeholder'), class: 'form-control', id: "registration_email" %>
            </div>
            <%= hidden_field_tag :invite, params[:invite] %>
            <div class="form-group">
              <%= f.label t('register.password_label') %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off",placeholder: t('register.password_placeholder'), class: 'form-control', id: "registration_password" %>
            </div>
            <div class="actions text-center">
              <button class="btn btn-lg btn-bottom btn-primary btn-block" onclick="sign_up_user();" id="register-btn"><%= t('unauthorized_header.register_label') %></button>
              <a href="javascript:void(0);" onclick="login_form();" class="text-center"><%= t('register.have_account_label') %></a>
            </div>
            <% end %>
            <%#= render "devise/shared/links" %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetFields()"><%= t('register.close_label') %></button>
      </div>
    </div>
  </div>
</div>

<div id="forgotPassword" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">-->
      <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
      <!--</div>-->
      <div class="modal-body" style="padding-top: 30px">
        <div class="modal-holder">
          <%= form_for :resource, url: password_path(resource_name), method: "POST", :html => {:id =>"forgot_password_form"}  do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label t('register.email_label') %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control', required: true, id: "forgot_password_email" %>
          </div>
          <div class="actions">
            <button class="btn btn-primary btn-lg btn-bottom btn-block" id="send_instructions"><%= t('forgot_password.send_instruction_label')%></button>
          </div>
          <% end %>
          <div class="row">
            <div class="col-md-6">
              <a href="javascript:void(0);" onclick="login_form();" class="text-center"><%= t('unauthorized_header.login_label') %></a>
            </div>
            <div class="col-md-6 text-right">
              <a href="javascript:void(0);" onclick="register_form();" class="text-center"><%= t('login.create_account_label') %></a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('register.close_label') %></button>
      </div>
    </div>
  </div>
</div>
