<div class="nav-side-menu account-side-menu-style sidebar-style">
  <div class="brand">
    <div class="user-image">
      <div id="updateUserImage">
        <%= render partial: "shared/user_image" %>
        <div class="dropdown ab-dropdown">
          <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">
          <i class="fa fa-camera"></i>
          </button>
          <ul class="dropdown-menu">
            <li> <a href="javascript:void(0);" onclick="uploadImage();">image</a></li>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="m-profile-holder">
      <div class="row">
        <div class="col-md-12">
          <%= current_user.name %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 account-brand-icon">
          <p style="color: gold"> <img src="/assets/coin.png"> <%= current_user.points.present? ? current_user.points.sum(:point_value).to_i : 0 %> Coins <button style="display: inline-block; border: none; vertical-align: top;margin: 3px 0" data-target="#coinModal" data-toggle="modal" class="btn btn-default"><i class="fa fa-question-circle"></i></button> <span class="pull-right"> 
            <img src="/assets/dollar.png"> <%= current_user.total_income %> $</span>
          </p>
        </div>
      </div>
    </h2>
    <ul>
    </ul>
  </div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list custom-side-menu">
    <ul id="menu-content" class="menu-content collapse out">
        <li class="row d-profile-holder" >
          <div class="col-md-12 account-brand-icon">
            <% unless current_user.is_admin? %>
              <p style="color: gold"> <img src="/assets/coin.png"> <%= current_user.points.present? ? current_user.points.sum(:point_value).to_i : 0 %> Coins <button style="display: inline-block; border: none; vertical-align: top;margin: 3px 0" data-target="#coinModal" data-toggle="modal" class="btn btn-default"><i class="fa fa-question-circle"></i></button> <span class="pull-right"> 
                <img src="/assets/dollar.png"> <%= current_user.total_income %>₫</span>
              </p>
            <% end %>
          </div>
        </li>

      <% unless current_user.is_admin? %>
        <li>
          <%= link_to dashboard_path, class: active_class(dashboard_path) || active_class(buyerDashboard_path) do %>
          <i class="custom-icon"><img src="/assets/icon-1.png"></i>Dashboard
          <% end %>
        </li>

        <li>
          <%= link_to share_with_friends_path, class: active_class(share_with_friends_path) do %>
          <i><img src="/assets/icon-2.png"></i> Share with friends
          <% end %>
        </li>

        <li>
          <%= link_to take_snapshot_path, class: active_class(take_snapshot_path) do %>
          <i><img src="/assets/icon-3.png"> </i> Take a snapshot and share
          <% end %>
        </li>

        <li  data-toggle="" data-target="#" class="collapsed">
          <%= link_to exchange_coins_users_path, class: "#{active_class(exchange_coins_users_path)}" do %>
            <i class="fa fa-exchange" style="padding-right: 42px;"></i> Exchange Coins
          <% end %>
        </li>

        <li  data-toggle="" data-target="#" class="collapsed">
          <a href="/orders/my" class="<%= active_class(my_orders_path) %>"><i class="custom-icon"><img src="/assets/icon-8.png"> </i> <span style="display:inline-block;margin-left:6px;"> My Order </span></a>
        </li>
      <% end %>

      <% unless current_user.is_buyer? %>
        <li  data-toggle="" data-target="#" class="collapsed">
          <a href="/referral_sales" class="<%= active_class(referral_sales_path) %>"><i class="custom-icon"><img src="/assets/icon-4.png"> </i>  My Sales </a>
        </li>
      <% end %>

      <li  data-toggle="" data-target="#" class="collapsed">
        <a href="/blogs" class="<%= active_class(blogs_path) %>"><i class="custom-icon"><img src="/assets/icon-6.png"> </i> Blogs</a>
      </li>

      <% if current_user.is_admin? || current_user.has_permission?('all_orders', 'orders') %>
        <li  data-toggle="" data-target="#" class="collapsed">
          <a href="/orders" class="<%= active_class(orders_path) %>"><i class="custom-icon"><img src="/assets/icon-8.png"> </i> <span style="display:inline-block;margin-left:6px;"> All Orders </span></a>
        </li>
      <% end %>

      <% if current_user.is_admin? %>
        <li>
          <%= link_to permissions_path, class: active_class(permissions_path) do %>
            <i class="custom-icon fa fa-universal-access"></i> <span class="ml-4">Permission Manager</span>
          <% end %>
        </li>
      <% end %>

      <% if current_user.is_admin? || current_user.has_permission?('brand_ambassadors', 'users')%>
        <li>
          <a href="/users/brand_ambassadors" class="<%= active_class("/users/brand_ambassadors") %>"><i class="custom-icon"><img src="/assets/tag-sidebar.png"> </i> Commission  </a>
        </li>
      <% end %>

      <% if current_user.is_admin? || current_user.has_permission?('approve_sales', 'referral_sales')%>
        <li>
          <a href="/approve_sales" class="<%= active_class(approve_sales_path) %>"><i class="custom-icon"><img src="/assets/iocn-5.png"> </i> Approve Sales  </a>
        </li>
      <% end %>

      <% if current_user.is_admin? || current_user.has_permission?('configurations', 'settings')%>
        <li>
          <a class="auto click-close <%= active_class(edit_setting_path(Setting.first)) %>" href="<%= edit_setting_path(Setting.first) %>">
          <i class="fa fa-gears sidebar-icon"></i>
          <span class="ng-binding"> Configuration</span>
          </a>
        </li>
      <% end %>

      <% if current_user.is_admin? || current_user.has_permission?('index', 'payments') %>
        <li class="menu-item ng-scope" ng-repeat="item in menu.items | orderBy: 'position'">
          <a class="auto click-close <%= active_class(payments_path) %>" href="/payments">
          <i class="fa fa-money sidebar-icon"></i>
          <span class="ng-binding"> Payment History</span>
          </a>
        </li>
      <% end %>

      <% if current_user.is_admin? || current_user.has_permission?('ambassadors', 'users') %>
        <li>
          <a href="/users" class="<%= active_class(users_path) %>"><i class="custom-icon"><img src="/assets/ambassador-sidebar.png"> </i> Ambassadors  </a>
        </li>
      <% end %>

      <% if current_user.is_admin? || current_user.has_permission?('ban', 'users') %>
        <li>
          <%= link_to users_ban_users_path, class: active_class(users_ban_users_path) do %>
            <i class="custom-icon fa fa-ban"></i><span class="ml-4">Ban Users</span>
          <% end %>
        </li>
      <% end %>

      <% if current_user.is_admin? || current_user.has_permission?('deduct_points', 'users') %>
        <li>
          <%= link_to users_ban_users_path(deduct_points: true), class: active_class(users_ban_users_path(deduct_points: true)) do %>
            <i class="custom-icon fa fa-minus-circle"></i> <span class="ml-4">Deduct Points</span>
          <% end %>
        </li>
      <% end %>

      <% if current_user.is_admin? || current_user.has_permission?('categories', 'categories') %>
        <li>
          <a href="/categories" class="<%= active_class(categories_path) %>"><i class="custom-icon"><img src="/assets/categories-sidebar.png"> </i>  Categories  </a>
        </li>
      <% end %>

      <% if current_user.is_admin? || current_user.has_permission?('manage_rewards', 'point_types') %>
        <li>
          <a href="/point_types" class="<%= active_class(point_types_path) %>"><i class="custom-icon"><img src="/assets/reward-sidebar.png"> </i> Manage Rewards  </a>
        </li>
      <% end %>

      <% if current_user.is_admin? || current_user.has_permission?('page_design', 'dashboard') %>
        <li>
          <%= link_to page_design_path, class: active_class(page_design_path) do %>
            <i class="fa fa-paint-brush"></i> <span class="ml-4">Pages Design</span>
          <% end %>
        </li>
      <% end %>

      <li>
        <a href="/acc_settings" class="<%= active_class(acc_settings_path) %>"><i class="custom-icon"><img width="16" src="/assets/icon-10.png"> </i>Acc settings  </a>
      </li>
    </ul>
  </div>
</div>

<div class="account-side-btn">
  <% if current_user.is_ambassador? %>
    <a href="javascript:void(0);" onclick="copyToClipboard('text_element');" class="btn btn-lg btn-block acc-btn-style btn-primary" style="margin-bottom: 20px; margin-left: 7px; margin-top: 10px">Copy Referral Link</a>
  <% end %>
</div>

<div id="imageUploader" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div id="uploadImage">
      </div>
    </div>
  </div>
</div>

<div id="coinModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-cu">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="modal-holder">
          <% if current_user.is_admin? %>
            <div class="row">
              <div class="col-md-12 text-right cu-btn-holder">
                <%= link_to edit_earn_coin_path(@earn_coin.id), class: "btn btn-default" do %>
                  <i class="fa fa-pencil"></i> Edit
                <% end %>
              </div>
            </div>
          <% end %>

          <div id="current_user_role">
            <h3 class="text-center"><%= html_safe_content @earn_coin.main_text %></h3>
          </div>

          <div class="coin-body">
           
            <div class="row">
              <div class="col-md-12 text-center">
                <h3><%= html_safe_content @earn_coin.how_earn_text %></h3>
              </div>

              <div class="col-md-6">
                <p> <span class="">+<%= get_points 3 %></span> <strong>Post the blog</strong></p>
                <p> <span class="">+<%= get_points 1 %></span> <strong>Take and share a snapshot</strong></p>
                <p> <span class="">+<%= get_points 5 %></span> <strong>Order product in the blog post</strong></p>
              </div>

              <div class="col-md-6">
                <p> <span class="">+<%= get_points 6 %></span> <strong> Invite user to the Saint I' beau</strong></p>
                <p> <span class="">+<%= get_points 4 %></span> <strong> Invited user spent $50</strong></p>
                <p> <span class="">+<%= get_points 2 %></span> <strong> Your product was ordered </strong></p>
              </div>
            </div>
          </div>

          <div class="coin-body">
            <div class="row  text-center">
              <div class="col-md-12">
                <h3><%= html_safe_content @earn_coin.how_spend_text %></h3>
                <p><%= html_safe_content @earn_coin.earn_way %></p>
              </div>

              <div class="col-md-3 col-md-offset-3">
                <h4 class="coin-count"><%= @earn_coin.coins %></h4>
              </div>

              <div class="col-md-1">
                <p class="count-eq">=</p>
              </div>

              <div class="col-md-3 ">
                <h4 class="coin-price"><%= format_amount_to_vnd(filter_the_amount(@earn_coin.price)) %></h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<p id="text_element" style="display: none">https://shop.saintlbeau.com/?referral_url=<%= current_user.referral %></p>
<script>
  function uploadImage(){
    $.ajax({
      url:'/get_user_object',
      type:'get',
      dataType:'html',
      processData:false,
      success:function (data) {
        $('#imageUploader').modal('show');
        $('#uploadImage').html(data);
      },
      error:function (data) {
        alert ('Error');
      }
    });
  }
  function copyToClipboard(elementId) {

    // Create an auxiliary hidden input
    var aux = document.createElement("input");

    // Get the text from the element passed into the input
    aux.setAttribute("value", document.getElementById(elementId).innerHTML);

    // Append the aux input to the body
    document.body.appendChild(aux);

    // Highlight the content
    aux.select();

    // Execute the copy command
    document.execCommand("copy");

    // Remove the input from the body
    document.body.removeChild(aux);
  }
</script>

