<div id="alert">

</div>
<header class="header-holder">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SAINT L' BEAU</a>
      </div>

      <div class="collapse navbar-collapse header-custom-style" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/blogs">BLOG</a></li>
          <li><a href="/users">BRAND AMBASSADOR</a></li>
          <li><%= link_to "Store", "https://saintlbeau.myshopify.com/", target: :blank %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">      
          <li> <a href="javascript:void(0);" onclick="login_form();">Login</a></li>
          <li class="custom-register-btn-style"> <a href="javascript:void(0);" onclick="register_form();">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="home-banner" style="background-image: url(<%= @page.image.url %>)">
  <div class="overlay"></div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @page.heading.html_safe %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><%= @page.sub_heading.html_safe %></h2>
      </div>
    </div>
  </div>
</section>

<div id="signIn" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-holder">
         <div class="main-login">
          <h3 class="text-center">Log in to Saint L' Beau</h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-6 pd-l-0 pd-r-0 col-sm-6 col-xs-6">
                  <a href='/auth/facebook?invite=<%= params[:invite] %>' class="btn btn-lg btn-primary btn-block"> <i class="fa fa-facebook-square"></i> Login with Facebook</a>
                </div>
                <div class="col-md-6 pd-l-0 pd-r-0 col-sm-6 col-xs-6">
                  <a href='/auth/google?invite=<%= params[:invite] %>' class="btn btn-lg btn-danger btn-block"> <i class="fa fa-google-plus-square "></i> Login with Google +</a>
                </div>
              </div>
            </div>
            <div class="login-or">
              <span class="span-or text-center">or</span>
            </div>

            <%= form_for :resource, url: session_path(resource_name),  method: "POST", :html => {:id =>"sign_in_user", :onsubmit => "return false;"}  do |f| %>
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email", :class => 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off",placeholder: "Password", :class => 'form-control' %>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <div class="form-group">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                <% end -%>

                <div class="actions text-center">
                  <button class="btn btn-primary btn-lg btn-bottom btn-block" onclick="login_user();">Log in</button>
                </div>
                <div class="row">
                  <div class="col-md-6">
                        <a href="javascript:void(0);" onclick="register_form();" class="text-center">Create Account</a>
                    </div>
                  <div class="col-md-6 text-right">
                    <a href="javascript:void(0);" onclick="forgot_password();" class="text-center">Forgot password?</a>
                  </div>
                </div>


            <% end %>

            <%#= render "devise/shared/links" %>
          </div>


        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetFields()">Close</button>
      </div>

    </div>

  </div>
</div>

<div id="signUp" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
      <!--</div>-->
      <div class="modal-body">
        <div class="modal-holder">


          <div class="main-login">

            <h3 class="text-center">Register to Saint L' Beau</h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-6 col-sm-6 pd-l-0 pd-r-0 col-xs-6">
                  <a href='/auth/facebook?invite=<%= params[:invite] %>' class="btn btn-lg btn-primary btn-block"> <i class="fa fa-facebook-square"></i> Signup with Facebook</a>
                </div>
                <div class="col-md-6 col-sm-6 pd-r-0 pd-l-0 col-xs-6">
                  <a href='/auth/google?invite=<%= params[:invite] %>' class="btn btn-lg btn-danger btn-block"> <i class="fa fa-google-plus-square "></i> Signup with Google +</a>
                </div>
              </div>
            </div>
            <div class="login-or">
              <!--<hr class="hr-or">-->
              <span class="span-or text-center">or</span>
            </div>

            <%= form_for :resource, url: registration_path(resource_name), method: "POST", :html => {:id =>"sign_up_user", :onsubmit => "return false;"}  do |f| %>
                <%= devise_error_messages! %>

                <div class="form-group">
                  <%= f.label :Username %><br />
                  <%= f.text_field :name, autofocus: true, autocomplete: "Name",placeholder: "Enter Username", class: 'form-control', id: "registration_user_name" %>
                </div>
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Enter Email", class: 'form-control', id: "registration_email" %>
                </div>
                <%= hidden_field_tag :invite, params[:invite] %>
                <div class="form-group">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off",placeholder: "Enter Password", class: 'form-control', id: "registration_password" %>
                </div>

                <div class="actions text-center">
                  <button class="btn btn-lg btn-bottom btn-primary btn-block" onclick="sign_up_user();" id="register-btn">Register</button>
                  <a href="javascript:void(0);" onclick="login_form();" class="text-center">I have an account</a>
                </div>
            <% end %>

            <%#= render "devise/shared/links" %>
          </div>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetFields()">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="forgotPassword" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
      <!--</div>-->
      <div class="modal-body" style="padding-top: 30px">
        <div class="modal-holder">

          <%= form_for :resource, url: password_path(resource_name), method: "POST", :html => {:id =>"forgot_password_form"}  do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control', required: true, id: "forgot_password_email" %>
              </div>

              <div class="actions">
                <button class="btn btn-primary btn-lg btn-bottom btn-block" id="send_instructions">Send me reset password instructions</button>
              </div>
          <% end %>
          <div class="row">
            <div class="col-md-6">
              <a href="javascript:void(0);" onclick="login_form();" class="text-center">Login</a>
            </div>
            <div class="col-md-6 text-right">
              <a href="javascript:void(0);" onclick="register_form();" class="text-center">Create Account</a>

            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>


<script>
  $(document).ready(function () {
      $("#sign_in_user").validate({
          rules: {
              "resource[email]": {
                  required: true,
                  emailExt: true
              },
              "resource[password]": {
                  required: true,
                  minlength: 6
              }

          },
          messages: {
              "resource[email]": {
                  required: "Please Enter Email"
              }
          }
      });

      $("#forgot_password_form").validate({
        rules: {
          "resource[email]": {
            required: true,
            emailExt: true
          },
        },
        messages: {
          "resource[email]": {
            required: "Please Enter Email"
          }
        }
      });

      $("#sign_up_user").validate({
          rules: {
              "resource[name]": {
                  required: true
              },
              "resource[email]": {
                  required: true,
                  emailExt: true
                },
              "resource[password]": {
                  required: true,
                  minlength: 6
              }

          },
          messages: {
              "resource[name]": {
                  required: "Please Enter Username"
              },
              "resource[email]": {
                  required: "Please Enter Email"
              },
              "resource[password]": {
                  required: "Please Enter Password"
              }
          }
      });

  });

  jQuery.validator.addMethod("emailExt", function(value, element, param) {
    return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
  },'Please Enter A Valid Email Address.');

  function resetFields() {
    $('form').find("input[type=tex], input[type=email], input[type=password] ").val("");
  }
  function login_user(){
    var email = $('#resource_email').val();
    var password = $('#resource_password').val();
    if (!jQuery("#sign_in_user").valid()) {
      return false;
    }
    $.ajax({
      url:'/sign_in_user?user[email]='+email+ '&user[password]='+password,
      type:'post',
      dataType:'json',
      processData:false,
      success:function (data) {
          if( data.success){
              $('#signIn').modal('hide');
              localStorage.setItem('saintlbeau_current_user', email)
              window.location.href = "/dashboard"
          }else{
              return toastr.error(data.message);
          }
      },
      error:function (data) {
          alert ("Error");
      }
    });
  }

  function sign_up_user(){
      var user_name = $('#registration_user_name').val();
      var email = $('#registration_email').val();
      var password = $('#registration_password').val();
      var invite = $('#invite').val();
      $('#register-btn').attr('disabled', true)
      if (!jQuery("#sign_up_user").valid()) {
          return false;
        $('#register-btn').attr('disabled', false)
      }
      $.ajax({
          url:'/d/users',
          type:'post',
          dataType:'json',
          data: { resource: { email: email, password: password, name: user_name }, invite: invite},
          success:function (data) {
              if( data.success){
                  $('#signUp').modal('hide');
                  localStorage.setItem('saintlbeau_current_user', email)
                  window.location.href = "/dashboard"
                  $('#register-btn').attr('disabled', false)
              }else{
                  return toastr.error(data.message);
                  $('#register-btn').attr('disabled', false)
              }
          },
          error:function (data) {
              alert ("Error");
          }
      });
  }

  function setCookie(cname, cvalue) {
    document.cookie = cname + "=" + cvalue + ";";
  }

  function login_form(){
    $('#signUp').modal('hide');
    $('#forgotPassword').modal('hide');
    $('#signIn').validate().resetForm();
    $('#signIn').find('.error').removeClass('error');
    $('#signIn').modal('show');
  }
  function register_form(){
    var invite = '<%= params[:invite] %>';
    $('#invite').val(invite);
    $('#signIn').modal('hide');
    $('#forgotPassword').modal('hide');
    $('#signUp').validate().resetForm();
    $('#signUp').find('.error').removeClass('error');
    $('#signUp').modal('show');
  }
  function forgot_password(){
    $('#signIn').modal('hide');
    $('#forgotPassword').modal('show');
  }

  $('#send_instructions').click(function(e) {
    e.preventDefault();
    var email = $('#forgot_password_email').val();
    if (!jQuery("#forgot_password_form").valid()) {
        return false;
    }
    $.ajax({
      url:'/d/users/password',
      type:'post',
      dataType:'json',
      data: { resource: { email: email }},
      success:function (data) {
        if( data.success){
          $('#forgotPassword').modal('hide');
          window.location.href = "/home"
        }
        else{
          if (!data.success) {
            toastr.error(data.message);
          }
        }
      },
      error:function (data) {
        return false;
      }
    });
  })

//        $('#signUp').modal('show')


/*****clipboard******/
  function clipboardFunction() {
    var copyText = document.getElementById("clipboardFunctionInput");
    copyText.select();
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
  }

  <% if params[:invite].present? %>
    $('#signUp').modal('show');
  <% end %>

  <% if params[:blog_not_found] %>
    apprise("The blog no longer exist, Please contact support team for more information")
  <% end %>
</script>
