<%= form_for @order, url: order_path(@order), method: "PUT", html:  {remote: true, id: "edit_address", class: 'form-horizontal form-simple' }  do |form| %>
  <div class="modal-body">
    <h4 class=" text-center"><%= t('orders.index.update_adress_modal.title') %></h4>

    <div class="form-group">
      <%= form.label t('orders.index.table_headers.address_label') %>
      <%= form.text_field :address, value: @order.address, class: "form-control", required: true, id: "address" %>
    </div>

    <div class="form-group">
      <%= form.label "#{t(:edit_label)} #{t('register.username_label')}" %>
      <%= form.text_field :customer_name, value: @order.customer_name, class: "form-control", required: true, id: "username" %>
    </div>

    <div class="form-group">
      <%= form.label t('orders.index.table_headers.transport_label') %>
      <%= form.select :transport_type, options_for_select(Order.transport_types.keys, selected: Order.transport_types[@order.transport_type]) , {}, { class: "form-control", id: "transport-select" } %>
    </div>

    <div class="form-group">
      <%= form.label "#{t('orders.index.table_headers.province_label')}/#{t('orders.index.table_headers.city_label')}" %>
      <%= form.select :city, options_for_select(@cities) , {}, { :prompt => "Gender...", class: "form-control", id: "city-select" } %>
    </div>

    <%= form.hidden_field :order_id, value: @order.id %>
    <div id="district_provinces">
    </div>

    <div id="wards">
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t(:close_label) %></button>
      <%= form.submit t(:save_label) , :class => 'btn btn-success' %>
    </div>
  </div>
  <div class="error error-holder">

  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#city-select').select2();
  })

  $('#city-select').change(function(){
    city_id = $(this).val();
    order_id = $('#order_order_id').val()
    $.ajax({
      url: `/orders/district_cities?city_id=${city_id}&order_id=${order_id}`,
      type: 'get',
      contentType: 'json',
      error: function () {
        $('.loader').hide();
        alert('Error');
      }
    });
  });

  $('#edit_address').submit(function(){
    province = $('#province-select').val();
    distrcit = $('#district-select').val();

    if(province == "" && distrcit == ""){
      toastr.error('Please select any one of province/distrcit');
      return false;
    }
  });

  $('#edit_address').validate({
    rules: {
      'address': {
        required: true
      },
      'order[city]': {
        required: true
      },
      'order[ward]': {
        required: true
      }
    },
    messages: {
      'address': {
        required: "Please enter address"
      },
      "order[city]": {
        required: "Please Select City"
      },
      "order[ward]": {
        required: "Please Select Ward"
      }
    }
  });
</script>
