
<td><%= order_date(order)%> </td>
<td><%= order.order_name %></td>
<td><%= order.financial_status&.titleize %></td>
<td><%= order.store %></th>
<!-- <#% if current_user.is_admin? %> -->
<td><%= order.ghtk_label %></td>
<td><%= order.items.pluck(:name).join(",  ")  if order.items.any? %></td>
<td><%= order.customer_name %></td>
<td><%= order.phone_number.delete(' ') if order.phone_number %></td>
<td>
  <div class="form-group">
    <%= select_tag 'order[picked_phone]', options_for_select(Order.picked_phones, selected: Order.picked_phones[order.picked_phone]) , { include_blank: 'Select Status', class: "form-control phone-status", id: "order_#{order.id}", data: { order_id: order.id} } %>
  </div>
</td>
<td><%= order.email %></td>
<td><%= order.address %></td>
<td><%= order.ward_name %></td>
<td><%= order.province_name %></td>
<td><%= order.district_name %></td>
<td><%= order.city_name %></td>
<td>Vietnam</td>

<td><%= number_with_delimiter(order.total.to_i, delimiter: ".") %>₫</td>
<td><%= order.transport_type.titleize %></td>
<td><%= link_to t('orders.index.table_headers.edit_address_label'), 'Javascript:void(0);', class: 'edit_address', data: { order_id: order.id } %></td>
<td>
  <% if order.sent_to_ghtk? %>
    <%= t('orders.index.already_sent') %>
  <% else %>
    <%= link_to t('orders.index.table_headers.send_ghtk_label'), 'Javascript:void(0);', class: 'send_to_ghtk', id: order.id, data: { order_id: order.id } %>
  <% end %>
</td>
<!-- <#% else %>
  <td><#%= order.financial_status %></td>
  <td><#%= order.fulfilment_status %></td>
  <td><#%= number_with_delimiter(order.total, delimiter: ".") %>₫</td>
<#% end %> -->
