<div class="col-md-9">
  <div class="order-dropDown-style">
    <div class="row">
      <div class="col-md-12">
        <h1 class="card-header"><%= t('orders.index.title') %></h1>
        <hr>
      </div>

      <div class="col-md-10">
        <div class="col-lg-12">
          <%= search_form_for @q do |f| %>
            <div class="input-group">
              <%= f.search_field :customer_name_or_city_name_or_district_name_or_province_name_or_email_or_order_name_cont, { class: 'form-control', placeholder: t('orders.index.search_placeholder'), id: 'search-field' } %>
              <span class="input-group-btn">
                <button class="btn btn-default btn-lg" id='clear-btn' type="button" data-url="<%= orders_path %>">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </span>
            </div><!-- /input-group -->

            <br>
            <div class="text-center">
              <%= f.submit t(:search_label), class: 'btn btn-lg btn-primary' %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <table class="table table-striped table-bordered" id="orders">
    <thead>

    <tr>
      <th><%= t('orders.index.table_headers.date_label') %></th>
      <th><%= t('orders.index.table_headers.order_label') %></th>
      <th>Store</th>
      <%= render 'table_headers' %>
    </tr>
    </thead>

    <tbody>

    <% @orders.each do |order| %>
      <tr>
        <%= render partial: 'table_body', locals: { order: order } %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="featured-pagination">
    <div>
      <ul class="pagination pagination-md">
        <%= will_paginate @orders,renderer: BootstrapPagination::Rails %>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_address_modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div id="edit_address_form">

      </div>
    </div>

  </div>
</div>
