<div class="col-md-9">
  <div class="order-dropDown-style">
    <div class="row">
      <div class="col-md-12">
        <h1 class="card-header">
          <% if current_user.is_admin? %>
            All Orders
          <% else %>
            My Orders
          <% end %>
        </h1>
        <hr>
      </div>

      <% if current_user.is_admin? %>
        <div class="col-md-10">
          <div class="col-sm-12">
            <%= search_form_for @q do |f| %>
              <div class="form-group">
                <%= f.label 'Cutomer Name/ City / District / Province / Order No / Email' %>
                <%= f.search_field :customer_name_or_city_name_or_district_name_or_province_name_or_email_or_order_name_cont, class: 'form-control' %>
              </div>

              <div class="text-center">
                <%= f.submit 'Search', class: 'btn btn-lg btn-primary' %>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>

  <table class="table table-striped table-bordered" id="my-orders">
    <thead>
    <tr>
      <th>Date</th>
      <th>Order#(Shop)</th>
      <% if current_user.is_admin? %>
        <th>Tracking#(GHTK)</th>
        <th>Customer Name</th>
        <th>Phone Number</th>
        <th>Picked Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Ward</th>
        <th>Province</th>
        <th>District</th>
        <th>City</th>
        <th>Country</th>
      <% end %>
      <th>Price</th>
      <th>Edit Address</th>
      <th>Send To GHTK</th>
      <th>Tracking ID</th>
    </tr>
    </thead>

    <tbody>

    <% @orders.each do |order| %>
      <tr>
        <td><%= order_date(order) %></td>
        <td><%= order.order_name %></td>
        <% if current_user.is_admin? %>
          <td><%= order.ghtk_label %></td>
          <td><%= order.customer_name %></td>
          <td><%= order.phone_number %></td>
          <th><%= order.picked_phone? ? 'Yes' : 'No' %></th>
          <th><%= order.email %></th>
          <th><%= order.address %></th>
          <th><%= order.ward_name %></th>
          <th><%= order.province_name %></th>
          <th><%= order.district_name %></th>
          <th><%= order.city_name %></th>
          <th>Vietnam</th>
        <% end %>
        <td><%= number_with_delimiter(order.total, delimiter: ".") %>₫</td>
        <td><%= link_to 'Edit Address', 'Javascript:void(0);', class: 'edit_address', data: { order_id: order.id } %></td>
        <td>
          <% if order.sent_to_ghtk? %>
            Already Sent
          <% else %>
            <%= link_to 'Send To GHTK', 'Javascript:void(0);', class: 'send_to_ghtk', data: { order_id: order.id } %>
          <% end %>
        </td>
        <td><%= order.tracking_link %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="featured-pagination">
    <div>
      <ul class="pagination pagination-md">
        <%= will_paginate @orders,renderer: BootstrapPagination::Rails %>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_address_modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div id="edit_address_form">

      </div>
    </div>

  </div>
</div>
