<div class="col-md-9">
  <h1><%= t('sidebar.my_orders_label') %></h1>
  <hr>
  <div class="table-responsive">
  
  <table class="table table-striped table-bordered" id="my-orders">
    <thead>
    <tr>
      <th><%= t('my_orders.order_label') %>#</th>
      <th><%= t('my_orders.date_label') %></th>
      <% if current_user.is_admin? %>
        <th>Customer</th>
      <% end %>
      <th><%= t('my_orders.payment_status') %></th>
      <th><%= t('my_orders.fulfilment_status') %></th>
      <th><%= t('my_orders.price_label') %></th>
    </tr>
    </thead>


    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.order_name %></td>
          <td><%= order_date(order) %></td>
          <td><%= order.financial_status %></td>
          <td><%= fulfillment_status(order) %></td>
          <td><%= number_with_delimiter(order.total.to_i, delimiter: ".") %>₫</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
