<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>
    <div class="col-md-9">
      <p id="notice"><%= notice %></p>

      <h1>My Orders</h1>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Order#</th>
          <th>Date</th>
          <th>Payment Status</th>
          <th>Fulfillment Status</th>
          <th>Price</th>
        </tr>
        </thead>

        <tbody>

        <% @orders.each do |order| %>
            <tr>
              <td><%= order.attributes["name"] %></td>
              <td><%= order.attributes["created_at"].split('T')[0] %></td>
              <td><%= order.attributes["financial_status"] %></td>
              <td><%= order.attributes["fulfillment_status"] %></td>
              <td><%= order.attributes["total_price"] %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
