<div class="col-md-9 home-page-holder">
  <div class="row">
    <div class="col-md-12">
      <div class="main">
        <h2> <i class="fa fa-paint-brush"></i> <%= t('page_design.home_page_label') %></h2>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="m-image-frame" style="background-image: url(<%= @page.image.attached? ? rails_blob_url(@page.image) : "" %>);">
        <div class="row">
          <div class="col-md-12 text-right cu-btn-holder" >
            <%= link_to edit_page_path, class: "btn btn-default" do %>
              <i class="fa fa-pencil"></i>  <%= t(:edit_label) %>
            <% end %>
            <% if @page.image.attached? %>
              <%= link_to page_path, method: :delete, class: "btn btn-default" do %><%= t(:delete_label) %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="froala-editor">
              <h3><%= html_safe_content @page.heading %></h3>
              <span id="sub-heading"><%= html_safe_content @page.sub_heading %></span>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12 text-center">
            <input type="color" name="favcolor" value="#ff0000" class="btn btn-primary">
            <input class="jscolor" value="Button">
          </div>
          </div>
          -->
      </div>
    </div>
  </div>
</div>
