<%= link_to t('warranties.index.add_new_warranties'), new_warranty_path, class: "btn btn-primary new_blog_btn warranty-btn-position" %>
<div class="col-md-9">
  <h1><%= t('warranties.index.title') %></h1>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped table-bordered" id="Warranties">
      <thead>
        <tr>
          <th><%= t('warranties.table_headers.date_label') %>#</th>
          <th><%= t('warranties.table_headers.count_label') %></th>
          <th><%= t('warranties.table_headers.warranties_label') %></th>
        </tr>
      </thead>
      <tbody>
        <% if @warranties.any? %>
          <% @warranties.each do |date, record| %>
            <tr>
              <td><%= format_created_at(date) %></td>
              <td><%= record %></td>
              <td><%= link_to 'Warranties', warranty_path(date.strftime('%Y-%m-%d'), format: :pdf) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
