<div class="row">
  <div class="col-md-offset-2 col-md-5">
    <%= image_tag 'warranty.png', width: '75%', class: 'img-responsive warranty-img' %>
    <p class="product-warranty"><%= t('warranties.index.product-warranty') %></p>
    <p class="product-warranty-info"><%= t('warranties.index.product-warranty-info') %></p>
    <div class="row">
      <div class="col-md-offset-2 col-md-5">
        <div class="text-center">
          <%= form_tag(check_warranties_path) do %>
            <%= text_field_tag(:warranty_number, params[:warranty_number], class: "form-control", placeholder: "#{t('warranties.index.product-warranty-placeholder')}") %>
            <br>
            <%= submit_tag ("#{t('warranties.index.product-warranty-placeholder')}"), class: "btn btn-primary btn-block" %>
          <% end %>
        </div>    
      </div>
    </div>
  </div>
</div>
