<div class="table-responsive">
<table id="payments-table" class="table table-striped table-bordered" style="width:100%">
  <thead>
  <tr>
    <th><%= t('payments.table_headers.payment_code_label') %></th>
    <th><%= t('payments.table_headers.payment_date_label') %></th>
    <th><%= t('payments.table_headers.amount_label') %></th>
    <th><%= t('payments.table_headers.recipient_name_label') %></th>
    <th><%= t('payments.table_headers.email_label') %></th>
    <th><%= t('payments.table_headers.number_math_label') %></th>
    <th><%= t('payments.table_headers.status_label') %></th>
    <th><%= t('payments.table_headers.note_label') %></th>
  </tr>
  </thead>

  <tbody>
  <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.payment_code %></td>
        <td><%= payment.created_at %></td>
        <td><%= number_with_delimiter(payment.amount.to_i, delimiter: ".") %>₫</td>
        <td><%= payment.user.name %></td>
        <td><%= payment.user.email %></td>
        <td><%= payment.number_math %></td>
        <td><%= payment.status %></td>
        <td><%= payment.note %></td>
      </tr>
  <% end %>
  </tbody>

</table>

</div>