<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>
    <div class="col-md-9">

      <div class="row">
        <div class="col-md-12">
          <h1 class="card-header">View Payment History</h1>
          <hr>
          <button onclick="add_new_payment();" class="btn btn-info btn-sm pull-right">Make a Payment</button>
          <br/><br/>
          <div class="input-group">
            <input type="text" id="searchText" style="height: 30px;" class="input-sm form-control ng-pristine ng-valid ng-touched" placeholder="Payment code / Recipient name / Email " autofocus="">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button" onclick="searchPerform();"><i class="fa fa-search"></i></button>
            <!-- ngIf: doSearch -->
          <a id="crossBtn" class="btn btn-sm btn-default ng-scope" href="/users" style="display: none;"><i class="fa fa-times"></i></a>
          </span>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Since</h5>
          <%= text_field_tag :since,nil, :class => 'form-control dateTime', :placeholder=>"Please select date since filter started" %>
        </div>
        <div class="col-md-4">
          <h5>To Date</h5>
          <%= text_field_tag :to_date,nil, :class => 'form-control dateTime', :placeholder=> "Please select date since filter ended" %>
        </div>
        <div class="col-md-4">
          <h5>Partner</h5>
          <%= collection_select(:user, :id, User.joins(:role).where("roles.name = 'Brand ambassador'"), :id, :name, {}, html_options = {:class=>"form-control", :multiple=>"multiple", :placeholder => "Please select partner"}) %>
        </div>
      </div>
      <div class="col-md-12 m-t-30">
        <a href="/payments" class="btn btn-info pull-right" style="margin-left: 5px;">Clear filter</a>
        <button onclick="apply_filter();" class="btn btn-info pull-right">Apply filter</button>
      </div>
      <br/>
      <br/>

      <div class="row m-t-30">
        <div class="col-md-12">
          <div class="card-body">
            <div id="payments">
              <%= render partial: 'payments/table' %>
            </div>
          </div>
        </div>
      </div>
      <br>

<%#= link_to 'New Payment', new_payment_path %>
    </div>
  </div>
</div>
<div class="modal fade" id="addPayment" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div id="new_payment">

      </div>
    </div>

  </div>
</div>
<script>
    $(document).ready(
            function () {
                $("#user_id").select2();
            }
    );
    $(".dateTime").datepicker({
        format: "yyyy-mm-dd"
    });
    function apply_filter(){
        var since = $('#since').val();
        var to_date = $('#to_date').val();
        var user_ids = $('#user_id').val();
        if (since == "" && to_date == ""){

        }else{
            if (since != ""){
                if (to_date == ""){
                    alert("please select to date first.");
                    return false;
                }
            }
            if (to_date != ""){
                if (since == ""){
                    alert("please select to since first.");
                    return false;
                }
            }
        }
        window.location.href = '/payments?search[start_date]='+since+'&search[end_date]='+to_date+'&search[partner]='+user_ids;
    }
    function searchPerform(){
        var search = $('#searchText').val();
        window.location.href = '/payments?text='+search;
    }
    function add_new_payment(){
        $('#addPayment').modal('show');
        $.ajax({
            url:'/add_payment',
            type:'get',
            dataType:'json',
            processData:false,
            success:function (data) {
                $('#new_payment').html(data.html);
            },
            error:function (data) {
                alert ('Error');
            }
        });
    }

    $('#searchText').keyup(function() {
        var dInput = this.value;
        if (dInput == ""){
            $.ajax({
                url: '<%= clear_search_payments_path %>'
            })
        }
    });

</script>