<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>
    <div class="col-md-9">
      <p id="notice"><%= notice %></p>

      <h1>Buyer Orders</h1>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Order Id</th>
          <th>Order#</th>
          <th>Customer Email</th>
          <th>Total price</th>
          <th>Fulfillment Status</th>
        </tr>
        </thead>

        <tbody>
        <% @orders.each do |order| %>
            <tr>
              <td><%= order.attributes["id"] %></td>
              <td><%= order.attributes["name"] %></td>
              <td><%= order.attributes["email"] %></td>
              <td><%= order.attributes["total_price"] %></td>
              <td><%= order.attributes["fulfillment_status"] %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<%#= link_to 'New Referral Sale', new_referral_sale_path %>
