<!DOCTYPE html>
<html>
<head>


  <!-- <title>SaintLBeau</title> -->
  <title>SaintLBeau</title>
  <meta name="description" content="SaintLBeau">
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="SaintLBeau" />
  <meta property="og:type" content="website" />
  <%= tag :meta, property: 'og:url', content: request.fullpath.include?("invite") ? "https://ambassador-staging.saintlbeau.com?invite=#{current_user.email}" : "https://ambassador-staging.saintlbeau.com" %>
  <%= tag :meta, property: 'og:image', content: request.fullpath.include?("invite") ? rails_blob_url(@share_with_friends.image) : rails_blob_url(@page.image) %>
  <meta property="og:description" content="SaintLBeau Discription" />
  <meta property="fb:app_id" content="164286157812635">

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '164286157812635',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v2.10'
      });
      FB.AppEvents.logPageView();
    };
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">-->
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
<link href='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/css/froala_style.min.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"> </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


    <%= favicon_link_tag "/assets/favico.ico" %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

</head>

  <body>
    <% get_disqus_sso(current_user) if user_signed_in? %>
    <% if user_signed_in? %>
      <%=render :partial => "/shared/header"%>
      <div class="dashboard-holder <%= dashboard_class %>">
          <% unless blog_resource? %>
            <div class="col-md-3">
              <%= render partial: "shared/side_bar" %>
            </div>
          <% end %>
          <%= yield %>
      </div>
    <% else %>
      <%= render 'shared/unauthorized_navbar' %>
    <%= yield %>
      <%= render 'shared/modals' %>
    <% end %>

    <div class="loader">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    </div>

    <script type="text/javascript">
      <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
        toastr['<%= type %>']('<%= f[1] %>', '', {"closeButton": true, "debug": false, "positionClass": "toast-top-right", "onclick": null, "showDuration": "300", "hideDuration": "1000", "timeOut": "5000", "extendedTimeOut": "1000", "showEasing": "swing", "hideEasing": "linear", "showMethod": "fadeIn", "hideMethod": "fadeOut" });
      <% end %>
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.min.js'></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#sign_in_user").validate({
          rules: {
            "resource[email]": {
              required: true,
              emailExt: true
            },
            "resource[password]": {
              required: true,
              minlength: 6
            }

          },
          messages: {
            "resource[email]": {
              required: "Please Enter Email"
            }
          }
        });

        $("#forgot_password_form").validate({
          rules: {
            "resource[email]": {
              required: true,
              emailExt: true
            },
          },
          messages: {
            "resource[email]": {
              required: "Please Enter Email"
            }
          }
        });

        $("#sign_up_user").validate({
          rules: {
            "resource[name]": {
              required: true
            },
            "resource[email]": {
              required: true,
              emailExt: true
            },
            "resource[password]": {
              required: true,
              minlength: 6
            }

          },
          messages: {
            "resource[name]": {
              required: "Please Enter Username"
            },
            "resource[email]": {
              required: "Please Enter Email"
            },
            "resource[password]": {
              required: "Please Enter Password"
            }
          }
        });

      });

      jQuery.validator.addMethod("emailExt", function (value, element, param) {
        return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
      }, 'Please Enter A Valid Email Address.');

      function resetFields() {
        $('form').find("input[type=tex], input[type=email], input[type=password] ").val("");
      }

      function login_user() {
        var email = $('#resource_email').val();
        var password = $('#resource_password').val();
        if (!jQuery("#sign_in_user").valid()) {
          return false;
        }
        $.ajax({
          url: '/sign_in_user?user[email]=' + email + '&user[password]=' + password,
          type: 'post',
          dataType: 'json',
          processData: false,
          success: function (data) {
            if (data.success) {
              $('#signIn').modal('hide');
              Cookies.set('saintlbeau_user_email', email, {
                expires: 365,
                domain: 'saintlbeau.com'
              })
              window.location.href = "/dashboard"
            } else {
              return toastr.error(data.message);
            }
          },
          error: function (data) {
            alert("Error");
          }
        });
      }

      function sign_up_user() {
        var user_name = $('#registration_user_name').val();
        var email = $('#registration_email').val();
        var password = $('#registration_password').val();
        var invite = $('#invite').val();
        $('#register-btn').attr('disabled', true)
        if (!jQuery("#sign_up_user").valid()) {
          $('#register-btn').attr('disabled', false)
          return false;
        }
        $.ajax({
          url: '/d/users',
          type: 'post',
          dataType: 'json',
          data: {
            resource: {
              email: email,
              password: password,
              name: user_name
            },
            invite: invite
          },
          success: function (data) {
            if (data.success) {
              $('#signUp').modal('hide');
              Cookies.set('saintlbeau_user_email', email, {
                expires: 365,
                domain: 'saintlbeau.com'
              })
              window.location.href = "/dashboard"
              $('#register-btn').attr('disabled', false)
            } else {
              $('#register-btn').attr('disabled', false)
              return toastr.error(data.message);
            }
          },
          error: function (data) {
            alert("Error");
          }
        });
      }

      function login_form() {
        $('#signUp').modal('hide');
        $('#forgotPassword').modal('hide');
        $('#signIn').validate().resetForm();
        $('#signIn').find('.error').removeClass('error');
        $('#signIn').modal('show');
      }

      function register_form() {
        var invite = '<%= params[:invite] %>';
        $('#invite').val(invite);
        $('#signIn').modal('hide');
        $('#forgotPassword').modal('hide');
        $('#signUp').validate().resetForm();
        $('#signUp').find('.error').removeClass('error');
        $('#signUp').modal('show');
      }

      function forgot_password() {
        $('#signIn').modal('hide');
        $('#forgotPassword').modal('show');
      }

      $('#send_instructions').click(function (e) {
        e.preventDefault();
        var email = $('#forgot_password_email').val();
        if (!jQuery("#forgot_password_form").valid()) {
          return false;
        }
        $.ajax({
          url: '/d/users/password',
          type: 'post',
          dataType: 'json',
          data: {
            resource: {
              email: email
            }
          },
          success: function (data) {
            if (data.success) {
              $('#forgotPassword').modal('hide');
              window.location.href = "/home"
            } else {
              if (!data.success) {
                toastr.error(data.message);
              }
            }
          },
          error: function (data) {
            return false;
          }
        });
      })

      //        $('#signUp').modal('show')


      /*****clipboard******/
      function clipboardFunction() {
        var copyText = document.getElementById("clipboardFunctionInput");
        copyText.select();
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
      }

      <% if params[:invite].present? %>
        $('#signUp').modal('show');
      <% end %>

      <% if params[:blog_not_found] %>
        apprise("The blog no longer exist, Please contact support team for more information")
      <% end %>

      <% if params[:shopify_redirected] == "true" %>
        $('#signIn').modal('show');
      <% end %>
    </script>
  </body>
</html>
